[2019-08-04 11:49] phanirithvij opened #1 "No json data from any APIs"
I keep getting this `Entries exist but they do not contain any JSON data.` after every workflow execution.

e.g. starring my github repo like in the example youtube video.

But a Command Execution node works
e.g.
`node -e "console.log('success');"`
gives out a JSON
[code]

Am I doing something wrong with the access token generation on the github?
I gave all the permissions before generating the to

[2019-08-04 11:53] phanirithvij commented on #1
Working one

![image](https://user-images.githubusercontent.com/29627898/62423229-4ea4e300-b6dc-11e9-817d-6cc9ef24c754.png)

Github is not working

![image](https://user-images.githubusercontent.com/29627898/62423253-785e0a00-b6dc-11e9-92d8-f25e2e3e37db.png)

[2019-08-04 11:54] phanirithvij commented on #1
And this is how my auth looks (I hid the access token)

![image](https://user-images.githubusercontent.com/29627898/62423282-b6f3c480-b6dc-11e9-8412-b9fc4eb4f78a.png)

[2019-08-04 12:03] janober commented on #1
Hello!

I just tested and for me it seems to work fine.

So are you running it locally? Because then you have an http://localhost URL and Github can not create a webhook to such a URL (as it would be their own localhost). You need a "proper" domain to create a webhook. n8n has a special tunnel service which makes that very easy. You simply have to start n8n like this: `n8n start --tunnel`

It will

[2019-08-05 17:05] janober commented on #1
Hi!
Does it work now or do you still have issues?

[2019-08-06 08:41] phanirithvij commented on #1
Oh sorry I forgot to let you know.
Starting a tunnel didn't work for me either.

The workflow is getting executed after some random time independent of
whether I star the target repo or not. And it says it's got no data.

I'll try to record or send a reproducible demo.

And I'm unable to connect anything to the start node.

On Mon, Aug 5, 2019, 10:35 PM Jan <notifications@github.com> wrote:

[2019-08-06 08:51] janober commented on #1
Hello!
Very strange. Did you check if it creates the webhook on Github. You can see it under this URL (you just have to replace it with the user and repository name you want to watch):
https://github.com/<user>/<repository>/settings/hooks

If you start it manually it should create a webhook there and after it got "stared" or "unstared" it should get removed again automatically.

Ah yes it has an a

[2019-08-06 08:56] phanirithvij commented on #1
Thanks for your immediate response. I'll be back just a bit later as
something came up. 😅.

On Tue, Aug 6, 2019, 2:21 PM Jan <notifications@github.com> wrote:

[2019-08-06 11:20] phanirithvij commented on #1
It is creating a webhook url but the response seems to be a 404. Here's a screenshot

![image](https://user-images.githubusercontent.com/29627898/62535926-467aae00-b86a-11e9-9e57-e939c598bab6.png)

[2019-08-06 11:44] janober commented on #1
So what you do is?
 1. Press "Execute"
 2. Go directly to GitHub and star the repository.

And it does then not display any data?

On Tue, Aug 6, 2019, 13:20 Phani Rithvij <notifications@github.com> wrote:

[2019-08-06 12:20] phanirithvij commented on #1
Yes, I execute the Github node. And star the repo like in the YouTube
video. Is that wrong?

On Tue, Aug 6, 2019, 5:14 PM Jan <notifications@github.com> wrote:

[2019-08-06 18:03] janober commented on #1
Hm no sounds all correct to me. How do you start n8n? Via npm or docker?

[2019-08-06 18:56] janober commented on #1
Btw. did release a new version which fixed a bug that it took much longer than needed for the Editor-UI to get data. Do not think that causes your problem but who knows.

Do regular webhooks work for you? So if you for example create a new workflow with that node in it:
[code]

You then press "Execute Workflow" and then visit directly this page with your browser (replace <WORKFLOW_ID> with the id

[2019-08-06 20:33] phanirithvij commented on #1
This one works.

The URL gave me a data

[code]

Then it resolved after some time and I received the data

[code]

[2019-08-06 20:38] phanirithvij commented on #1
When I tried `n8n start --tunnel`

And ran a simple github star workflow

I can see some webhooks in my project settings but they are all getting `404` from the ngnix server i.e. the tunnel I'm guessing.

![image](https://user-images.githubusercontent.com/29627898/62575310-1a861980-b8b8-11e9-8a9b-bf5b64c4eb0c.png)

[2019-08-06 20:39] phanirithvij commented on #1
I start n8n from npm

[2019-08-06 20:52] phanirithvij commented on #1
A post request is being sent to the `tunnel` server when I star or unstar the repo but the tunnel server is responding with 404.

[2019-08-06 20:58] janober commented on #1
hm then it is even more confusing. When the webhook node works, the Github node should theoretically also work as they use to 100% the same code.

The nodes you did send look like totally right (even though they do not work for me as I can not set a hook on a repository I am not part of).

When you only click "Execute Workflow" and then go on the Github webhook page does it then display that webho

[2019-08-06 21:02] phanirithvij commented on #1
No, it is a red warning icon.
I'm guessing the problem is with your cloud provider? Or it might be it's not available for me or my region specifically.

[2019-08-06 21:13] janober commented on #1
Hm ok then it is really the inital request already. So probably really nothing at all gets through for some reason and it has really something to do with the tunnel.

Can you please start again with n8n with the tunnel, then make sure that you reload the browser with the Editor-UI. If you go then in the Webhook-Node and click on the orange "Webhook URLs" to display them you should see the Webhook-

[2019-08-07 05:14] janober commented on #1
And just to be very sure that you have not have for some reason a very strict firewall in place. Can you please deactivate it and try then again the Github Trigger Node.

[2019-08-07 06:58] phanirithvij commented on #1
It's not because of the firewall.
I just disabled it entirely and I still get no data.

[2019-08-07 06:59] phanirithvij commented on #1
I re-enabled my firewall.

And now I get this

[code]

[2019-08-07 09:41] janober commented on #1
I am very sorry but I am not able to help you.

I now did extra set up everything totally new on a clean Windows (as I use Ubuntu) with new Github API token and hoped so to be able to reproduce your problem but "sadly" everything worked perfectly. Have not the slightest idea why it does not work for you. Hope you can figure out what is different for you.

For your (and the most people in general)

[2019-08-07 11:55] phanirithvij commented on #1
Cool, thanks for your quick responses. I will try it out on a Linux machine
and try to isolate the problem.

On Wed, Aug 7, 2019, 3:11 PM Jan <notifications@github.com> wrote:

[2019-08-07 12:03] janober commented on #1
Would be great, especially if it turns out to be a problem which maybe more people will have. Anyway the offer I did send you via email with the free hosted instance still stands.

[2019-08-07 13:02] mockuser404 commented on #1
I tried it on Linux but it's even weirder as it immediately gets executed.

So I've created a mock user on github.

@mockuser404
password: mockpassword404

And a test repository: https://github.com/mockuser404/test

I've generated an access token `31402d1eb32a1a397bc49406878468e5108be256`

Those are the credentials.

And this is the workflow JSON file.
[github.json.zip](https://github.com/n8n-io/n

[2019-08-07 13:03] mockuser404 commented on #1
Btw I'm @phanirithvij

[2019-08-07 13:15] mockuser404 commented on #1
Leave it.
It's working on Linux.
I see you're connecting to some specific port but not simple http, https requests.

Like `hooks.n8n.cloud:37085`
I had my proxy settings configured to prevent torrents i.e it blocks all ports except the standard ones that is what caused the problem.

I reset my proxy settings and it works now.

It's a problem on my side.
Sorry for wasting your time.

[2019-08-07 13:17] #1 closed

[2019-08-07 13:18] phanirithvij commented on #1
Great project btw.

[2019-08-07 13:36] janober commented on #1
Ah just saw your messages now. Really great to hear that this mystery is now solved.

[2019-08-07 13:44] phanirithvij commented on #1
And how can I change the n8n configuration settings?
Like e.g. You've disabled `Execute command` node on your hosted server.
Is it possible to do it locally?

[2019-08-07 13:52] janober commented on #1
Everything that can be configured can be found here:
https://github.com/n8n-io/n8n/blob/master/packages/cli/config/index.ts

To not load some node types the "NODES_EXCLUDE" environment variable can be set.

I for example set this one:
[code]

[2019-08-07 14:21] phanirithvij opened #2 "[feature request] Fliter events/actions in realtime"
**Feature:**
Searching **node related events** with realtime filtering while typing.

e.g: For the `Github Trigger` node
[image](https://user-images.githubusercontent.com/29627898/62630288-45ba4880-b94c-11e9-9a57-90efeb9cb5f3.png)

[2019-08-07 14:30] phanirithvij commented on #2
I'd like to implement this. @janober what do you think about this.
1. Is this a good idea?
2. Can this be done easily?

[2019-08-07 14:32] janober commented on #2
n8n is using Element (https://element.eleme.io) as UI LIbrary. For that field it uses an "el-select" with the "multiple" and "filterable" option. So it is theoretically set up to do the filtering already and it works for other fields which do not allow multiple options.
Sadly does it seem to make problems when both options are set at the same time. So to make it  work correctly actually a bug in E

[2019-08-07 14:41] phanirithvij commented on #2
I see.
Closing this.

[2019-08-07 14:47] janober commented on #2
I open the issue again. I checked on Element if they already have a bug report for it. Did not find anything but found that issue: https://github.com/ElemeFE/element/issues/16559

Is not really related to this problem but it contains a link to a Codepen to show the problem they are talking about there. Anyway in that Codepen "multiple" and "filterable" seem to work together so something in the n8n

[2019-08-07 14:48] janober commented on #2
btw. could be quite possibly css related

[2019-08-13 12:42] thomasleveil opened #3 "[doc] contributing guide"
The current development setup guide is quite light:

[code]

At least, for me, it wasn't sufficient in order to get me started 😢

Maybe add:

[code]

and then make sure the code in the HEAD of master does compile with `lerna run build`.

Cloning 131823a14d061c7258d2a6d1c23ed62eef0e45cd, I've got the following issues:
- `error TS5014: Failed to parse file 'tsconfig.json': Unexpected token ] in JSON

[2019-08-13 12:59] janober commented on #3
Hello!

Thanks a lot for creating an issue about that! And you are 100% right. It is currently more than light. Actually is the documentation one of the main reasons I did not launch n8n anywhere officially yet. Hope to imporove on that a lot till the end of this month when I want to launch it on some networks.

Will look tonight into your issue and get then back to you!

[2019-08-13 17:15] janober commented on #3
Hello!

I checked now. There was a problem with the build because inquirer. Somehow was not added as dependency at all (right now no idea when it got lost and why the docker builds still worked fine). Anyway that did not even cause the problem, it was actually that they apparently renamed a type and therefor it did not build anymore. After I fixed that issues and followed the instructions everythi

[2019-08-13 17:50] janober commented on #3
"Sadly" no luck. It also worked without a problem on Windows for me. I however now "fixed" the `tsconfig.json` files. Even though it did not cause any issues for me, it is apparently an issue for other people like you. So is a now brainer...

However, the error message you get and the fact that for you the `tsconfig.json` files made problems, even though it does not for me, makes me believe that t

[2019-08-13 18:14] thomasleveil commented on #3
I'm at home now, on Linux Mint, did:
1. clone from 86e1c4a04fa76bddd258f88c112314ba45c337a0
1.  `npm install`
1. `npx lerna bootstrap --hoist`
1. `npx lerna exec npm run build`

and the build went fine.

-----

However, I can reproduce my previous issue if I do:
[code]
<details><summary>Error:</summary>
<p>

[code]

</p>
</details>

So the Windows environment is not the cause of the issue.

----

[2019-08-13 18:22] #3 closed

[2019-08-13 18:27] janober commented on #3
Ah very great that it works now!

If you check out the old version on Linux you actually do not reproduce the previous issue. If you compare the error messages they are totally different. The one you get on Linux is the one I talked about before with that inquirer renamed a type "inquirer.Questions" -> "inquirer.QuestionCollection".
The issue you had before on Windows did prevent TypeScript to eve

[2019-08-14 06:36] janober commented on #3
Improved now the documentation:
https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md

If you think anything else should be added please simply add it. A pair of fresh eyes can judge that for sure much better. Thanks!

[2019-08-14 18:25] thomasleveil opened #7 "[usage] is there any forEach node ?"
I'd like to call a first HTTP request which returns a json array of objects. An then call another HTTP request for each object from that array.

Is there already a node for that use case ?

![image](https://user-images.githubusercontent.com/42300/63045848-83314f80-bed1-11e9-9bb9-cab22274df55.png)

[2019-08-14 19:06] janober commented on #7
In this case you would not really need a forEach node you would need more a node which splits the array data in different entries.
The reason is that the nodes have kind of a forEach built in (at least the most, still have to find a proper way to make clear which ones). They execute once for every entry they receive.

So the data which gets passed through the nodes is not a single object, it is an

[2019-08-16 05:06] janober commented on #7
Just wanted to check-in if it did work for you or if there is anything else I can help you with.

[2019-08-16 10:04] thomasleveil commented on #7
Hi, thank you for the example, it works well.

Here are my thoughts after trying it out:

- I'm missing some documentation on the form messages take out of a node and into a node
- I'm puzzled by why in a function node `item` is an array if nodes are to treat messages item per item
- Such an application will attract users with low technical knowledge. For those users the FunctionNode and FuntionIt

[2019-08-16 10:21] thomasleveil commented on #3
Just another though regarding contributing (and attracting contributors).

I'm not convinced by the monorepo thing (and need for lerna to handle it). I understand a maintainer of the project would have a better life with the monorepo form and lerna. But on the other hand, wanna-be-contributors are firstly users of the app who are missing a features or are annoyed by a bug. Such wanna-be-contributo

[2019-08-16 12:06] janober commented on #7
Hello Thomas!

Thanks a lot for your questions/feedback!

**I'm missing some documentation on the form messages take out of a node and into a node**
Yes, that documentation (and a lot of other) is currently still missing and will hopefully come soon. Want to offer both written and also a basic video one which goes over basics like that. Sadly is my time quite limited right now (part-time job, anot

[2019-08-16 12:29] janober commented on #3
Guess there it is how it is with almost all things. Everything has its advantages and disadvantages.
The mono repro is for sure not always great and also caused me very often headaches. However not sure if not using one would really be easier. Because even in the simple case that somebody only wants to make changes to the UI he would still have to have the backend running to connect to it. So that

[2019-08-16 13:11] thomasleveil commented on #3
Keeping the monorepo, the contributing documentation could welcome new users with shortcuts for frequent contribution cases like :
- I want to hack the UI
- I want to hack nodes

giving for each of those cases quick instructions on how to get setup without explaining to much about the other parts of the monorepo project.

[2019-08-16 13:30] thomasleveil commented on #7
Thank you for taking the time to answer my questions and congrats for your newborn! I set up Github to watch this repo for new releases and will follow your progress.

If I was to use this tool at work, the use cases would be :
- fetch Advertising stats from [Bing Ads Api, Facebook Ads Insights api, ...], normalizing data (date format, etc) and finally uploading those to Google Analytics API
- rea

[2019-08-16 13:39] janober commented on #3
Yes, that sounds like a very good idea! Also think that could help new contributors a lot and so hopefully attract more.

[2019-08-16 13:49] janober commented on #7
Thanks a lot for both!

Nothing to thank for. Contributors are the single most important thing for a project so if people take the time to ask good and insightful questions the least I can do is to answer them properly.

About your use cases:

**fetch Advertising stats from [Bing Ads Api, Facebook Ads Insights api, ...], normalizing data (date format, etc) and finally uploading those to Google Ana

[2019-08-19 15:13] sutidor opened #9 "how is run with node index.js possible?"
Hey Jan,
how do I build the source and run it from node index.js? I want to deploy on plesk.

I tried a lot of things for hours but nothing seems to work. When I try to "build" via VS Code I get following error:
error TS2688: Cannot find type definition file for 'jest'.
error TS2688: Cannot find type definition file for 'node'.

Some operation I did got me the folder "dist" but even when I run tha

[2019-08-19 15:37] janober commented on #9
Hello!

Sorry to hear that you have problems!

Do you have to build it from source? Can you not simply use the n8n npm package?

In case that is not possible you can simply follow the guide here:
https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#development-setup

To start it you can then also run instead of `npm run start` simply: `node packages/cli/dist/index.js` both do basically the sa

[2019-08-19 18:55] janober commented on #9
Actually realize that the easier way of simply npm installing n8n did not work because it did not resolve the path to the editor-ui correctly. Fixed that bug now. So in case you do not have to build it yourself for some reason and you are happy with the currently released version you can now simply do this:

[code]
In case you still have problems simply get back to me.

[2019-08-19 20:46] sutidor commented on #9
For those who come after me... To get n8n working on (Debian) Plesk / node index.js the following steps must be taken:

(Versions used: Plesk 17.8.11 Update #64; Nodejs 12.4.0)

# In Plesk
create new domain n8n.domain.tld
go to hosting settings and disable PHP and fast CGI
# Optional Activate SSL
go to hosting settings and activate your SSL certificate (wildcard in my case) OR go to letsencrypt an

[2019-08-19 20:49] sutidor commented on #9
Jan, thanks for your quick advice. I will dive into n8n now.

2 more questions:
What are your recommended permissions for the installed files?
How to update n8n once there are new versions?

[2019-08-20 05:17] janober commented on #9
Thanks a lot for taking the time to write up the Plesk guide for other people. Is really very appreciated. If it is OK with you I would use it as a base for a Plesk-Setup-Guide I would like to add to the project documentation.

About your questions:
1. Permissions: n8n does not write or change anything in its own folder. So theoretically only write access is needed, that means 400 should be enough

[2019-08-21 17:01] janober commented on #7
Created now a basic Postgres-Node and released a new version. Bellow you can find a workflow with some examples:
 - Read data from Postgres, converting it to XLS and save it to disk
 - Read XLS from file, convert it to JSON and then insert it in Postgres
 - Simple update of data

Hope that helps!

[code]

[2019-08-21 20:02] thomasleveil commented on #7
Thank you for the update. I guess we should close this issue as it's getting off topic.

Maybe you could make a workflow example directory to store those handy samples :tada:

[2019-08-21 20:02] #7 closed

[2019-08-21 20:10] janober commented on #7
You are welcome.

I am currently working on the n8n.io website. It will allow exactly that (at least the first version, later will allow more). People can publish there very easily different workflows. It links then automatically the used nodes so that users can also find how they can be used.
Hope I can publish a first simple version soon. Sadly did not have much time to work on it the last days,

[2019-08-21 20:19] janober commented on #9
Closing this issue.

[2019-08-21 20:19] #9 closed

[2019-08-22 13:53] thomasleveil opened #13 "Start with tunnel : what about privacy ?"
I have not dug into the source code to try to figure out what this tunnel feature does under the hood, but the question that arose when I read this chapter was : **which server ?**

It would be great if you could develop the documentation for [Start with tunnel](https://github.com/n8n-io/n8n/blob/master/docker/images/n8n/README.md#start-with-tunnel) so that we can understand if our data can be see

[2019-08-22 14:33] janober commented on #13
It is actually only ment for local testing and development (to get a n8n instance web accessible fast and simple). It is definetly not ment to be used in a production setup and even less with any kind of sensitive data.

You are right! I definetly have to make that very very clear, what it is currently not, as I did not mention that at all. Somehow just totally wrongly assumed that this is clear a

[2019-08-22 14:47] janober commented on #13
Ok added it to documentation and CLI option description. Thanks for making me aware of that!

[2019-08-22 14:47] #13 closed

[2019-08-26 12:39] sutidor opened #14 "ActiveCampaign Node"
![Activecampaign+Workflow execution](https://user-images.githubusercontent.com/34579211/63691235-f5c5f780-c80e-11e9-967e-6079c27320c8.jpg)

The ActiveCampaign module executes correctly but it won't stop. Also you can see the unmatching ID issue bottom right which occurs when trying to stop an execution manually.

[2019-08-26 17:30] janober commented on #14
Hi!
Just tried but I am unable to reproduce the problem you have. For me it execute the node, creates the user and then stops and that no matter how often I try. Does it happen to you all the time or just once?

The only thing which would make sense to me right now is some network issues. The editor-ui waits for an event (via EventSource) from the backend which tells it that the node did finish ex

[2019-08-27 18:38] smart-reports opened #15 "Create webhook service?"
I have a webhooks URL which receives data from sources other than github etc.

Is it possible that N8N can listen for those incoming webhooks to run a workflow?

How would I go about implementing that?

[2019-08-27 18:52] janober commented on #15
Ah yes n8n can listen to GET or POST request it receives. Simply look under the "Trigger" nodes for "Webhook". It allows you to specify what to listen for exactly and when and how to respond.
It can either respond directly as soon as it receives the webhook (to really just trigger a workflow to start) or it can return the data of the last node (json or binary).

Here a simple example workflow whic

[2019-08-27 19:22] smart-reports commented on #15
Hi Jan

Thanks for that.  I pasted the code in and it seems to create a workflow.

When I look at the Webhooks URL for test I get this URL:

http://localhost:5678/webhook-test/2/webhook/test

Via Postman I input this as the URL

http://localhost:5678/webhook-test/2/webhook/test?name=Stuart

Auth: None
HTTP Method: Post
Path: test
Response Mode: On Received 200 (how do I change this to give a 201 r

[2019-08-27 20:08] smart-reports commented on #15
I finally got it to the point of waiting for the webhook-call.....

How do I keep it in persistent listening mode?  As soon as it runs once it stops the webhook trigger from listening.

[2019-08-27 20:18] janober commented on #15
The test webhook does always just listens till it receives the first call and then displays that data in the editor UI as it is only for development and debugging. If you want that it keeps on listening, you have to activate the workflow (top right corner of the window).

If you do that you have to make sure that you use the production webhook URL and not the test one (does not have the "-test" in

[2019-08-27 20:31] smart-reports commented on #15
Jan - thanks very much! it works.

Do you know how to change the OnReceived response from 200 to 201?

Do I have to configure it somewhere?

I currently get 200 response with this message:

{
    "message": "Workflow got started."
}

[2019-08-27 20:39] janober commented on #15
On success it always returns 200, changing it to 201 is currently not possible. I can look how complicated it would be to make that configurable for the next release.

When you have "Response Mode" set to "On Received" it will always return just "Workflow got started". If you want to return something else you have to set it to "Last Node" and then make sure that the last node returns the data you

[2019-08-27 21:44] smart-reports commented on #15
Thanks Jan - much appreciated.  Any plans to connect with the Quickbooks Online API?

[2019-08-28 05:29] janober commented on #15
You are welcome. Glad that it works now.
Actually want to have a connection to more or less every online service. Sadly does each integration take some time to create and my time is limited. So hope that the other people from the community (once it exists, some point after the proper launch) create more.
For now have planned to make it possible somewhere for people to suggest integrations and I wi

[2019-08-28 05:29] #15 closed

[2019-08-28 16:52] janober commented on #15
Just released a new version of n8n (0.18.1) which includes the functionality to set a custom response code on the Webhook-Node.

[2019-08-29 01:06] smart-reports commented on #15
Thanks Jan - I am going to test it

[2019-08-29 05:13] janober commented on #14
As I did not hear back I assume what I wrote above is the actual reason and so close this issue for now. If not feel free to comment and open the issue again.

[2019-08-29 05:13] #14 closed

[2019-08-29 06:14] magadan opened #16 "Error to install -g"
Hello, try to install but no sucess... i got running only with 'npx n8n', its runs ok

:~/n8n$ nodejs -v
v10.16.3
:~/n8n$ npm -v
6.9.0

When running: npm install n8n -g
error:  with gyp permissions

got working with

--unsafe

thanks for the app, its very nice !

[2019-08-29 07:12] janober commented on #16
Hello,

is it possible that you try to install n8n globally while you logged in as root? Like for example in a docker container?

Great to hear that you like n8n!

[2019-08-29 07:17] magadan commented on #16
Hi, no same error, i got only working with --unsafe flag

[2019-08-29 07:18] janober commented on #16
Ah no! I was not suggesting that you should do that. I was asking if you do that when you get the error.

[2019-08-29 07:19] magadan opened #17 "Node Sent E-mail (error)"
Results: 1
ERROR: 139622690989888:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:
Error: 139622690989888:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:

maybe my nodejs version ?

[2019-08-29 07:22] magadan commented on #16
hehe, i tried a lot of option and finnaly got work with --unsafe. Can we talk in twitter if can help me do a workflow to my education project ?

[2019-08-29 07:22] janober commented on #17
Not sure. Normally you should try to run it in Node 10 as that is the current version and the one n8n was developed with.

[2019-08-29 07:24] magadan commented on #17
now im using v12.9.1

[2019-08-29 07:29] magadan commented on #17
i will reinstall in a new enviroment with node 10.

[2019-08-29 07:29] janober commented on #17
Ah yes you are right. Did not realize that 12 is the now current version. But never tried with that one either. Would really advice to run it in Node 10 for now as it will work in that version for sure.
Like written in the other issue I would strongly advice everybody to run n8n in Docker. It is the simplest way to get n8n up and running and will then run in a correct environment for sure.

[2019-08-29 07:30] janober commented on #16
I would actually advice everybody to run n8n simply in Docker as that is the simplest thing and will work for sure as the setup got especially created for n8n to run in it. You can find information about it here:
https://github.com/n8n-io/n8n/blob/master/docker/images/n8n/README.md

If it is something simple I can help you create a workflow for sure. For very complex ones do I sadly not have time

[2019-08-29 07:31] janober commented on #16
You can contact me via: jan@n8n.io

[2019-09-03 13:36] gabrieligbastos commented on #9
is it possible to run it to develop/extend on Mac?

i followed:

`npm install -g lerna`

`git clone {repo}`

`cd {repo}`

`lerna bootstrap --hoist`

`npm run build`

all successfuly, except the build, with error (remember, i'm on Mac)

[code]

[2019-09-03 13:39] janober commented on #9
Should also work on a mac. Not sure what the issue is right now but you are using a quite old version of node (v7.6.0). Never tested it with such an old version. I would recommend v10 or v12. Could you please try to upgrade node and then try again from the beginning?

[2019-09-03 13:48] gabrieligbastos commented on #9
Oh right, thanks for your quickly response!
I will try it right now, just a doubt, i can ignore build-essential or tools, right? those are just for ubuntu or windows, right?

[2019-09-03 13:53] janober commented on #9
No problem.
Not sure if you can really ignore them. Something equivalent does for sure also exist for MacOS (even though I have no idea how they are called) and without it, it will not work. Anyway the most people have that stuff already installed when they ever did develope other modules. So if you did, the chance is high that you already have it. I did just put it there to avoid  problems I coul

[2019-09-03 13:54] gabrieligbastos commented on #9
oh, i see.
i said that because of this:
https://stackoverflow.com/questions/38086451/how-to-install-build-essential-on-mac

btw, i decided to run:
`xcode-select --install`

[2019-09-03 14:01] janober commented on #9
It installs some things like c++ compiler, make and so on:
https://packages.ubuntu.com/xenial/build-essential

Was not aware that the inital purpose of the package was to create Debian packages. But that does actually not matter. n8n dependencies need it to build correctly (and probably the most larger projects on npm also). Actually also think Python is needed (which I thought was in build-essent

[2019-09-03 14:10] gabrieligbastos commented on #9
oh, i see, thanks..
well, not built yet =(

[code]

any clue on this?

[2019-09-03 14:11] gabrieligbastos commented on #9
what version of python?
i have:
`Python 2.7.10`

[2019-09-03 14:17] janober commented on #9
That message is actually a TypeScript error from some new code I pushed 2 days ago. I did fix it now. If you pull the code again (and so the fix) it should now work.

[2019-09-03 14:29] gabrieligbastos commented on #9
Wow, thanks! Working ;)
Thanks very much

[2019-09-03 14:31] janober commented on #9
Great to hear! You are welcome! Have fun!

[2019-09-03 15:36] gabrieligbastos commented on #15
hi, it's me again =(
testing this sample, i'm receiving now:

[code]

am i missing any library for this specific node?

[2019-09-03 15:47] gabrieligbastos opened #18 "[feature] calculation node"
hey @janober ,

does it make sense a calculation node?
something that would interact with data to transform it

i think would be something number_transform (with math operations)
string_transform (for string operations)

does it make sense?

[2019-09-03 15:53] janober commented on #15
That is possible as the problem is in "gm" which is http://www.graphicsmagick.org/
So you should look that you get graphicsmagick installed and then also that problem is fixed and the "Edit Image" node should work.

[2019-09-03 16:20] gabrieligbastos commented on #15
thanks, that was what i thought.
now working but not writting the text indeed.
![image](https://user-images.githubusercontent.com/2159153/64190761-698a8480-ce4d-11e9-8a45-ee95ff3d1de2.png)

maybe some error in the lib yet?
another doubt, something in the build process should had installed it? do u think is interesting some way to learn node dependencies?

[2019-09-03 17:38] janober commented on #15
Sorry sadly can not really help there. Must be something graphicsmagick related in combination with MacOS. You can try some of their examples on the website via the commandline and see if they work.

The docker-image has everything included and there everything will run for sure. Self installing is always more problematic especially on systems that run MacOS. Would be suprised if everything would

[2019-09-03 17:43] janober commented on #18
Transformation nodes are definetly needed! Was not sure yet how they should work exactly, what they should do, how many should there be (one to do everything, different ones for numbers, strings, ..). Is probably worth checking out what other similar products like Node-Red, Zapier, Tray.io, parabola.io, integromat.com, ... are doing and what advantages and disadvantages it has.

If you have sugges

[2019-09-06 02:21] magadan opened #19 "How to Install, better docs"
Hello,

Im new with node, its possible to you improve instalation docs for 'standalone' server installation ?

How to install latest node, npm, and dependencie to run n8n with

npm install n8n -g

example: im running ubuntu 16.04.

[2019-09-06 05:17] janober commented on #19
The documentation in general is definetly one of the things which still needs to be improved the most. Also have planned to add more documentation about that topic very soon. Will update here once it is live.

[2019-09-06 08:20] sutidor commented on #19
Hey magadan,
I described the installation on plesk which is generally the same procedure.
https://github.com/n8n-io/n8n/issues?utf8=%E2%9C%93&q=is%3Aissue#issuecomment-522746909
If you have questions, let me know

[2019-09-06 08:25] magadan commented on #19
Hi n8n team,

Im make my way, and im running now ! Very happy, im gonna crazy with a lot
of API arround the web ! :)

thanks !

Pls, if you need help with Portuguese Brazilian Translation i can help, let
me know.

I have interest to be a supporter or any other arm of your project here in
Brazil.

[image: photo]
*Cristian Azevedo Magadan*
Sócio Fundador, MGD Tecnologia

+55 51 981051953 <+55+51+981

[2019-09-06 08:52] magadan commented on #19
thank you ! i will check.

[image: photo]
*Cristian Azevedo Magadan*
Sócio Fundador, MGD Tecnologia

+55 51 981051953 <+55+51+981051953> | cristian@magadan.com.br

http://www.mgdtecnologia.com.br | : cristian.magadan
<#SignatureSanitizer_SafeHtmlFilter_>
Porto Alegre - RS - Brasil
<http://facebook.com/cristian.magadan> <http://us.linkedin.com/in/magadan>
<http://twitter.com/magadan> <http://instag

[2019-09-06 11:07] magadan commented on #19
Installation is fine... I make my way.

im using digital ocean vps ( droplets), no panel.

I can say: dont install as root, create a normal user, maybe you need to change some file permissions on /usr/lib/node-modules....   im using latest node 12.

And 'npm install n8n -g' will work !

After make a sudo user with ALL:NOPASSWORD, and you can create a systemctl service for n8n or insert into /etc/r

[2019-09-06 11:13] magadan commented on #17
ok, i will install docker-ce and deploy with portainer. thanks.

[2019-09-22 08:12] CrystalMethod opened #21 "Node icons not installed"
Node icons are not copied to installation directory when running ` n8n-node-dev build`. I copied the file manually.

[code]

[2019-09-22 09:39] janober commented on #21
Originally the script was only ment to help with the build process (TypeScript -> JavaScript). Thought all other files people can copy manually as that has to happen only once anyway.
Anyway, you are right simply copying also the images makes it easier for people. So did now add exactly that. It copies now simply also all *.png files it finds in the current folder.

[2019-09-22 09:39] #21 closed

[2019-09-22 09:39] janober commented on #21
Btw. is released as: n8n-node-dev@0.4.0

[2019-09-22 12:12] CrystalMethod commented on #21
Thx. I'm just learning the workflow for custom node development.

[2019-09-22 12:25] janober commented on #21
Great! Still a lot of nodes to be created sol help is more than welcome ;-)

Just in the process of finishing some documentation for n8n in general and also the first node creation guidelines. Hope I get it online later in the day and then improve and extend in the time to come.

If you have any problems or questions simply post them in the forum. Will then get back to you asap:
http://community.n

[2019-09-22 16:36] janober commented on #21
Ok first version of documentation is now online:
https://docs.n8n.io/#/create-node

[2019-09-25 22:19] janober opened #22 "Create Zulip integration"
Create an integration for Zulip similar to the Slack one.
https://zulipchat.com/api/

Slack-Node is a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Slack/Slack.node.ts

[2019-09-25 22:20] janober opened #23 "Create Mattermost integration"
Create an integration for Mattermost similar to the Slack one.
https://api.mattermost.com

Slack-Node is a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Slack/Slack.node.ts

[2019-09-25 22:23] janober opened #24 "Create Google Drive integration"
Create an integration for Google Drive similar to the Dropbox/NextCloud one.
https://developers.google.com/drive/

Dropbox and NextCloud-Nodes are a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Dropbox/Dropbox.node.ts
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/NextCloud/NextCloud.node.ts

[2019-09-25 22:30] janober opened #25 "Improve Chargebee integration"
The Chargebee integration is currently very limited. A lot of the functionality which the API offers is not implemented. For example: create/delete/charge/void invoices, edit/get/delete customers, create/get/update subscriptions, ...

At least the above mentioned important and basic functionality should be created. Special ones can then be created on request:
https://apidocs.chargebee.com/docs/api

[2019-09-25 22:37] janober opened #26 "Create Typeform Trigger"
Create a Trigger node for Typeform which triggers when a submission got made:
https://developer.typeform.com/webhooks/

GithubTrigger-Node is a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Github/GithubTrigger.node.ts

[2019-09-26 08:07] janober opened #27 "Create Gitlab integration"
Create an integration for Gitlab similar to the Github one.
https://docs.gitlab.com/ee/api/

Github-Node is a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Github/Github.node.ts

Discussion in forum:
https://community.n8n.io/t/gitlab-integration/21

[2019-09-26 10:41] jwillmer opened #28 "How to define headers in json?"
I need to supply a json payload and the HTTP request does not allow to use header params when defining json payload. But how is the json format for HTTP request headers? Also, does the header auth merge with the json headers?

![image](https://user-images.githubusercontent.com/1503577/65682140-a7e51f00-e05a-11e9-9d94-103595f1c59a.png)

[2019-09-26 10:56] janober commented on #28
Sorry I am not sure if I understand you correctly.

You wrote: "I need to supply a json payload and the HTTP request does not allow to use header params when defining json payload."
But in the screenshot afterwards you have headers defined `{"Content-Type": ...` and also a JSON payload (Body Parameters).

The format is simply:
[code]

Yes the headers get merged. The request library which gets used

[2019-09-26 10:58] janober commented on #28
And can you please post questions like that in the future here:
https://community.n8n.io

The issues are mainly for bugs and the forum for questions and problems. That makes it easier for users to find a solution for their problems if they are all in the same spot.

[2019-09-26 11:14] #28 closed

[2019-09-26 20:20] janober opened #29 "Create MailJet integration"
Create an integration for MailJet similar to the Mailgun one.
https://dev.mailjet.com/guides/

Mailgun-Node is a good reference and starting point:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Mailgun/Mailgun.node.ts

Discussion in forum:
https://community.n8n.io/t/mailjet-integration/64

[2019-10-04 14:33] mscansian opened #30 "Better authentication with service providers"
From what I could understand, all of the credentials need to be manually created and inserted by the user on the CREDENTIALS menu.

Do you guys have any plan to implement an end user OAuth2 for some of them? For instance, instead of manually creating API keys to Asana with would be much better if I just have a button to click "Login with Asana" and provide the required permissions as per the OAuth

[2019-10-04 14:38] mscansian commented on #24
Does this include Google Forms? It one of the most common use cases I have nowadays (since I spend a lot of time automating workflows for people that can't code). Something like a form gets a new answer then a workflow starts running.

I'm quite new with the project. For what I've managed to understand I could do this using a trigger in the Google Sheets that the form saves the replies, but it wou

[2019-10-04 14:50] janober commented on #30
Ah yes, that is also planned in the futre. But did not do it yet for two reasons:

  1. Lack of time. Currently have to concentrate on what delivers the "biggest bang for the buck" and having more integrations is so more important at the current stage.
  2. The even more important reason. Having an OAuth2 auth in place really just makes sense for many users. Currently, there is only a self-hosted

[2019-10-04 14:57] janober commented on #24
This issue was actually only planned for files. But agree that also Google Forms is important and creating Trigger node for it should not be to complicated.

You can request for integrations to be added here:
https://community.n8n.io/c/feature-requests/nodes

People can then upvote them. That makes it then easier for me to know what is important for people and what node. Created there actually alr

[2019-10-04 15:42] mscansian commented on #30
1. That's what I thought. Wish I could help you guys with this, but unfortunately my Javascript skills are not that good (I'm a Python/Go developer for living). For now I will just stay with integrations (specially AWS, which I use a lot and are not that difficult to implement).
2. I disagree. If you think about Github it's easy to go to the console and create an API Key, but with some other provi

[2019-10-04 16:21] janober commented on #30
2. Yes if there would only a button that would work I agree. But that this button works also access tokens would be needed (because also OAuth needs them) and so I would have to publish mine on Github. And if I do not want to do that, people have to add their own ones which means we would be again exactly where we started.

About the license. I already started to write something about that in the

[2019-10-04 16:33] mscansian commented on #30
2. You're right. I forgot that for local app you also need to create a client KEY and SECRET :man_facepalming:

@janober It makes sense, please include that in the FAQ. Surely more people will have the same question. Only a point to consider is that the Common Clause limits consulting/support and this restricts somebody for automating workflows for someone else. This might hurt the project in the

[2019-10-04 16:51] janober commented on #30
@mscansian Great to hear! Yes, I did anticipate questions about the license. Especially once I post the project next week on Hackernews and ProductHunt. I was thinking about the license for a long time. It was no easy decision. But I think for now it is the best. I wanted to be upfront about it and not having issues like other companies had when they changed their license later. I thought I can gi

[2019-10-04 17:08] mscansian opened #31 "AWS Integration"
I think an integration with some AWS services would be a really good thing to have implemented. I will starting working in some of them, but it might take a while since I'm new with TS (though I have a lot of experience with AWS).

There would be multiple nodes (one for each AWS Service) but only a single credential provider, since all services require only and ACCESS_KEY and a SECRET and it can b

[2019-10-04 17:09] mscansian commented on #31
@janober Can I use a library to abstract the endpoints or is it better if I write code that send REST requests directly?

[2019-10-04 17:15] janober commented on #30
@mscansian Did now hurry to get the FAQ up asap. You can find them here:
https://docs.n8n.io/#/faq?id=license

[2019-10-04 17:35] janober commented on #31
Yes that would be great! Think that would allow to automate some cool things! Thanks!

Actually already created some docs about node creation which can be found here:
https://docs.n8n.io/#/create-node?id=node-development-guidelines
There is also a specific section about libraries. The short version is: "Please use REST with built in library if possible but it is OK to add new librariest if there i

[2019-10-05 15:28] mscansian opened #33 "List of available nodes"
When I first started using this library the main information I wanted was to know what services were already implemented. I could not find this information anywhere. I know someone can just browse through the source code and see what's available, but I think this is not easy for someone who is seeing the project for the first time.

My suggestion is to include another section in the README listing

[2019-10-05 15:33] janober commented on #33
Sorry are not in front of my computer so can just answer very short from my phone.

More or less what you describe above can be found here:
https://n8n.io/nodes

It reads the data from the `n8n-nodes-base` packages.

However is also still a wip and hope to have soon more time to improve that page.

[2019-10-05 16:09] mscansian commented on #33
@janober It would be nice if we put a link to this in the README, don't you think?

[2019-10-05 16:16] janober commented on #33
Actually one is already there but apparently not placed very good.

[2019-10-05 17:15] #33 closed

[2019-10-08 15:12] markusobi0 opened #36 "Reverse Proxy"
I tried to setup N8N behind a Reverse Proxy (Nginx) it worked, but the Control Panel said it hadn't connection to the Internet. I used also the `--tunnel` option of the docker image. How about adding this possibility for securing the Panel with SSL through Let'sEncrypt?

[2019-10-08 15:25] corporatepiyush opened #37 "Is horizontal scaling supported"
Is horizontal scaling of workflows across machines supported in current version ?

[2019-10-08 15:25] janober commented on #36
What you described should work. But I just checked and it seems like there is some documentation missing. Very sorry about that. Will try to add it asap.

For now make sure to set the following environment variables that everything knows how to connect:
[code]

[2019-10-08 15:36] janober commented on #37
Yes and no.

In the way you mean probably not. It is not possible if you start a workflow automatically via a node like Webhook, Cron or whatever. It is, however, possible for workflows which get startet via the CLI like described here:
https://docs.n8n.io/#/start-workflows-via-cli

So it will work depending on your use-case.

n8n will, however, support proper scaling in future versions.

[2019-10-08 15:40] markusobi0 commented on #36
Now I'm slightly confused. How should I configure Nginx then, when n8n already blocks Port 443?

[2019-10-08 15:51] sea-grass opened #38 "Create GitHub Enterprise Integration"
Enable specifying a custom GitHub API root for the GitHub API credentials in order to support GitHub Enterprise installations.

[2019-10-08 16:11] janober commented on #36
Yes that is correct. You then just have to remove the "--tunnel" and it should display you the correct URLs in the nodes.

[2019-10-08 16:21] markusobi0 commented on #36
No, it doesn't. Now is the Tunnl URL Section completly gone and on the Panel is the "Connection Lost back"

[2019-10-08 16:50] janober commented on #36
Yes,, the tunnel-section on startup gets only displayed when the n8n tunnel gets used.

What do you mean with "Connection Lost"? In the top right corner of the page? That informs about if the connection via EventSource is established to display updates about what is currently executing. So it is not webhook related. You can check in the Console or Network-Pane to see to where it tries to connect.

[2019-10-08 16:51] janober commented on #38
Thanks, will look into that once I find a free minute.

[2019-10-08 16:51] markusobi0 commented on #36
From the Start

[2019-10-08 16:54] janober commented on #36
And the where does the "Connection Lost" get displayed? In the top right corner or do you mean something else?

[2019-10-08 16:56] markusobi0 commented on #36
In the top right corner.
https://imgur.com/Gv4JFRp

[2019-10-08 17:42] Raqbit opened #39 "Node connection arrow can be deleted in read-only execution view"
Hovering over a connection arrow I can simply hit the X to delete it. This seems to be a client-side thing as it is not persisted.

![image](https://user-images.githubusercontent.com/11144180/66419042-a117be00-ea03-11e9-921f-f90e3405f0e0.png)

[2019-10-08 17:47] janober commented on #39
Thanks a lot. That should not be possible will have a look at it.

[2019-10-08 18:17] ddevault opened #40 "n8n is not open source and your project is gaslighting its users"
This behavior is not acceptable. Even the Commons Clause itself tells you not to describe your software as open source, see the FAQ: https://commonsclause.com/

The Apache license is a well known and respected license, and the "Commons Clause" leverages the language of the also well known "Creative Commons", together creating a false impression that this software is distributed by a respectable gr

[2019-10-08 18:22] cadecairos commented on #36
Shot in the dark here, but are you seeing this error on Firefox?

I think this is the implementation of server sent events being broken in Firefox, because for me it's working in Chromium and not FX (Developer edition).

[2019-10-08 18:24] samuelmtimbo opened #41 "Error when `npm run start`"
I just tried to run the repository locally and got the following error:

<img width="706" alt="Screen Shot 2019-10-08 at 3 21 14 PM" src="https://user-images.githubusercontent.com/5302127/66422134-83386200-e9df-11e9-8887-ef0ad4341c51.png">

I felt it was important to share and I wasn't able to find any related issue.

[2019-10-08 18:25] phoe commented on #40
To clarify @ddevault's pretty aggressive post: the website at https://n8n.io/ describes n8n.io as _Open Source Alternative for Zapier/tray.io_.

Based on the commonly understood definitions of "open source" - the open source definition from OSI or the free software definition from FSF - n8n.io is _not_ "open source", as Commons Clause-licensed software does not meet their criteria.

[2019-10-08 18:41] cadecairos commented on #36
Forget that, found a helpful thread on [server-sent events and nginx](https://stackoverflow.com/questions/13672743/eventsource-server-sent-events-through-nginx)

I added `proxy_buffering off;`, `proxy_cache off;`, `proxy_http_version 1.1;`, `chunked_transfer_encoding off;`, and `proxy_set_header Connection '';` and now the web UI is working in Firefox.

in case you need it, I launched n8n like so:

[2019-10-08 18:52] ddevault commented on #40
I have filed a pull request which fixes this for the docs and README:

https://github.com/n8n-io/n8n/pull/42

The website will need to be updated as well.

[2019-10-08 18:52] prasad8mhatre opened #43 "Need execution time on each node instead of going into each node and checking the time"
Need execution time on each node instead of going into each node and checking the time

1. when the workflow has executed, it is intuitive to see the execution time of each node at glance instead of going instead each node and checking

2. also at top bar total execution time needs to be present

[2019-10-08 18:58] prasad8mhatre opened #44 "In Http request node: Need to raw response of http instead of only when its success"
Usecase:
1. There is a need of handling various case as per status code and response from http request.
2. What is default timeout of the http request?
3. let say when there is timeout then a email needs to be sent.
4. So need raw response from http request module and that response will be forwarded to if block and it will transfer it to either true or false flow(sending email).

Please suggest an

[2019-10-08 19:02] prasad8mhatre commented on #31
If you want any help, I can help you with it. I am also new to node development. But we can do it together

[2019-10-08 19:23] jaller94 commented on #40
Why is the issue (especially the note that he would be a coward) so emotionally charged and accusing?
In my opinion this is not constructive feedback and gives the project owner little chance to resolve the issue while saving their face.

Though valid in its point about the license, I want to flag the first version of the original post as not adhering to the project's Code of Conduct nor good etiq

[2019-10-08 19:27] ddevault commented on #40
Because it threatens a fragile community which is near to our hearts, and does it out of blatant financial self-interest. And it seems that, since we're still talking about it here, the author has proven themselves not to be a coward.

[2019-10-08 19:29] ddevault commented on #40
And for the record, there is a way the author can get out of this while saving face: redact what they've said and be honest in their marketing material. I will be harsh on malicious attempts at subverting open source, but I'm not beyond forgiveness when the behavior is corrected.

[2019-10-08 19:31] jhoughjr commented on #40
I can see no reason to use this code in my projects if only YOU get to monetize it. You are blatantly lying to get attention and trying to lawyer yourself out of it. Why profit from the contributions of others only for yourself? Would have been great for my needs, but I have to eat. Thank you for wasting my and my client's time evaluating your product only to realize you lie on the front page and

[2019-10-08 19:42] jhoughjr commented on #40
It appears the language of the FAQ doesn't jive with the definition of the Commons Clause. A bit confusing. "May I create, distribute, offer as SaaS, and/or “sell” my products using Commons Clause licensed components?

Yes!

Commons Clause only forbids you from “selling” the Commons Clause software itself. You may develop on top of Commons Clause licensed software (adding applications, tools, util

[2019-10-08 20:12] janober commented on #40
Honestly did not expect that people care THAT much about that. I simply fear that it confuses way more people than it helps. I myself have no idea at all what the term "source-available" really means and I assume that is the case for most people. But sure understand also your position.

But I also think debating right now further about it would not help. I will think about it at least a night (may

[2019-10-08 20:25] ddevault commented on #40
"Source available" is only a vaugely established term, unlike "open source" which has a very clear definition. Proponents of open source have been pushing "source available" to give an out to people who are trying to dillute our terminology with software that doesn't supply the freedoms at the core of the (non-negotiable, entirely clear) definition of open source software. Though the term "source

[2019-10-08 20:39] mjhea0 commented on #41
I think you need to:

[code]

[2019-10-08 20:44] mjhea0 commented on #19
To get the CLI up and running for dev, I did:

[code]

Is this the ideal workflow?

[2019-10-08 20:50] mjhea0 commented on #41
Disregard, this is how you get started for development: https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#actual-n8n-setup

[2019-10-08 20:51] mjhea0 commented on #19
Disregard, I just found: https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#actual-n8n-setup

[2019-10-08 21:36] kfogel commented on #40
Hi, @janober.  There's some history here that you're probably not aware of:

For many years -- literally *decades* -- companies have tried to dilute the term "open source" by applying it to software licenses that don't offer the full set of freedoms that true open source offers.  In fact, one of the main functions of https://opensource.org/ is to push back on these companies swiftly and thus prese

[2019-10-08 21:42] janober commented on #40
@kfogel Thanks a lot for explaining that to me. Is very appreciated and really helpful and important for me to know to get some context.

[2019-10-08 21:45] mjhea0 commented on #40
Why open an issue with such aggressiveness, @ddevault? Why assume ill-intentions from the get go?

[2019-10-08 21:56] etewiah commented on #40
I was initially upset by @ddevault 's aggressive tone but on reflection its probably a good thing - its generating even more strong feelings for the project.
Thanks @janober for sharing the source code for such an awesome project - that's good enough to make up for any misunderstanding about the correct label for such a project.

[2019-10-08 22:00] cohan commented on #40
There's absolutely no way this aggression is warranted! At least let the person turn out to be an evil villain before you treat them as one.

Getting some seriously strong vibes that you just learned the term gaslighting recently too - if we're on misuse of words and phrases it might be worth brushing up on that term.. Even by your definition this is "lying" at best (source available), not "gaslig

[2019-10-08 22:02] ddevault commented on #40
It's correct that it recently occured to me that the term gaslighting was appropriate for this kind of misbehavior. However, my use of it is correct.

https://en.wikipedia.org/wiki/Gaslighting

Targetting the open source community, sowing seeds of doubt, questioning our memories of some kind of long-standing debate on the nature of the term "open source", trying to change our perception of the phr

[2019-10-08 22:06] kfogel commented on #40
I think @janober did it through inattention and ignorance, however, not with a consciously thought-out goal of destabilizing the term "open source" (unlike some others who have done it over the years).

*After* this thread, if @janober doesn't fix it, well, then I would agree that inattention and ignorance can no longer be claimed, so it would be knowingly destructive behavior at that point.  I do

[2019-10-08 22:07] ddevault commented on #40
I came out with guns blazing because @janober has already demonstrated an awareness of the problem and declared they are unwilling to fix it:

https://docs.n8n.io/#/faq?id=is-n8n-really-open-source

[2019-10-08 22:15] janober commented on #40
Like written above I want to first properly think about it and then make a decision. I can totally understand your side but I think my original reasoning is still true. That why properly thinking about it seems like the right thing to do.

And like written in the FAQ was my goal simply to communicate to the majority of the people what they are allowed to do with n8n. Did never cross my mind to des

[2019-10-08 22:16] mjhea0 commented on #40
@ddevault: I see. I didn't know [this](https://docs.n8n.io/#/faq?id=is-n8n-really-open-source) existed. You may want to add that to the original post for context.

I still think you'd get a bit further if you dropped the language. I started questioning whether I knew what the term gaslighting meant, which, in effect, would be gaslighting on your part. :)

P.S. Is `30.000` USD $30.00 or $30,000?

[2019-10-08 22:18] janober commented on #40
@mjhea0 its 30k

[2019-10-08 22:19] kfogel commented on #40
Oh, I hadn't seen that.  @ddevault has a point here.

@janober, your "0.01%" in that FAQ item is, to put it mildly, wrong.  A **lot** of devs, and a lot of companies, care very strongly about the actual definition.  I myself only clicked on the link from Hacker News because it said open source -- so you already wasted my time, though I suppose I can't blame you entirely for all the followup time I

[2019-10-08 22:20] ddevault commented on #40
The original reasoning describes a valid mode of thought about software development. These are reasonable problems to consider and you've come to reasonable conclusions. Taking these into account while developing software is a good thing, and source-available software is definitely better than entirely proprietary software.

However, as just as your rationale may be for informing your software dev

[2019-10-08 22:21] ddevault commented on #40
Done.

[2019-10-08 22:44] lmariscal commented on #36
The `N8N_HOST` does change the host value but in the webhook urls it still shows the port behind the proxy. `N8N_PORT` wouldn't solve this issue as I do want that port to be used at serving the server behind the proxy but I don't want it in my webhooks.

[2019-10-08 22:53] mikementor commented on #40
// It reminded me of all these 'master-slave' renaming madness...

[2019-10-08 22:55] thibaultmol opened #45 "Google Cloud Run start button"
Google recently announced this:
https://cloud.google.com/blog/products/serverless/introducing-cloud-run-button-click-to-deploy-your-git-repos-to-google-cloud
Which allows you to pretty much a button on your readme file so people can deploy straight to GCP Cloud Run. Would be neat to have that button on here as well so it's quick and easy to get started (for people who want to host it in the cloud)

[2019-10-08 22:57] janober commented on #36
@lmariscal to change the URL of only the webhook set the environment variable:

That sets the webhook URL (totally ignoring what is in `N8N_HOST` and `N8N_PORT`)

[code]

[2019-10-09 04:55] eitland commented on #40
@janober This project will be valuable even if it isn't Open Source so don't feel too discouraged, but please change the wording or the license, it is misleading, and more importantly in this case, might encourage others to think it is OK.

In this case it doesn't mean much to me as I was only looking to use it at home but there are a number of companies doing this in various ways and it is extrem

[2019-10-09 05:06] kennymalac commented on #40
@ddevault I think you are being intellectually dishonest. If you go on the repo it says "Open Source" in quotes and in the FAQ it's addressed as not being OSI-compatible. The developer is just trying to make a bit of money in a world where selling software has become obsolete and I see very little wrong with this. If he wants to use Open Source as a marketing term, who the fuck cares? Why are you

[2019-10-09 05:33] janober commented on #43
About 1:
I can understand why you want that to see it but are however not sure it is the right way to go.

I tried very hard to keep the interface as clean as possible without making it look to technical and full by just displaying the important information. Even though executing time can be important do I normally not care that much about it as long as the node did succeed. Could imagine adding i

[2019-10-09 05:35] prasad-mhatre-incontact commented on #43
Yes, on "hover" can also work

[2019-10-09 06:14] nicoder opened #46 "typo in project byline on github"
hi,

the project description on github is:

"Free node based Workflow Automation Tool. Easily automate tasks accross different services"

s/accross/across ?

[2019-10-09 06:37] phoe commented on #40
I understand that @ddevault already outlined it in his posts - care comes from the people who have been coining and using the term to mean strictly what it meant so far, as defined by OSI and FSF.

He claims so right in the name, where he says his software is Open Source, and therefore it is FOSS, since FOSS means Free and **Open Source** Software.

[2019-10-09 08:17] mikulabc commented on #40
Not a developer here: I find zapier and ifttt way too big and expensive and when i saw n8n it reminded me of the android app "Automate" and felt like a breeze of fresh air :) anyone here planning on creating anything like it that would be fully "open source"? I will be using n8n till then

[2019-10-09 08:28] janober commented on #31
To have everything at one spot. Just got the following request in the forum:
https://community.n8n.io/t/aws-sns-integration/96
[code]

[2019-10-09 08:46] cohan commented on #40
Honestly that sounds like it's being used properly if FOSS is Free *and* Open Source. That would imply Open Source that doesn't specify free is just that, source open but not free. FOSS and Open Source need to pick a champion.

@ddevault

The key difference is that gaslighting is something done deliberately, whereas OP here has bumped into a hornets nest. Don't dilute the term gaslighting to make

[2019-10-09 10:33] janober commented on #44
I am trying to have all usage questions in the forum that people have one single place to look if they have a problem. The Github-Issues are planed more for actual bugs in the code. Sorry still have to communicate that properly by for example creating an Issue Template. Hope to get to that soon.

Reposted and answered your questions here:
https://community.n8n.io/t/in-http-request-node-need-to-raw

[2019-10-09 10:33] #44 closed

[2019-10-09 10:35] janober commented on #41
@samuelmtimbo Did what @mjhea0 suggest work?

Thanks a lot @mjhea0 !

[2019-10-09 11:21] rcarmo opened #47 "IMAP Inject & Move Message?"
It would be nice to be able to inject & move IMAP messages, for two reasons:

* Copying or moving a new message to another mailbox or folder is a common pattern in customer service
* Injecting a new message (without going through an SMTP server) is useful to provide results from an action (using thread message IDs, etc. makes it very human-friendly)

I've done this in the past in https://github.co

[2019-10-09 11:42] kfogel commented on #40
@kennymalac "FOSS" and "OSS" and "Free and Open Source" and "Free, Libre, Open Source Software" and "FLOSS" -- they all mean the same thing, the same set of well-known licenses.  And that set does not include the licensing terms n8n is released under, which is why we're saying please don't label n8n as though it's in that well-known set.

If you put a big sign saying "MILK" on your lemonade bottle

[2019-10-09 11:44] kfogel commented on #40
And @kennymalac, the specific freedom in the Open Source Definition (which I already cited earlier in this thread) that n8n violates is the right to use the software for any purpose -- no restriction on "field of use".

So @ddevault is being intellectually consistent.  You might not like his style, but his argument is 100% sound.

[2019-10-09 11:59] rdewolff opened #48 "Create Notion integration"

[2019-10-09 12:24] janober commented on #48
Thanks a lot. But can you please post it here:
https://community.n8n.io/c/feature-requests/nodes

As that is the central place to request new integrations (added just some here already for the #hacktoberfest).

Btw. would be a big fan of that. Are however not sure that is even possible as the last time I checked (properly) they did not have an API. And my fast search now seems to come to the same

[2019-10-09 13:13] francescoagati commented on #40
nodered

[2019-10-09 13:16] ddevault commented on #40
You cannot withhold the right to sell the software. It's in the very first criteria on the page you linked to:

[The Commons Clause FAQ](https://commonsclause.com/) itself states that it's not an open source license.

[2019-10-09 13:19] d3d1rty commented on #40
@ddevault I think that your reading is flawed. This portion has more to do with payment for access to the source code than it does free as in free beer, which is what you are alluding to.

[2019-10-09 13:20] ddevault commented on #40
https://opensource.org/faq#commercial

[2019-10-09 13:28] d3d1rty commented on #40
Was the link that you provided supposed to back up your opinion? I don't see that it does. Of course, you only provided a link without a rationale--a pretty low-effort argument; hence the follow-up.

Also, are you carrying on your crusade against other software companies that provide limited-use "community" licenses for their products, or do you just plan on attacking small-time developers? Honest

[2019-10-09 13:31] mscansian commented on #43
@prasad8mhatre Could you describe your use case for this?

I think that the value from n8n comes when you automate stuff that you just need to get done and don't care about performance. The main goal is flexibility, not performance. In case you need a high volume or fast responses, it might be better to just write the code.

[2019-10-09 13:37] mscansian commented on #31
@janober I'm implementing the `publishing` of SNS messages, not the `subscription`. To use SNS as **trigger** you need to configure a webhook and configure SNS to send messages to that webhook. There's no custom integration needed, since there's no API to implement.

Relevant docs: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SNS.html#subscribe-property

PS: That's one reason I think fu

[2019-10-09 13:38] ddevault commented on #40
You're now arguing to the point of willful ignorance. Do you have a vested ignorance in not understanding this?

I'm not attacking limited-use community licenses. I'm not attacking small-time developers. Give me a break. I'm attacking someone who is misusing important terminology to sell a product as something it's not.

[2019-10-09 13:43] mscansian opened #49 "Polling for triggers"
As far as I'm aware all triggers are just implementations of a webhook. This is the best option when available, but it's not always there.

One use case is an AWS SQS queue. Amazon doesn't provide anything other than a polling endpoint to receive new messages. It would bee necessary to have a trigger that automatically polls data every X time.

PS: The polling interval should be configured by the

[2019-10-09 13:48] d3d1rty commented on #40
No...? I am not understanding what you link to because it is so **ambiguous** as to be effectively useless. Of course, this speaks more to the fact that "Open Source" is an effectively neutered term.  I can see getting on a high horse to defend the concept of Free Software, but Open Source is just a development model, really.

You don't see the problem inherent in attacking the person in the first

[2019-10-09 13:50] Mikotochan commented on #40
"n8n is a free node based \"Open Source\" (with Commons Clause)" seems fine to me. It is free for everyone to modify, use, and distribute this software - as long as they are not doing it for commercial gain (which is the most important part of open source, if you are someone who makes money from the software that others wrote just pay them), which is why it says "\"Open Source\" (with Commons Clau

[2019-10-09 13:50] ddevault commented on #40
No, it doesn't, and I'll thank you for ceasing your lies and FUD. I have presented you with undisputed, clear facts, and you have willfully ignored them. I have no further interest in talking to you.

[2019-10-09 13:51] ddevault commented on #40
Not doing it for commercial gain is *not* the most important part of open source. It's literally the first freaking freedom guaranteed by it. Stop the fucking lies. Jesus fucking christ.

[2019-10-09 13:53] witeshadow commented on #40
I'm going to try this software. I saw the link on Hacker News and certainly "Open Source" helped encourage me to click. But please either change the language used on the site or change the license. It would really help me feel better about it and I think would help people feel better about contributing as well.

[2019-10-09 13:56] janober commented on #49
Just to make sure that I understand you correctly. I guess you do not mean in the workflow, I guess you mean for the node-code itself?

If that is what you mean I am not sure if we need "global code" for that as it could be implemented specifically for each need as the code is very simple. In the end it would just be a simple version of the Interval node:
https://github.com/n8n-io/n8n/blob/master/

[2019-10-09 13:57] Mikotochan commented on #40
And? It follows every other freedom. As I said, this is why they call it "\"Open Source\" (with Commons Clause)"

I should note, when speaking of "Open Source" I use the definition for "Free software". I do not recognise OSI as anything but a corporate tool.

[2019-10-09 14:05] Mikotochan commented on #40
This issue is just filled with people who want to use other's work for commercial gain without giving anything back to the author(s). Shame

[2019-10-09 14:21] tretinha commented on #40
You should really change the language (or the license). This is not open source and you should not pose as if it is. I don't like being mislead just so your marketing strategies are pleased.

[2019-10-09 14:40] jigardafda opened #50 "How to host under subpath ?"
I have depoyed n8n behind nginx under `/workflow/admin` subpath.

https://example.com/ -> is main website
https://example.com/workflow/admin -> is n8n path

What are configuration changes i need to do achieve this ?

[2019-10-09 15:42] kfogel commented on #40
@d3d1rty please see clause 6 in https://opensource.org/osd.  Also, the General Manager of the Open Source Initiative, Patrick Masson (@massonpj), the organization that was specifically founded *by the group that coined the term open source, to certify licenses as complying with that term's meaning*, has chimed in in the related n8n web site issue, saying exactly what I'm saying:

https://github.co

[2019-10-09 15:42] janober commented on #46
Uh thanks a lot! Is fixed.

[2019-10-09 15:42] #46 closed

[2019-10-09 16:56] skellat commented on #40
There does come a point where fair description of a product is necessary.  From all of this discussion this certainly wouldn't meet normal fair description or proper labeling.  That could negatively impact consumer rights and in a global marketplace that may result in negative consequences.  A "good faith" defense has its limits, too.  Please label the product accurately.

[2019-10-09 17:34] boramalper opened #51 "How to reset password?"
I cannot find any link on the login screen.

[2019-10-09 17:37] eitland commented on #40
@Mikotochan you misunderstand this, either willfully or otherwise.

As I have said before if the author changes the wording that is fine with me. For what it is worth he might even make it commercial, as long as he doesn't call it open source.

Also - for now - I and you can use it at home without bumping into this clause.

Even if I plan on providing hosting the author has generously said that up

[2019-10-09 18:07] arnaudknobloch opened #52 "Cannot find module magic"
Hi,

I wanted to test n8n but I encountered the following error:
`Error: Cannot find module '../build/Release/magic'
    at Object.<anonymous> (/usr/local/lib/node_modules/n8n/node_modules/mmmagic/lib/index.js:1:75)`

I just did `npm install n8n -g` then `n8n`

Did I miss something?

LEMP on Ubuntu 18.04
node v8.10.0
npm 3.5.2

[2019-10-09 18:12] jhoughjr commented on #40
As I read the CC clause form their page, it specifically allows what the author is wanting to forbid. Do I go by what the licnese says? OR do I go by what the author says it says? ALL of this would be avoided had he not used deceptive advertising. It seems he wants to to be source available and the CC clause states it is for the purpose of transiting from open source to source available which are

[2019-10-09 18:36] janober commented on #40
Actually thought we stop with discussing till I get back as it then would hopefully stop anyway. Did not seem like it worked. Anyway, even though I am still reading I am still out till I had a chat with @massonpj . Just here to clarify something as it seems like it got misread.

@eitland Just wanted to clarify that the 30k was for consulting/support not hosting, so less generous. It says in the do

[2019-10-09 19:01] janober commented on #50
In the meantime maybe that is helpful:

[code]

So if you set for `WEBHOOK_TUNNEL_URL` and `VUE_APP_URL_BASE_API` the URL with the subdirectory it should work (both with trailing slash).

[2019-10-09 19:02] janober commented on #50
Close for now as it should be on https://community.n8n.io like written above.

[2019-10-09 19:02] #50 closed

[2019-10-09 20:13] kennymalac commented on #40
@ddevault Your fundamental premise is erroneous. Your premise is that someone may be wronged by mistaking the project as open source when it is not. Do you know of any project owner that would neglect to understand the software license of the projects he is dependent on? You are relying on a hypothetical situation which is not very likely. Can you name a project where someone has violated the lice

[2019-10-09 21:18] janober commented on #52
Uh your node/npm versions look quite old. They could be the problem. n8n got always tested with v10+.

Please try updating them. Hope that fixes your problem.

[2019-10-09 21:44] tretinha commented on #40
unethical is claiming something to be open source when it's clearly not, how abusive!

[2019-10-09 21:50] mjhea0 commented on #51
I ran into the same issue.

[2019-10-09 21:50] ddevault commented on #40
@janober you said you need to sleep on it yesterday. Do you have an update?

[2019-10-09 21:51] mjhea0 commented on #40
@tretinha If it was "clearly not" open source there wouldn't be a discussion going.

[2019-10-09 21:52] ddevault commented on #40
There is no discussion, there are people gaslighting the open source community and people angry about being gaslit. A discussion about whether or not water is wet is a waste of time, unless one side stands to make a profit from convincing people it's dry.

[2019-10-09 21:53] ddevault commented on #40
Oh, how easily ethics and morals are set aside when the scent of money looms near. "I would never!", they'll say in their living rooms, reading the daily news, then forget it as soon as the opportunity arises to make a buck.

[2019-10-09 22:01] janober commented on #40
Can you all please do me a favor and stop for a while. The discussion here is really not nice and constructive in any way. If it goes on like that it will not help to resolve the situation it will make it simply harder and harder.

Just got the email from @massonpj . For me it is now sadly again time to sleep but I will then write with him tomorrow and I have a very good feeling that we find a sol

[2019-10-09 22:02] mscansian commented on #40
@janober Seriously, just change the damn name to something like `source available` or `free (as in beer)` (`as in beer` is important or you might anger the FSF guys) and we can get moving. No point wasting time with politics.

PS: I like the `free as in beer` description, but even though it has no relation with free software you might still get some angry voices. So I would stick to the more conse

[2019-10-09 22:04] briantully opened #53 "Why is "n8n" pronounced "nodemation"? Can we add "nodemation" to the logo?"
What am I missing? Does 8 translate to something that sounds like "odematio"?

[2019-10-09 22:05] briantully commented on #53
or is it that the 8 looks like two circles, i.e., two nodes?

[2019-10-09 22:07] mjhea0 commented on #40
@ddevault The very definition of wet is subjective. It's like you're trying to convince someone that they're bald when they keep pointing to the few strands of hair on their head as evidence that they're not. If you draw lines in the sand while also attacking the person they are going to respond emotionally and probably not in your favor.

[2019-10-09 22:08] ddevault commented on #40
Can you even hear yourself? Are you so wrapped up in self interest that you're unable to recognize the nonsense you're spewing and the harm it's going to have on an ecosystem that you owe your entire livelihood to?

[2019-10-09 22:11] mscansian commented on #53
`odematio` has 8 chars

[2019-10-09 22:12] briantully commented on #53
😂 😂 😂

[2019-10-09 22:16] mjhea0 commented on #40
I have zero stake in this project. For what it's worth, I agree with every point you have made, although I don't feel it's as black and white as you make it out to be. That said, I disagree greatly with how you've delivered your argument. Us vs them, "you're either with us or against us" is a poor approach.

[2019-10-09 22:24] ddevault commented on #40
If you changed the license to an *actual* open-source license, MIT or otherwise, I would contribute to this project in a heartbeat should the occasion arise. If you stop at redacting your lies, I will give you peace (and heartfelt appreciation). If you double down on gaslighting the open source community, I will be there in the comments every time you make the news.

[2019-10-09 22:32] mjhea0 commented on #40
https://medium.com/conquering-corporate-america/gaslighting-for-beginners-4da0eddcf135

[2019-10-09 22:33] kennymalac commented on #40
@tretinha You have failed to explain how it is unethical. Have you read my earlier reply? There is no way to police this.

@ddevault You are making demands of someone you have no association with and being generally rude. How come you have not addressed my points, and instead you continue on this tirade irresponsibly? I doubt you would contribute to this project even if it was free software. I don

[2019-10-09 22:45] briantully commented on #53
ahh nevermind, I see there's a fuller description in the README that's not on the documentation site. Sure, people eventually started abbreviating Kubernetes to k8s after hearing about Kubernetes. It's just odd that in all documentation and branding/marketing there is no mention of "nodemation". I've been calling it "nation.io" for the past couple of days, for lack of a more obvious pronunciation.

[2019-10-09 22:46] briantully commented on #53
![n8n-logo-new](https://user-images.githubusercontent.com/82321/66525962-18f9ed00-eac5-11e9-941e-caf0f43db2d7.png)

would you consider something like this?

[2019-10-09 22:53] ddevault commented on #40
I ignored your rebuttals because they were almost too stupid to entertain. Since you insist, I will refute everything you've written one sentence at a time.

*If* you go to the repo. If you visit [n8n.io](https://n8n.io/) the home page is plastered with the open source vocabulary and no scare quotes. As I addressed in my opening comment, explicitly stating "Apache 2.0 with Commons Clause" is not a

[2019-10-09 23:07] d3d1rty commented on #40
@janober Props for building something nice, that I'm sure people will get use out of. Regardless of how this plays out, I wish you the best of luck moving forward. It's a real shame that @ddevault chose to take an aggressive, hostile approach instead of taking a moment to privately educate you on the matter. I hope this situation doesn't discourage you, and I hope the @ddevault and the rest take a

[2019-10-09 23:25] Kernald commented on #40
I'm not sure who's being the most harmful to the open-source community in this thread. The software author who might truly not have been aware of the issue in the first place, or the people just being overtly rude and aggressive and assuming bad intent from the start...

[2019-10-09 23:47] kennymalac commented on #40
@ddevault Okay I think I've done my due diligence here!

You didn't address my newest reply sentence by sentence, so this is a lie.

The developer clarifies in the FAQ the license is not OSI certified. Whether or not he is misusing the term is **subjective** and no authority that claims to be morally righteous can take that away.

Understandable. But I think you're behaving as if you are morally r

[2019-10-10 00:32] kennymalac commented on #40
https://github.com/kennymalac/tinyCDN/commit/886fbce505269dfbf19771534c43e1fec789a395

I hope y'all are happy. :smiley:

[2019-10-10 00:35] ddevault commented on #40
:middle_finger:

[2019-10-10 00:38] kennymalac commented on #40
@ddevault I am not doing it out of spite. Quite honestly I did not know this license existed and find it good enough for my purposes. And yeah, thanks for pointing out that my repo is underrated ! :+1:

I read this article: https://www.zdnet.com/article/open-source-licensing-war-commons-clause/

And I am convinced. Commons Clause is the way to go, honestly! It's great for developers!

My points st

[2019-10-10 00:41] ddevault commented on #40
To anyone wondering why I'm angry and pushing this so hard, it's because lies breed more lies. It normalizes this shit and morons like @kennymalac will eat it up.

[2019-10-10 01:29] kfogel commented on #40
At this point, I'm not sure what more arguments @ddevault or I could make.  If one ignores his, shall we say, somewhat more forceful style :-), we're saying the same thing, which is basically this:

There is a term "open source", and there is a *very large, very broad* group of people and organizations who agree on one specific, very clearly-defined meaning for that term.  I'll list some of the or

[2019-10-10 01:30] BreekiBoi commented on #40
Pretending to be outraged and create drama over a seemingly harmless project that may or may not have used license that did not fit its criteria is a great way to self promote yourself in the process.

[2019-10-10 01:30] kfogel commented on #40
Also, @kennymalac, doesn't the fact that the *authors of the Commons Clause themselves* agree that it's not open source... kind of... indicate something here?

[2019-10-10 01:33] ddevault commented on #40
Well put, @kfogel. I'd like to add one thing:

Language is defined by *collective* usage. One person cannot change a language alone. If they deliberately misuse language which is widely known to have one meaning, it's false. If they stand to benefit from that lie, it's ethically wrong.

[2019-10-10 01:35] kfogel commented on #40
I think @ddevault is making a solid point there.  Indeed, if what he is saying weren't true, the very concept of lying couldn't exist at all -- anyone could just claim that the words they said meant something different from their usual meanings when they said them.

[2019-10-10 01:36] ddevault commented on #40
And since xkcd is often relevant in more than one comic:

![](https://imgs.xkcd.com/comics/misinterpretation.png)

[2019-10-10 01:39] downeym commented on #40
And that is precisely what @janober did:

1. Publish a proprietary software project under the Commons Clause license with hopes to make a bunch of cash from gullible people.
2. Create untruthful advertising materials claiming it's "Open Source" to hook people in, despite knowing Commons Clause said not to do that.
3. Hide deep in the project documentations the truth that the project is not open so

[2019-10-10 01:42] BreekiBoi commented on #40
I don't understand, what you're describing here is illegal, at the very least misrepresenting the clause, so why should this be debatable? Am I missing a key point here?

[2019-10-10 01:43] downeym commented on #40
No idea. Stubbornness, I guess.

[2019-10-10 01:46] kfogel commented on #40
I don't think @janober had any strong expectation of making a bundle of cash (of course, I have no objection if he does).  More likely he thought something like this "Well, I want people to be free to use this for non-commercial purposes, but if someone's going to make a lot of money with it, then I want a share of that!"

I've heard a lot of programmers say something like that.  (Of course, they

[2019-10-10 01:49] Kernald commented on #40
@downeym are you kidding right now?

That's assuming 1) that everyone shares as much knowledge as you do in terms of licenses, and the same cultural background as yours. I don't think I need to spend time explaining how wrong that is... 2) bad intent. There's nothing to prove that it's the case. No one gave the author a chance here.

That's, like, 1) but phrased differently.

Deep? The title on th

[2019-10-10 01:50] LVMBDV commented on #40
This assumes bad faith in the already shaky accusation of hiding the fact that it's not open source™️

Ah yes the LICENSE file, hidden deep in the mythical place called the project root.

Open source *leaders*? Do they give you a badge when you defeat them in a PR review as well?

[2019-10-10 01:50] downeym commented on #40
"Apache 2.0 with Commons Clause" is not open source. And this project's maintainer even admitted that it wasn't open source much deeper in the project documentation FAQ's.

[2019-10-10 01:51] ddevault commented on #40
And

You need to have specific knowledge of the commons clause, *and* that it's distinct from the Apache 2.0 and Creative Commons licenses. But wait, are we not assuming everyone shares as much knowledge about licenses as us? There's a contradiction here.

[2019-10-10 01:52] kfogel commented on #40
@Kernald, the big, bold-face headline of the project's home page is "Open Source Alternative
for Zapier/tray.io".  I mean, come on: the misleading is right there -- it's literally the very first thing one sees about the project.

[2019-10-10 01:53] BreekiBoi commented on #40
@Kernald claiming ignorance over license clauses doesn't excuse license abuse.

[2019-10-10 01:53] ddevault commented on #40
Especially when you double down after being informed of the error.

[2019-10-10 01:54] ddevault commented on #40
And to clarify, the reason the term gaslighting is used, and the presumption of good faith is not extended, is because the author [already knew about the issue](https://docs.n8n.io/#/faq?id=is-n8n-really-open-source) at the time of writing.

[2019-10-10 01:55] kennymalac commented on #40
He is not doing things in merely a "forceful style". He is being belligerent and deliberately invoking provocation on an innocent project.

So what? If I use the term differently, what's it gonna do? Who's gonna sue me? People will complain about something they paid ZERO for. Wow, big whoop. Maybe if someone committed code and complained the complaint would have a bit of legitimacy to it. But all

[2019-10-10 01:55] Kernald commented on #40
@kfogel You're implying that the differences between open-source and source-available licenses are obvious to everyone. We have no insight on how the author, who's clearly not a native English speaker, chose the license, nor why. From his comments on this thread, he's trying to solve the issue, and finding alternatives, isn't he?

[2019-10-10 01:55] Kernald commented on #40
So is looking for solutions once you've been made aware of the issue doubling down? Yeah we don't speak the same English, sorry.

[2019-10-10 01:58] Breeki commented on #40
I agree he shouldn't be witch hunted over something that could of possibly been an error, but if he doesn't make the necessary changes to the license after this, that's a problem.

[2019-10-10 01:58] Kernald commented on #40
Sure, and if the author doesn't change anything eventually, then that's gonna be bad intent. This thread has been created less than 48 hours ago though... and from @janober's comments, he's looking for a way to solve that. There's no point in putting words and intents on him when we don't know what he's going to do with that.

[2019-10-10 01:58] ddevault commented on #40
If the misuse of open source already justifies two FAQ entries in the project documentation, then surely any confusion here can be cleared up through the same. Would only require one FAQ entry! I would be happy to suggest a copy for the author as a native English speaker if this is a concern - similar to how I've already offered a patch which corrects the use of the term open source.

https://docs

[2019-10-10 02:00] Kernald commented on #40
I'm sorry but if someone is being agressive and rude towards me from the start, I'll take some time to evaluate the "solution" that this person offers me. Whatever the problem or the suggested solution are.

[2019-10-10 02:00] ddevault commented on #40
Fair enough. But as long as the lies remain on the site, I will naturally withhold my forgiveness.

[2019-10-10 02:01] d3d1rty commented on #40
No kidding. @kfogel has been reasonable, but @ddevault has been unhinged from the jump-off. Not a great ambassador, IMO.

[2019-10-10 02:04] gophobic commented on #40
@ddevault self-entitled assholes like you are the only reason why many products don't get opensourced in the first place. If you don't like this shit don't use it and get the hell out of here.

Again this thread is a direct threat to anybody trying to make money while releasing free and opensource commercial products. If you don't release product as these self entitled retards want, you will be de

[2019-10-10 02:05] ddevault commented on #40
This project isn't open source, so if my being an entitled asshole discourages others from following in their footsteps then open source is no worse for it.

[2019-10-10 02:06] Breeki commented on #40
His use of the middle finger emoji gave me a good laugh. But it does come off as unprofessional.

[2019-10-10 02:10] kennymalac commented on #40
It just means they recommend they don't do it. It's open source FOR EVERYONE except people trying to sell the project deliberately. This prevents bigcorps like Amazon making a shit ton of money off of things they didn't create and have no intention of contributing to. This is great for the "open source" community!

[2019-10-10 02:11] downeym commented on #40
Such a concept doesn't exist.

Open source, by definition, is always for everyone.

https://opensource.org/osd-annotated

[2019-10-10 02:13] Kernald commented on #40
Here we go again... Could we stop the debate and just wait for the author's decision?

[2019-10-10 02:14] gophobic commented on #40
@downeym how about fuck the "definition"? Amazon and many other big companies have literally made billions of dollars of FOSS projects they never contributed in any fucking way. This definition is a direct threat to any small OSS startup, if you don't make it, then nobody will give a shit, if you do make it however, big players will just use your software that you invested your own life in and sel

[2019-10-10 02:15] ddevault commented on #40
That's what the GPL family of licenses is designed to prevent.

[2019-10-10 02:16] gophobic commented on #40
in fact it doesn't, not even AGPL does, and MongoDB is good example.

[2019-10-10 02:16] kennymalac commented on #40
Neither does the Absolute. Take that, Hegel.

This is blatantly ideology and harms otherwise innocent people scammed into this. Software should be FREE as in FREEDOM, and open source co-opted this and basically let businesses steal a ton of people's hard work by popularizing liberal licenses. What we need now is compromise.

[2019-10-10 02:16] d3d1rty commented on #40
I think a fair amount of people in this thread don't recognize the OSI definition as legitimate. A collection of corporations (who stand to benefit the most by the definition!) backing it really doesn't lend it any further credence. "Open Source" is a development model; Free software is the ideological imperative that is worth fighting over (and this project doesn't purport to be Free).

[2019-10-10 02:19] ddevault commented on #40
Open source is not a development model. Open source is this:

https://opensource.org/osd

[2019-10-10 02:20] d3d1rty commented on #40
Thanks for quoting the organization that I just declaimed as illegitimate!

[2019-10-10 02:20] gophobic commented on #40
TLDR; YOU CANNOT MAKE MONEY WITH OPENSOURCE

[2019-10-10 02:20] ddevault commented on #40
That's not what it says, fuck off.

[2019-10-10 02:21] ddevault commented on #40
Nothing is stopping the author from making a hosted version of n8n, selling consulting services, etc, even with an open source license. There are loads of companies that do this, just look at Red Hat's billion-with-a-B-dollar acquisition.

[2019-10-10 02:21] tretinha commented on #40
Alright, now they are debating the legitimacy of the OSI

[2019-10-10 02:29] LVMBDV commented on #40
@tretinha fricking epic reply bro

[2019-10-10 02:45] kfogel commented on #40
@kennymalac, you write "open source co-opted this [free as in freedom] and basically let businesses steal a ton of people's hard work by popularizing liberal licenses".

This is historically not really accurate.  Both reciprocal (copyleft, GPL-style) licenses and non-reciprocal ("permissive", BSD/MIT-style) licenses are "free software" licenses according to the FSF and "open source" according to t

[2019-10-10 02:47] ddevault commented on #40
Echoing this, I also work on free/open source software full time, though not for as long.

[2019-10-10 02:50] krumholz opened #55 "Could this be hosted easily on Firebase by adding Cloud Firestore as the db?"
I did a bit of digging and couldn't find the answer to my question.

Firebase hosting works for static files but sqlite/mongodb/postgres cannot be hosted there. I'm wondering what level of effort it would be to add Firestore as a db option?

This project is kick ass. Running locally is good but hosting this on production environments will push this project to insanely valuable.

[2019-10-10 02:55] cyclopsian commented on #40
@d3d1rty It doesn't particularly matter if you think the OSI is legitimate or not. The name is taken. Myself (and many others here I'm sure) are perfectly fine with you coming up with your own philosophies on software, but please don't attempt to accomplish this by stealing the name of a different philosophy. Not only does this dilute and confuse the term "open source", it waters down your particu

[2019-10-10 02:57] kennymalac commented on #40
@kfogel Look, I'm not saying that open source literally made up liberal licenses. That would be ignorant! No, I'm just saying that the open source community was setup as distanced to the free software community and thus "took away mindshare" from the message of freedom. Open source changed things for the worse. Have you not watched Revolution OS?

Anyway, I'm going to quote the FSF on this, becaus

[2019-10-10 03:07] kfogel commented on #40
Hi, @kennymalac.  No one at the FSF is encouraging people to dilute the term "open source" by doing what @janober is doing.  Pointing out possible ambiguities with a term is not the same as advocating that people cause confusion.

I could point out -- as the above article does -- that the term "free software" is also ambiguous and in fact *has* been used to refer to software distributed at zero ch

[2019-10-10 03:09] kfogel commented on #40
(Also, while RevolutionOS may be a fine movie, I don't need a movie as an historical source on events that I lived through and remember well.)

[2019-10-10 05:32] kennymalac commented on #40
@kfogel As someone that has been around for so long in the community, you should know that changes happen and that Open source or any movement in software will not stay the same forever. Redis Labs, MongoDB, etc. this will all just be part of a long-term movement in this direction. You can fight and fight but you are fighting the course of nature.

In the words of Marcus Aurelius:

[2019-10-10 06:21] raidho36 commented on #40
This is antithetic to open source movement principles no matter how you look at it. What's great about denying people access to software? What does anyone stands to gain if Amazon had to develop their own software instead of using an open source solution? This is basically a reverse candlemakers' petition kind of argument, which should be immediately obvious to everyone.

[2019-10-10 06:31] gophobic commented on #40
@raidho36 how is "you can do all what you want with the software I built with my own sweat and experience I gained over the years for free from usage to modification except you cannot just sell it as if it were your own work" denying people access to software?

[2019-10-10 06:36] raidho36 commented on #40
It's a textbook denial of software for particular use, the same kind used everywhere in proprietary licenses. Which you should consider using if you don't want people to sell your code. Well, if you wouldn't allow sale you can't possibly hope to use an open source license anyway. I heard "source-available" was just as good (not).

[2019-10-10 06:41] Stvad commented on #31
@mscansian Thank you for working on this. Things from myself that I think would be great to have:

* trigger by CloudWatch Event
* Calling AWS Polly for tts

[2019-10-10 07:08] Stvad opened #56 "Provide CDK/SAM template to simplify setup on AWS"
It'd be great to have a CDK or SAM template to set up all required resources in 1 click/command to run n8n on AWS.
I'd imagine it'd include something like:

* RDS Postgress/ DocumentDB (in lieu of MongoDB)
* ECS Fargate setup (to run the container)
  * Cluster
  * Task
  * Service
* Security groups

[2019-10-10 07:14] arnaudknobloch commented on #52
After updating node (12.10), it works, thank you.

[2019-10-10 07:14] #52 closed

[2019-10-10 07:15] janober commented on #52
Ah great to hear!

If you have further problems simply post them to:
http://community.n8n.io

I try then to get back to you asap.

[2019-10-10 09:56] Mikotochan commented on #40
Amazon if it planned to make money using this software would just have to pay to get a license to use it from the authors.

[2019-10-10 10:20] d3d1rty commented on #40
You do realize that Free Software was defined well before OSI was formed, and that the OSI's distinction of "Open Source" as opposed to Free Software has served to water down and neuter the meaning of Free Software--right?

[2019-10-10 10:23] phoe commented on #40
That's off-topic. n8n is marketed as open source and not free software, so let us use definitions for the term "open source".

[2019-10-10 10:30] phoe commented on #40
No matter how much off-topic this issue gets, this issue isn't about preventing the author from licensing their software any way they would like - including a license that requires Amazon et al to pay for the right to use this software.

It is about slapping an `open source` label on software that is not open source.

[2019-10-10 10:35] Mikotochan commented on #40
More like slapping an ``"Open Source" (with Commons Clause)'' label on a software that is indeed ``"Open Source" (with Commons Clause)''. ¯\_(ツ)_/¯

[2019-10-10 10:36] phoe commented on #40
@Mikotochan The label ""Open Source" (with Commons Clause)''" contradicts itself, since Commons Clause itself specifies that software licensed under the Commons Clause is not open source.

[2019-10-10 10:40] Mikotochan commented on #40
It does not claim that it is Open Source with Commons Clause, it claims that it is "Open Source" with Commons Clause.
Anyway, even if it did say Open Source without the quotes then it would still be correct. 1 + 1 is 2, you can't go around saying "buuuuuut the +1 part makes it not one!!!" - yes, we know, but that does not make it a contradiction.

[2019-10-10 10:42] phoe commented on #40
The addition of quotation marks does nothing to change the meaning of the term.

The fact that 1 + 1 equals 2 does nothing to prove your claim that the term "open source with Commons Clause" is correct.

[2019-10-10 10:53] Mikotochan commented on #40
How so?

It is enough to show that it does not contradict itself.

[2019-10-10 10:55] phoe commented on #40
I imagine that a reader who reads `"Open Source" with Commons Clause` will not understand the difference between `Open Source` and `"Open Source"`. The fact that one is quoted and the other is not does not show a significant difference to me, especially since the term `Open Source` is already well-established in the industry and in the minds of people who use software.

I do not understand it yet.

[2019-10-10 11:11] Mikotochan commented on #40
Since they will be confused by the quotes they will probably search for an explanation or search what the Commons Clause is. Can't see the issue.

I can infer that "open source with Commons Clause" does not contradict itself. Just like "box with wheels" does not contradict itself.

[2019-10-10 11:13] phoe commented on #40
No, they will be lazy and shrug it off, using `Open Source` as a fallback for `"Open Source"`. Clear communication avoids the possibility of such confusion.

And I can infer that it contradicts itself, as I described above, since Commons Clause itself specifies that software licensed under the Commons Clause is not open source.

[2019-10-10 11:15] Mikotochan commented on #40
Sounds like a "them" problem then.

It seems pretty clear to me.

Boxes do not have wheels and 1 is not 2. ¯\_(ツ)_/¯

[2019-10-10 11:18] phoe commented on #40
Licensing terms are meant to be clear to everyone. If you design a license term with a clear possibility of confusion, then it is a problem of yours, not a problem of the person reading it.

It does not seem clear to me.

Boxes and wheels do not contradict each other, and neither do 1 and 2.

Use double slash to make the left arm of this emoticon display properly. `¯\\\_(ツ)\_/¯` will result in ¯\\

[2019-10-10 12:07] mscansian commented on #40
![image](https://user-images.githubusercontent.com/6120009/66567365-6d40b380-eb3d-11e9-8e98-05255e122ec3.png)

[2019-10-10 12:41] justinphebey commented on #40
The project itself looks absolutely epic which I know is not the issue but at the moment it seems like @janober has fallen in an understandable licensing bear pit.  I agree the current situation is misleading but I can understand the developer not wanting to be ripped off and english perhaps not being his first language.  Doesn't surprise me at all that anyone can get in a tangle when it comes to

[2019-10-10 12:55] janober commented on #40
@justinphebey I still do not get involved in the discussion here till I finished my chat with the OSI. Anyway still wanted to comment. There is sadly one thing I hate more than people painting me in a bad light. It is when it is in a too good one (just gives me a very bad feeling). English is not my first language but I was fully aware of the situation. Extra wrote about my rational in the FAQ her

[2019-10-10 13:20] kfogel commented on #40
@janober: There's been a good solution available this whole time: don't call the software "open source" :-).

@kennymalc: Words and things are different.  Changing the words used to refer to "open source" won't change the underlying thing.  If enough people start abusing the term "open source" to mean something that is not open source, then I suppose the movement will have to get a new term, becau

[2019-10-10 13:22] janober commented on #40
@kfogel Still not getting involved for now ;-)

[2019-10-10 13:23] cyclopsian commented on #40
@d3d1rty: The philosophy differs enough in some key areas that a different name was chosen. But in this case the philosophies align. The commons clause is not free software by the FSF's definition because it does not fulfill freedom 0. It's not open source by the OSI's definition (and according to the author of the clause) because it doesn't fulfill term 6.

@janober: It's too late for that I'm af

[2019-10-10 13:25] kfogel commented on #40
@janober I understand you're taking time to think.  I was mostly addressing @kennymalac -- however, I did want to point out to you that there is no need for you to search for a solution, because there has been a solution available all along.  (I admit I don't really understand what the further thinking is that you're doing, but then again I'm not you, so it's not surprising that I wouldn't underst

[2019-10-10 13:33] justinphebey commented on #40
I think you're being too modest with what you've produced here with the exception of the licensing but am happy to await the outcome of your further research to it.  Wasn't intended to cause any offense, the thread just seemed disproportionately harsh until the outcome was known.  Currently the FAQ isn't much help as it's too verbose, poorly worded and attempts to reverse the use of other terms na

[2019-10-10 13:35] janober commented on #51
First sorry for your problems! Yes, the n8n.io website is still kind of Alpha. Feels like a large second project when I already do not have enough time to properly support the other one (n8n itself). But still wanted to have something in place where people can inform themselves about nodes and find and share workflows. That is also really what the whole website is about. So do you want to do that?

[2019-10-10 13:40] janober commented on #40
@justinphebey ah no did not cause any offense! But I prefer to be hated for the right reasons than loved for the wrong ones.

For the verbose, poorly worded FAQ I proudly take full credit ;-)

[2019-10-10 13:47] janober commented on #55
Have no experience at all with Firebase. So not sure. But if you say that only static files can be hosted there then I am not sure if it would work at all. If the Node.js process can read/write to that static file you can simply use SQLite as it runs within n8n and all it does is to write to a single file.

Sadly no not know anything about Firestore either. But n8n uses https://typeorm.io/ so all

[2019-10-10 15:48] kennymalac commented on #40
@kfogel As I said before, lemonade and milk are too completely different things. Lemons come from fruit and milk comes from cows. You analogy breaks down because in this case, most of the tenets people idealize are being followed, except for business trying to make money off of his work. So there is only really a slight difference. I know this difference makes all the world to the OSI and many of

[2019-10-10 16:45] 0ptimus opened #58 "Add format options for stdout from Execute Command nodes"
Hi,

Let's say I have a home directory with three files named "test1", "test2", and "test3" and I add an Execute Command node with the command as "ls ~".  The stdout as of now will be one line as "test1 test2 test3".    Not sure if this by design or not.  Can an option be added to put the output on separate lines or honor UNIX newlines.  So would like output to be like:

test1
test2
test3

Thanks

[2019-10-10 18:01] boramalper commented on #51
I understand that, thank you for the project and your swift response. =)

[2019-10-10 18:11] janober commented on #51
@boramalper You are welcome! Even though I am suprisied about the "swift response" comment. Felt actually bad because it took me very long as I have a mountain of emails, messages and other stuff to go through. But I take what I can get ;-)

[2019-10-10 18:39] YoniFei opened #59 "Create Stripe integration"
Stripe API:
https://stripe.com/docs/api

TODO:
-Create triggers for all of the webhooks

Ideally I'd like to try working on this but haven't gotten run/dev to work yet following [these instructions](https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#development-setup)

[2019-10-10 19:20] rdlu opened #60 "Error using with postgresql"
I've created a docker-compose file to use n8n with postgresql as follows:

[code]

But n8n does not start with following errors on docker log:

[code]

And the following on postgres docker log:

[code]

It seems to work fine when I comment out the DB_TYPE and friends from n8n environment to not use postgresql.

I think some migration or database creation routine is not right.

The versions I'm usi

[2019-10-10 19:42] janober commented on #60
Just checked your setup but everything also looks correct to me. Not sure what we are overlooking. But did you try it with that setup, because that one should work:
https://github.com/n8n-io/n8n/tree/master/docker/compose/withPostgres

The only difference I can see there is the Postgres version. Think until now I always used 11. Not sure if 12 could cause the problems you have.

[2019-10-10 20:24] janober commented on #18
Yes, it would work for sure but sadly only for people that can code. It should however also be possible for none coders to do as much as possible. So having a node/nodes in place which allows them to do that would be great.

[2019-10-10 20:52] blizzz commented on #40
He is selling lactose-containing milk as lactose free.

[2019-10-10 21:04] downeym commented on #40
Perhaps a better metaphor:

You can't add Coca-Cola syrup to water and then advertise it as water, knowing full well it is NOT water. You also can't expect for people not to get angry when they open the container and see that it's not water, but now something completely different because you added stuff to it.

Similarly ...

You can't add the Commons Clause to an Apache 2.0 open source license an

[2019-10-10 21:41] kfogel commented on #40
@kenneymalac: Then you and I disagree about the importance of that clause.  I assume then, you'd be okay with @janober calling this "free software" too, since it violates the equivalent clause in the Free Software Definition?  (The FSD and the OSD are basically the same meanings expressed in different words -- that's why they end up describing basically the same set of licenses, as both organizati

[2019-10-10 23:39] raidho36 commented on #40
Friendly reminder that this isn't a matter of meaning of words, it's a matter of legality under the law.

[2019-10-11 00:05] kennymalac commented on #40
Wrong. Open source is not copyrighted in any capacity and you are spreading FUD.

@downeym
Do you realize how ridiculous you sound? The analogy makes no sense at all. Again, there is no such thing as an absolute fine line with open source. It's subjective because the use of the term has already been co-opted (by us and by others)

Not really. I respect the free software movement but find open sour

[2019-10-11 00:14] raidho36 commented on #40
If you were to view an open source license, it starts with a copyright statement - when and by whom the copyrights are held. It is then in the body of the license, the copyrights holder gives permissions to deal with the software.

I want you to understand the magnitude of the issue. This is a big boys' territory.

[2019-10-11 00:31] downeym commented on #40
Open source licenses are literally licenses from the copyright holder(s) to the general public.

No, I don't. Since you seem to be so adept at sounding ridiculous, perhaps you can teach me.

It was a metaphor, not an analogy.

Most open source licenses are quite explicit about their terms and go to great detail about the license's limitation. I suggest https://tldrlegal.com/ so you can learn about

[2019-10-11 00:52] kennymalac commented on #40
@downeym @raidho36
I mean the term "open source" is not legally enforceable, thus it is not a legal matter in this case. We can freely use the term open source as we like. OSI-certified is the only phrase that the OSI has legal control over.

@downeym Why are you being so insolent? Also, my point is totally relevant. There is no absolute definition of open source, and Commons clause does not stray

[2019-10-11 00:59] downeym commented on #40
Yes there is. As stated many times it is at https://opensource.org/osd-annotated

Not going to keep repeating this to you.

Yes it does. The authors even say so in their FAQ.

[2019-10-11 01:05] kennymalac commented on #40
[Nonsense](https://yourlogicalfallacyis.com/appeal-to-authority)! You don't have to keep repeating this to me, because I do not recognize the OSI as the sole determiner of the term. The determiner of the definition is usage. And we are using it as we see fit, so deal with it.

https://www.britannica.com/art/intentional-fallacy

[2019-10-11 01:10] downeym commented on #40
This thread wouldn't be nearly as hilarious if it weren't for the backgrounds of the people with whom this guy thinks he can successfully debate.

Thanks for the comic break in my week.

[2019-10-11 01:11] downeym commented on #40
Ladies and gentlemen, we have found the "flat earthers" of FLOSS!

[2019-10-11 01:14] kennymalac commented on #40
I don't really give a fuck who you are or what organization you a part of, if you shit on a developer for using a term that he wants to use how he wishes, you are a political tool. You clearly lack respect and are not willing to debate this intellectually. You'd rather bully me and others for simply holding a different opinion in regards to this issue. I'm glad you find amusement in this, but your

[2019-10-11 01:22] Kernald commented on #40
There are actually _multiple_ solutions here: removing the mentions of "open-source", changing the license... Chosing one of the solution probably warrants more than 5 minutes of reflection.

On another note, this thread is a shame. I'm still amazed at how people can't behave on the internet. The whole "what is open-source" argument has absolutely no place here, @janober agreed on the fact that he

[2019-10-11 01:39] raidho36 commented on #40
The problem is not about trademarking, it's with legal repercussions, plus long-lasting consequences such as erosion of trust. You see, _n8n is a copyrighted software_, and it is advertised as """""open source""""" and not actual open source which has a clear legal definition. It could be simple negligence to use proper legal terminology where it applies. More specifically, it's released under Apa

[2019-10-11 01:43] kennymalac commented on #40
@raidho36 Are you lawyer? I don't think open source has a legal definition or that there is any evidence that using the term like he is would put him in any legal trouble whatsoever. If you can point me to some evidence, that would be duly appreciated. Actually, the idea that someone would fuck up and use this software without realizing that they cannot sell it is ridiculous, because if they did a

[2019-10-11 01:45] raidho36 commented on #40
It takes exactly 1.5 seconds to find this information. You should be proactive in finding out details of the argument, not willfully ignorant.

https://definitions.uslegal.com/o/open-source-license/

[2019-10-11 01:47] kennymalac commented on #40
Haha you are so clever lol! Omg you are so bright and so intelligent!

HMMMMM so basically the legal definition says that an open source license can violate one of the central tenets of the OSI's definition of open source? Very funny!

[2019-10-11 01:54] cyclopsian commented on #40
@kennymalac: The OSI functions somewhat like a standards body in that it has spent a lot of time with a lot of different companies in not only establishing the definition, but also doing the large amount of work required in verifying whether or a huge amount of licenses are compliant with that definition or not. And this is the full definition, they don't make exceptions just because only 9 out of

[2019-10-11 02:15] kennymalac commented on #40
@cyclopsian I completely understand how the OSI functions and why they have a standard set of licenses. However, as I have said before, I think that the game has changed with SaaS and this is why Commons clause is important. OSI won't make an exception and for me that is fine. In the same way you say a lot of companies would be open to changing those terms, a lot of companies are not, because of t

[2019-10-11 02:17] downeym commented on #40
Don't feed this troll any more, folks.

[2019-10-11 02:18] kennymalac commented on #40
Yes, politely fuck off. Try to use some better logic next time.

[2019-10-11 02:23] raidho36 commented on #40
Taking distribution fees means selling. Ability to sell open source software is a freedom guaranteed by an open source license. Yes, open source software is usually distributed without a fee.

Suboptimal quality of the literally first search result on Google notwithstanding, the idea was that your ignorance on the subject is not an argument in your favor. And asking people for all the relevant inf

[2019-10-11 02:24] cyclopsian commented on #40
@kennymalac I can see why you think it would be unjust. But you don't need to work for free to work on open source. I don't particularly like the resume-driven-development culture that has manifested here either, but that is a product of a lot of things including Github's business model which gives away code hosting and project management tools for free in an effort to drive up costs elsewhere.

[2019-10-11 02:41] raidho36 commented on #40
@kennymalac People release their software as open source out of ideological convictions - that software should be accessible to everyone - and among other things this means accepting that someone else may profit off your work without contributing anything in return whatsoever. If you don't share this ideology, feel free to release software under any other license, without claiming that it's open s

[2019-10-11 02:43] kennymalac commented on #40
@raidho36 what it's saying is that some "open source licenses" do require ROYALTIES on distribution. That is fundamentally against one of the OSI's central tenants. Thus, the legal definition is not compatible with OSI's, assuming that it is a valid source.

@cyclopsian I appreciate your straight-forwardness and the fact you aren't yelling my face like some of the others here. Even though I agree

[2019-10-11 03:00] cyclopsian commented on #40
Maybe it is the edge case, I can't say for certain. For a lot of those projects the goal simply isn't to make money, so it doesn't happen. The movement does not discriminate between those who wish to make money and those who don't and I've noticed a lot of people seem to have trouble with what that actually means in a practical sense.

[2019-10-11 03:07] Stvad opened #61 "Create Toggl Integration"
Toggl is a time tracking service:  https://toggl.com/

API: https://github.com/toggl/toggl_api_docs

[2019-10-11 03:09] Stvad opened #62 "Create a Beeminder integration"
Beeminder is a service that helps you to achieve your goals by providing accountability: https://beeminder.com

API: http://api.beeminder.com/#beeminder-api-reference

[2019-10-11 03:14] raidho36 commented on #40
@kfogel I believe he might be trolling for the simple reason that his arguments and particular wording is aimed at inciting strong reaction. Specifically, repeatedly disregarding pre-established facts and various degrees of personal attacks. It's not that the same behavior cannot be exhibited by someone who's plain stupid, but we're being intellectually charitable here.

[2019-10-11 04:43] Mikotochan commented on #40
Just like almost every open source software, why are you gaslighting people?!

[2019-10-11 05:42] janober commented on #62
@stvad Do you have planned to work on that yourself? If so all is fine and we can leave the ticket here. If it is however only a suggestion that somebody else should create it please post it here: https://community.n8n.io/c/feature-requests/nodes
That is the place to add integration requests. Other users can then upvote them if they are also interested. That gives me than the chance to know what i

[2019-10-11 05:43] janober commented on #61
@stvad Do you have planned to work on that yourself? If so all is fine and we can leave the ticket here. If it is however only a suggestion that somebody else should create it please post it here: https://community.n8n.io/c/feature-requests/nodes
That is the place to add integration requests. Other users can then upvote them if they are also interested. That gives me than the chance to know what i

[2019-10-11 05:48] Stvad commented on #62
I'm considering looking into this one myself, but likely not in the next few weeks at least. I'll duplicate the request on the link, but FYI you can sort issues by the number of emoji reactions they have, which should give you an idea about their popularity (i.e. https://github.com/n8n-io/n8n/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc current sorting demonstrates that people are pass

[2019-10-11 05:48] janober commented on #59
@YoniFei Thanks for offering to create the Stripe integration! Can you please post what problems you are having exactly to http://community.n8n.io
I can try to help you and at the same time help all other people who face the same problem in the future. Thanks a lot!

[2019-10-11 05:50] Stvad commented on #61
Created https://community.n8n.io/t/toggl-integration/140

[2019-10-11 05:53] Stvad commented on #62
Created https://community.n8n.io/t/beeminder-integration/143

[2019-10-11 06:00] janober commented on #62
@Stvad Great thanks a lot. Close the issue then here for now.
Ah yes, you are right could also be done here. The problem would then just be that there would be suddenly two locations to do the same thing and that would make things very confusing. So just trying to keep things organized and so hopefully easy and clear.

[2019-10-11 06:00] #62 closed

[2019-10-11 06:01] janober commented on #61
@Stvad Thanks a lot! Closing this issue than for now.

[2019-10-11 06:01] #61 closed

[2019-10-11 06:07] Stvad commented on #62
sure, but just from my perspective github issues seems like a far more natural place to request the integrations 😉  so I suspect that you'd have a whole bunch of issues like this 😛

[2019-10-11 06:40] Stvad commented on #30
I think a significant improvement here would be to provide/require a howto + preferably a one-stop link for obtaining the relevant credentials for each integration, so user won't have to figure it out on it's own for each service.

[2019-10-11 07:24] janober commented on #62
@Stvad Not sure if it's more natural. The name "issue" suggests more that something is wrong or broken. But agree that it would definitely not be the wrong place. It is simply something I did decide because not all users of n8n will be technical so I can not assume that they have Github account. So it seemed like a good idea to add it to the forum. Also, are none technical people even more likely

[2019-10-11 07:31] janober commented on #30
@Stvad Yes, you are totally right! That is one thing that is on my to-do list for months. Never got around to do it though. I should probably try to at least create one asap that can serve as an example that maybe other people can help out and create similar ones for other services.

[2019-10-11 08:08] gophobic commented on #40
I can't understand why the project owner is so patient with those self entitled assholes.

[2019-10-11 08:16] janober commented on #40
@gophobic Because they have a point even though I do not agree with it to 100%. And please do not use such language! Always discuss on topic and never get personal! It only makes the matter worst for both sides and I am interested in resolving the issue asap.  Thanks a lot and have a great day!

[2019-10-11 08:26] gophobic commented on #40
@janober in fact their whole argument in personal attack towards you out of pure jealousy and nothing more. Many FOSS commercial projects use common clause in order to have the right to make profit out of their own work. MongoDB has moved away from GPL/AGPL when it became clear that they are useless against the abuse of cloud providers. I don't even care or know your project is about, but this mov

[2019-10-11 08:31] phoe commented on #40
@gophobic Once again, @janober has an innate and irrevocable personal right to license his own code any way he wants. This issue is about utilizing the well-established term "open source" in a way that contradicts its original meaning.

[2019-10-11 08:37] raidho36 commented on #40
@gophobic Arguing against letting companies using your code because you didn't get part of the pie undermines your statement about jealousy, or perhaps the other way around.

[2019-10-11 08:38] gophobic commented on #40
the term "open source" is not owned by some organization or institution to have one exclusive definition. To 99.99999% of the users, this project is true open source as they can see the source code, modify it and use it as they wish without paying or even thanking the author. The only restriction is that others cannot rebrand it and sell it as if it were their own work. That's more than fair to al

[2019-10-11 08:40] gophobic commented on #40
@raidho36 wow! never seen in any other profession in any place and in any time, that someone puts effort to create something from nothing and then somebody else claims it and sells it and when the owner complains it's called jealousy.

[2019-10-11 08:41] phoe commented on #40
The term "open source" has been well-established by the work of many people who have been using a common definition of it for many years, promoting it, and making clear boundaries of what is and what is not open source according to that definition. They have put a massive amount of work into coining that term. That's more than fair to almost everybody, except those self-entitled "people" who who t

[2019-10-11 08:55] raidho36 commented on #40
@gophobic @phoe Someone else does better job at selling your software and makes more money. If you feel wronged by this - that's plain jealousy. FSF and projects like Linux and GNU use open source licenses exclusively despite the fact that the code can (and often enough is) get appropriated. Open source is bigger than an individual, let alone individual's irrational feelings. If you don't feel thi

[2019-10-11 08:56] janober commented on #40
Just to be clear. I am still out of the discussion I only comment if I really have.

@raidho36 Yes, that is a good possibility. One of the biggest issues I have however with not calling it "open source" anymore at all is that it would exclude n8n from many things it is not supposed to be excluded from. Because even though the term has a very specific meaning for some people (like the OSI) it does

[2019-10-11 09:08] raidho36 commented on #40
@janober I don't question your anecdote; just because some people misuse an important term doesn't mean that it's OK to do it. As it stands, your license is not open source and holding on to that title because it gives you some perks you're not entitled to isn't a right approach to it. What you should do is to either change that title to something more appropriate, add a prominent remark that this

[2019-10-11 09:08] janober commented on #18
haha yes, that is the problem I am neither ;-)

It could similar to the "Set" node. Where people can add multiple values (here operations). Then there could be one field for the "property name" which should be transformed and another one for the "transformation to transform".

Or not being a node at all. Just being different functions that people can use in expressions and select in a proper expre

[2019-10-11 09:14] janober commented on #40
@raidho36 Just to clarify. I think you misread it. It is the opposite. n8n was entitled to it. DO did not mean "OSI approved open source" they just meant "open source" in the widest of meanings. I extra asked to NOT get something I am not supposed to be entitled to. That always was and still is important to me! But as much is the opposite. I do not want to be excluded from something I was supposed

[2019-10-11 09:32] raidho36 commented on #40
@janober Unfortunately, the "widest of meanings" doesn't align with what open source _actually is_, and it doesn't help that you want this title because you want associated perks without associated obligations. It cannot be overcast and clear at the same time, if one insists that it can it's because they're being dishonest. Justifying it by claiming pop culture general meaning and not not actually

[2019-10-11 09:32] mholleville opened #64 "Error trigger github"
Hi ! I'm trying to test n8n with github trigger. I have create one token with all github api access . When I try to fetch star number on my repository I haven't any response. I haven't any error on my block. Can you help me ? I have used this documentation for creating my token : https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line

[2019-10-11 10:31] janober commented on #64
Can you please do me a favor and post this issue here:
https://community.n8n.io
I will then get back to you asap. The reason is simply that I want all problems people face in one location that if people have problems they have only one place to look for a solution.

Thanks a lot!

[2019-10-11 10:31] #64 closed

[2019-10-11 10:35] Kernald commented on #40
I love how this thread exacerbates how closed open-source really is. You totally understood his point, and yet still argue that he's abusing the whole open-source concept in this specific case with Digital Ocean (he's not, as Digital Ocean is _not_ using the term open source correctly either, and that's all he's saying).

[2019-10-11 11:02] raidho36 commented on #40
It's closed to people trying to co-opt and undermine it, yes.

[2019-10-11 11:54] justinphebey commented on #40
I agree with the first part of this but not the latter part.  It is though either Open Source or not and someone shouldn't seek to change the effect of any licence through separate wording outside of the licence document or the meaning of Open Source.

One solution might be to diverge the public aspect of the project and the SaaS part to have different licences and only push some aspects to the pu

[2019-10-11 12:51] kertof commented on #40
Maybe just to clarify, @janober , why don't you want n8n to be Open Source, and what are you hoping to acheive with the Commons Clause?

[2019-10-11 12:58] janober commented on #40
@kertof Wrote about it in the FAQ here:
https://docs.n8n.io/#/faq?id=why-does-n8n-has-the-commons-clause-attached-to-the-license

[2019-10-11 13:08] ddevault commented on #40
I have written to hacktoberfest in protest. I would be upset if I used their tools to find open source projects to contribute to, just to later find out that they weren't open source at all.

[2019-10-11 13:37] rdlu commented on #60
I'll try some postgres combinations, thanks!

[2019-10-11 13:54] gorkamolero commented on #55
Hey guys,

I think the deal would be to make this work with **Cloud functions** for firebase, which is the part of firebase that works as a sort of backend for non-backend devs.

I've only seen this about TypeORM and cloud functions https://github.com/fireship-io/201-cloud-functions-sql-typeorm

[2019-10-11 13:56] gorkamolero commented on #55
You can make all sort of calculations in response to certain triggers, like https requests. If you can make a GraphQL server run on Cloud Functions, you could probably do this

https://codeburst.io/graphql-on-cloud-functions-for-firebase-153fe7b02ea5

[2019-10-11 13:58] 1ntEgr8 commented on #26
@janober can i try this one out?

[2019-10-11 14:49] janober commented on #26
@1ntEgr8 Normally would more than happy but I already created it last weekend as an example for the ProductHunt launch.
https://github.com/n8n-io/n8n/commit/df6e863925b791ddcce864bd3e8b48285ff95e21

I totally forgot that I created a Github issue for that. Sorry, my mistake. But there are literally still thousands of other ones left ;-) If you need help to find one simply reach out. Or you can also

[2019-10-11 14:49] #26 closed

[2019-10-11 15:03] spenserblack commented on #40
Since you seem concerned about people not understanding what "source available" is if you describe n8n as such, @janober, what if you made an addition or modification to your FAQ to explain what it means that n8n is "source available"? You could link the most visible uses of the phrase "source available" in your project to a FAQ entry, and possibly explain that many people may mistakenly identify

[2019-10-11 16:30] krumholz commented on #55
@gorkamolero Yeah, I believe this would actually work as a Cloud Function. I did some research and did find a project that wrapped Cloud Firestore in an orm. Integrating that wrapper could be a start. https://github.com/wovalle/fireorm

@janober I investigated typeorm and they had no plans to add more nosql db's, as of about 8 months ago. Do you have any other thoughts about deploying to productio

[2019-10-11 21:04] estevam31 commented on #27
I would love to work on this!

[2019-10-11 21:48] janober commented on #27
@estevam31 Thanks, great to hear! In the forum (link above) CrystalMethod said he would work on it but that was 19 days ago. Did not hear anything since and also never got an answer to my question. I guess he maybe decided differently. I just wrote him in the forum to ask. Let's see if he answers. Anyhow, in the end you can decide yourself. Who ever creates it first gets it merged.
Would however a

[2019-10-11 22:15] estevam31 commented on #27
@janober No problem. I'm currently developing an integration with Gitlab in a personal project and at worst working on this would bring me some piece of knowledge. I will try to implement this, but as he has already taken on this task, if he answers the priority is all his.

Thanks for your time.

[2019-10-11 22:19] janober commented on #27
@estevam31 Like how you approach things! Btw. great to have you on board and as a future contributor. Very appreciated!

[2019-10-11 22:20] cyclopsian commented on #40
@janober This project depends on many open source libraries to function. Consider if one of the important ones you depend on such as Vue.js actually had a commons clause on their license this whole time. It would not be "OSI open source", and it would not be "wider definition of open source" for you either. It would prevent you from pursuing your business plan in the way you have, which is to sell

[2019-10-11 22:25] janober commented on #40
I can assure you all that the problem will be solved very soon and I am pretty sure you are gonna be satisfied with the outcome.

[2019-10-11 22:30] cyclopsian commented on #40
Thanks Jan for paying attention to this and not just ignoring the issue.

[2019-10-11 22:39] janober commented on #40
I never ignored the issue. I simply said I will not be part of the discussion until I made a decision on how to proceed and finished my talk with the OSI. I also asked everybody kindly to do the same (sadly not very successfully) as it was not very likely that the sides suddenly start agreeing. Saw more the chance that everything gets worst.

So will update here once there is an update....

[2019-10-11 22:50] cyclopsian commented on #40
What the sides are saying is not important and you know this. They will never agree. This issue is about you picking what side you are on.

[2019-10-12 01:22] Stvad commented on #62
Maybe it's my developer bias talking w.r.t to this being a more natural place :). The template would definitely help with reducing confusion!

[2019-10-12 01:29] Stvad commented on #30
@janober An example would be a great start :)

[2019-10-12 01:32] Stvad commented on #30
@mscansian I think one option for you to have more control regarding licensing as contributor is to create the nodes as separate packages (from what I understand the current architecture allows for that).

[2019-10-12 16:37] calpa opened #70 "feature: switch"
This project is awesome, but I find that there is no switch in the code block.
So I need to use a lots of switch...

Any other better solutions?

[2019-10-12 16:45] janober commented on #70
Hello,

please post all questions always here:
https://community.n8n.io

I answer then asap. When doing so please also clarify what you mean with "switch" as it sounds for me right now like you are talking about the IF-Node. Thanks!

[2019-10-12 16:45] #70 closed

[2019-10-12 22:03] boramalper commented on #51
24 hours is pretty swift in my opinion, especially for a FOSS project. =)

[2019-10-12 22:06] janober commented on #51
@boramalper Happy to hear! Still to try to be faster in the future.

Btw. because the Commons Clause is attached I think FOSS would not be the correct term. Here some information about the license:
https://docs.n8n.io/#/faq?id=license

[2019-10-12 22:07] #51 closed

[2019-10-13 02:30] rajaraodv opened #71 "Questions: performance benchmark? Logs when errors? Adding new nodes?"
Excellent project, Thanks for building this! I'm familiar with tray,io and zapier and this looks like a great project to replace them. I'm interested in participating in this. I have a couple of questions:

1. Have you done any performance benchmark as to how many requests can it handle?
2. Where do you log things when things go wrong in production?
3. Where are docs to add new nodes?
4.  What are

[2019-10-13 07:32] janober commented on #71
Thanks a lot! That is great to hear and would love to have you on-board!

To your questions:

  1. No, I did not. So can sadly not much say here. But even though it has some overhead to for example running a custom node.js script I tried to keep it to a minimum. Also does each workflow that runs get started in a separate thread so it should utilize the resources of a machine reasonable well

  2.

[2019-10-13 12:26] calpa opened #72 "Telegram Credentials error"
I got this error after I restart my machine, and I also cannot open my credentials in stored credentials...

[code]

[2019-10-13 12:28] janober commented on #72
Please post this question to: https://community.n8n.io

I will then help you asap.

[2019-10-13 12:28] #72 closed

[2019-10-13 18:41] janober commented on #27
@estevam31 Ok would say you are good to go. Did not get any answer. So looking forward to it!

[2019-10-13 19:51] samuelmtimbo commented on #41
@janober it did! Thank you @mjhea0! Perhaps these steps should be referenced on README.md?

[2019-10-13 19:51] #41 closed

[2019-10-13 20:01] janober commented on #41
@samuelmtimbo Great to hear!

I just checked it is already referenced. Regular users do not have to do that, only users who want to develop for n8n. And for those do the `README.md` files have a special "Development Setup" section on the bottom and that one links to the `CONTRIBUTING.md` which describes the setup.

[2019-10-14 04:25] stenalpjolly opened #74 "Support for notification"
Hi Team,

Is there any method to generate macOS native notification using this?

Thanks
Stenal

@thomasleveil @jmargeta @wernersmit @justb81 @mikementor

[2019-10-14 06:32] danztensai opened #75 "Cant Connect to PostgresSql sqlmode=require"
I've created
[code]
Everything went smoothly until I tried to use Postgresdb that using ssl which is sslmode=require
did n8n will support sslmode=require on postgresdb or am I missing something like missing some ENV that need to assign so it can work with ssl mode?
because i got an error like this

[code]

[2019-10-14 06:43] janober commented on #75
I think you are right, that is probably currently not supported. At least not when it is a self-signed cert. If not I would expect it to work even though I never tried.

n8n uses TypeORM under the hood and that is what they have written about it:
https://github.com/typeorm/typeorm/blob/master/docs/connection-options.md#postgres--cockroachdb-connection-options

Will try to add the possibility in th

[2019-10-14 08:35] danztensai commented on #75
Ah i see, ok, so any workaround for this? beside disable the sslmode or waiting for next version?

[2019-10-14 08:41] janober commented on #75
No sorry, sadly none I can think of right now.

[2019-10-14 09:28] janober commented on #75
@danztensai Ah thanks a lot that is great! Still hope that is not needed to long but nice to see there is a "good" workaround for now.

[2019-10-14 09:31] #75 closed

[2019-10-14 10:36] MinuteCode commented on #74
Hi N8n team, In the same train of thought, what do you think about implementing [Pushbullet](https://www.pushbullet.com/) to N8n ?
The [API](https://docs.pushbullet.com/#pushbullet-api) is well documented and this would bring mobile notifications to Android users.

Should I create a separate issue ?

[2019-10-14 11:08] janober commented on #74
@stenalpjolly @MinuteCode Not much of a team yet just me but do my best anyway. Hope it will grow soon and that also more contributors join. The later at least seems to start slowly already.

Sorry, I do not know anything about how macOS notifications work but could be interesting for sure! New Integrations can be requested in the forum here:
https://community.n8n.io/c/feature-requests/nodes
Other

[2019-10-14 12:00] MinuteCode commented on #74
Thanks for your reply @janober it's a really nice project you have there :)

I didn't see the forum section for requests, sorry about that. I willl post the node request there :)

[2019-10-14 12:11] janober commented on #74
@MinuteCode Thanks a lot for both!

I want to create an issue template for days to mention it there. I hope it is up soon!

[2019-10-14 12:23] rdrey commented on #40
I would love it if n8n used its popularity and attention to promote the "Source Available" terminology. Nothing wrong with being a flagship in the Source Available space. I imagine it being at the top of every "Awesome Source Available" list and still allowed on "Awesome Self-Hosted" and all the other lists it's trying to be on.

[2019-10-14 13:32] raidho36 commented on #40
Some lawyer online said that open source licenses are rescindable, because it's not a copyright transfer and only a permission from copyrights holder, and free-takers didn't negotiate a consideration and the license is therefore not a contract, and so the licenser can revoke it at any time for any reason or even no reason. IANAL so I couldn't corroborate or rebuke, but GNU does in fact require tha

[2019-10-14 13:38] cyclopsian commented on #40
@raidho36 You are quoting a known troll who has been spamming the LKML with hateful rhetoric for quite some time.

[2019-10-14 16:29] raidho36 commented on #40
@cyclopsian Yeah but are the legal arguments true? Cuz you know, law doesn't cares if you got offended in the process or not.

[2019-10-14 16:33] cyclopsian commented on #40
The only thing I find offensive is the derailing of this thread into unrelated subjects.

[2019-10-14 16:34] raidho36 commented on #40
Ability to withdraw open source license from particular parties who didn't pay to use the software is implied to be relevant to @janober.

[2019-10-14 16:36] cyclopsian commented on #40
There already is a solution that has been pursued, which is the commons clause. You are barking up the wrong tree.

[2019-10-14 16:42] raidho36 commented on #40
@cyclopsian it's been thoroughly discussed; Commons Clause disqualifies the software from "open source" title, they state that much on their website, and so does FSF - this point is not for debate. However, since the object is to take fees from businesses using the software, this can be accomplished under plain open source license if the stated legal argument (unpaid OSS licenses are rescindable)

[2019-10-14 16:45] cyclopsian commented on #40
Retracting the open source license also makes it not open source anymore. This line of discussion is not productive, please don't have it here.

[2019-10-14 20:07] lucafaggianelli commented on #27
Great, I was looking for the GitLab node! @estevam31 @janober if you need any help for building or testing it, just drop a line.

[2019-10-14 21:34] apotheon commented on #40
Just for the sake of completeness:

"Source-available" at least means the ***SOURCE*** is ***AVAILABLE***.  This software clearly meets that minimal requirement.

As already pointed out, there isn't as strict a definition of "source-available" as there is of "open source".  As such, I think you should feel free to use it for software whose ***SOURCE*** is ***AVAILABLE***.

The term "open source",

[2019-10-15 00:35] lucafaggianelli opened #77 "Webhook Node source code generated with n8n-node-dev has typo"
[code]

[code]

[2019-10-15 01:02] lucafaggianelli opened #78 "AutoComplete not working in multiOptions properties"
When editing node properties, the autocomplete feature of the select element doesn't work for node properties with the type `multiOptions`

![Screenshot from 2019-10-15 02-59-07](https://user-images.githubusercontent.com/4471043/66792178-da669700-eef7-11e9-90f0-60b18a492561.png)

[2019-10-15 10:20] dimlev commented on #60
Same issues (without docker) with postgres 12. Works fine with postgres 11

[2019-10-15 10:24] janober commented on #60
@dimlev Thanks for the update! That is good to know. Will add it my To-Do-List.

[2019-10-15 10:25] janober commented on #78
Lookes like it is the same issue as #2

[2019-10-15 14:13] YoniFei opened #80 "Make it easy to use Ngrok or similar for local webhook testing"
Trying to poke around, I see the `getNodeWebhookUrl` method definition in the interface, but I can't seem to find where it is implemented?

I think it would be ideal if you could have a setting somewhere that would force using an Ngrok/other tunnel's URL instead of localhost.

[2019-10-15 14:16] janober commented on #80
Ah yes, that it is already implemented. You can find information about it here:
https://docs.n8n.io/#/setup?id=start-with-tunnel

[2019-10-15 14:49] lucafaggianelli commented on #78
It's an issue with the `setFocus` function called as `<el-select @focus="setFocus">` here:
https://github.com/n8n-io/n8n/blob/master/packages/editor-ui/src/components/ParameterInput.vue#L64

see the PR for details, here a codepen that I used for fixing the issue, if you want to play around:
https://codepen.io/lucafaggianelli/pen/mddPvbm?editors=1010

[2019-10-15 15:35] #80 closed

[2019-10-15 19:32] #2 closed

[2019-10-15 19:32] #78 closed

[2019-10-15 21:02] janober commented on #77
@lucafaggianelli Thanks a lot for the info! The code was actually already fixed but I forgot to release a new version. Sorry! I released now n8n-node-dev@0.5.0 which creates nodes with the correctly named interface.

[2019-10-15 21:02] #77 closed

[2019-10-15 21:07] janober commented on #59
I did sadly not hear back because of the setup issues. But just want to keep you updated that @lucafaggianelli created a pull-request for a Stripe Trigger-Node not that you also start working on it. Have a great day!

[2019-10-15 21:10] janober commented on #71
I hope that did answer your questions. If not you can follow up anytime. Close the issue for now.

[2019-10-15 21:10] #71 closed

[2019-10-15 21:11] janober commented on #36
I hope that did answer your questions. If not you can follow up anytime. Close the issue for now.

[2019-10-15 21:11] #36 closed

[2019-10-16 00:42] kennymalac commented on #40
@ddevault Maybe before trying to get janober removed from Hacktoberfest, you should try to delete the omnimaga forums again

[2019-10-16 00:49] ddevault commented on #40
lol

[2019-10-16 09:26] #31 closed

[2019-10-16 12:48] YoniFei commented on #59
Ah, I got stuck on side issues, and it seems he is a little farther ahead.
We both basically tried to replicate via the Github node.
Mine is [here](https://github.com/YoniFei/n8n/tree/Stripe-Node)

Though I see the verification still needs to be done.

[2019-10-16 12:55] janober commented on #59
Ah very very sorry! Merged the other one a few hours ago and released with n8n@0.26.0

[2019-10-16 18:56] binarytide opened #82 "list of active workflows?"
is there any plans to have a list of active/loaded workflows?

[2019-10-16 19:00] janober commented on #82
You should actually be able to see that already now if you click on "Workflows"  on the left and then "Open". There you should see all the workflows that exist and a toggle on the right side which show you which workflows are currently active and which ones are not with the chance to change it.

Btw. please post all further questions here:
https://community.n8n.io

Thanks!

[2019-10-16 22:41] estevam31 commented on #27
@lucafaggianelli I'm quite busy these days, if u want to take this on your own, it will be better for the project.

[2019-10-17 07:49] zz940522 opened #84 "Error: The module '/usr/local/lib/node_modules/n8n/node_modules/mmmagic/build/Release/magic.node"
Error: The module '/usr/local/lib/node_modules/n8n/node_modules/mmmagic/build/Release/magic.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 72. This version of Node.js requires
NODE_MODULE_VERSION 57. Please try re-compiling or re-installing
the module (for instance, using `npm rebuild` or `npm install`).
    at Object.<anonymous> (/usr/local/lib/node_modules/n8n/n

[2019-10-17 07:57] janober commented on #84
Very sorry but to be able to help you additional information is needed. Like what are you trying to do? What did you do until now? What OS, node.js version are you using?

But looking at the error message it seems like an error that has nothing to do with n8n at all. Maybe really simply try what it says. Best blow away the "node_modules" folders and then run `npm install`.

[2019-10-17 08:03] zz940522 commented on #84
os:CentOS Linux release 7.6.1810 (Core)
I run n8n start,it prints this error.
I try node version 8.11.3,10.16.3and12.12.0,when i try run npm install magic,it prints "node-waf:command not found".

[2019-10-17 08:06] zz940522 commented on #84
but now,n8n is started,i just wanna cry.I used one day to install this one,oh my god,Jesus Christ

[2019-10-17 08:12] janober commented on #84
Uh wow, normally it should just take a few minutes.

So then I guess the error makes sense. You probably did the `npm install` with Node.js v8 and there it did not work. Then you tried to start with other versions without removing the "node_modules" folder.  So then the module got build with a different version than now started and therefore the error.

[2019-10-17 08:14] janober commented on #84
Btw. it is normally always best to run Node.js applications with the current or LTS version to avoid problems unless stated differently.

[2019-10-17 08:14] zz940522 commented on #84
I have a lacal machine and the os is deepin,now i should try which version of nodejs?

[2019-10-17 08:41] janober commented on #84
The one you prefer. Either 10 or 12. Both should work fine.

[2019-10-17 08:42] zz940522 commented on #84
Ok,thank you,let me try

[2019-10-17 09:31] zz940522 commented on #84
/usr/local/bin/n8n -> /usr/local/lib/node_modules/n8n/bin/n8n

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/10.16.3"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/lib/node_modules/n8n/node_modules/mmmagic/.node-gyp"
gyp WARN install got an error, rolling back install
gyp WARN install got an error, rolling back install
gyp

[2019-10-17 09:46] zz940522 commented on #84
I'm sorry to bother you,i have kill the truble with npm install n8n -g --unsafe-perm,and install n8n need
make,gcc,gcc-c++

[2019-10-17 09:46] janober commented on #84
hm sadly not related to n8n so can not be much of a help. It seems to have to do with access rights on your system. Even though I do not understand why the "root" user (which normally has the right to do everything) does not have the right to write to his own home-folder. Anyway, I would look on Google or similar for the error message you are getting.

[2019-10-17 09:48] zz940522 commented on #84
Do you have see my another reply,n8n works.Thanks you!

[2019-10-17 09:56] zz940522 commented on #84
![微信图片_20191017175538](https://user-images.githubusercontent.com/33046965/66998760-64d11580-f107-11e9-8383-e1f309f0fe72.png)

[2019-10-17 10:02] janober commented on #84
Yes, it would make sense that if you install as "root" (which is normally not recommended) you need the --unsafe-perm.
The dependencies are required for normally almost all the node.js applications. Here also some information in the CONTRIBUTING guide:
https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#requirements

Ah great. It looks like you got it up and running.

[2019-10-17 10:07] zz940522 commented on #84
Congratulation!

[2019-10-18 01:43] grahamPegNetwork commented on #40
Well, interesting thread to be sure, I'd like to toss in my two cents here, for whatever it's worth.

1. I'm a loyal Linux user and love "open" software in general. I occasionally look into licensing issues but couldn't tell you the difference between Apache, MIT, BSD, GPL, etc without referencing a web page on them. I consider myself knowledgeable but not an expert on the topic.

2. In my general

[2019-10-18 04:49] kfogel commented on #40
Hi, @grahamPegNetwork.  Historically, the term "FOSS", which stands for "Free and Open Source Software", started being used precisely so people could have a single word to refer to the set of licenses that are simultaneously free software licenses and open source licenses -- basically, a Venn diagram in which the circles overlap almost completely.  (I say "almost" only because there is some disput

[2019-10-18 09:49] janober commented on #84
Great that it works now. Close this issue. Have a great day!

[2019-10-18 09:49] #84 closed

[2019-10-18 09:51] #82 closed

[2019-10-18 12:34] #59 closed

[2019-10-18 23:41] Hongbo-Miao opened #86 "Cannot sign in"
I registered by email, but I didn't receive any email to allow me to confirm my email.
When I tried to sign in, it lets me to confirm my email first.
So now I am totally stuck here.
Any guide will be helpful! Thanks

![image](https://user-images.githubusercontent.com/3375461/67134244-1898da80-f1c6-11e9-86b2-8f4699d705e0.png)

[2019-10-20 09:08] szutt commented on #40
@janober Hello, your project seems very promising.

I came here by clicking the link on reddit because there was the term "Open Source" in it. Personally, I understand the term "Open Source" in the sense of the OSI (https://opensource.org/) and not as a kind of development model (everyone has the right to have their own point of view on things).

I think we agree that some licenses were created be

[2019-10-20 11:55] raidho36 commented on #40
It explicitly allowed commercial use back then. SaaS changed nothing in this regard. You can even argue that RedHat's business model was a type of SaaS.

[2019-10-20 14:52] janober commented on #86
I just checked. It seems there is no user registered with that email. So I guess it cleaned up the account automatically because it did not get confirmed. Currently, you have to self-host n8n. If you are interested in the hosted version you can sign up here to get informed once it is ready:
https://n8n.io/hosting

Also, one important thing to mention. The website does not give access to the hosted

[2019-10-20 14:54] janober commented on #74
Close this issue. Request can be found in forum here:
https://community.n8n.io/t/pushbullet-integration/194

btw. issue template is up for a few days.

[2019-10-20 14:54] #74 closed

[2019-10-20 14:56] janober commented on #48
I did not get an answer so close this issue for now. If API is really available please post in form with a link to API documentation. Thanks!

[2019-10-20 14:56] #48 closed

[2019-10-20 15:54] lucafaggianelli commented on #27
@estevam31 no problem, I can work on this next week

[2019-10-20 17:48] Hongbo-Miao commented on #86
@janober thanks, I definitely registered. Because when I try to register again with same email, it shows

![image](https://user-images.githubusercontent.com/3375461/67163710-231eb580-f327-11e9-9a4e-644de5e4dc3f.png)

[2019-10-20 17:50] Hongbo-Miao commented on #86
@janober oh, it might be a bug, because when I registered, it is `Hongbo.Miao@outlook.com`, note it is capital `H` and `M`. You can try to search `hongbo.miao@outlook.com` in database too.

[2019-10-20 17:50] ddevault commented on #40
@janober you promised us an update "soon", have you made any progress?

[2019-10-20 18:34] janober commented on #40
@ddevault Yes, there is. Sadly did not get an answer for a while from @massonpj as he was attending "All Things Open". I am sure as soon as he has time again he will answer.

[2019-10-20 18:35] ddevault commented on #40
Is there a specific question you're waiting for an answer on?

[2019-10-20 18:45] janober commented on #40
@ddevault Some things are still open. Not gonna get into it here.

[2019-10-20 18:48] ddevault commented on #40
That lack of transparency really backs up your "open source in spirit" claim.

[2019-10-20 19:00] janober commented on #40
@ddevault Yes, exactly that is on purpose. The discussion here was sadly in large parts not very constructive that is why I had to do it that. Will update here once there is news.

[2019-10-21 18:58] tretinha commented on #40
Of course it was constructive, a lot of free software people brought their points of view. The only way I can possibly think that this is not being constructive is if you are deliberately choosing to ignore all the facts they said only because you still don't have your miracle answer.

[2019-10-23 10:03] janober commented on #86
Uh very sorry. I wanted to answer and then got side-tracked and forgot. Yes, I could find you now and did activate it manually.

[2019-10-23 10:03] #86 closed

[2019-10-23 10:59] RosemaryOrchard commented on #52
Would it be helpful to have n8n check the current node version before anything else and then fail with an error message that the node version is too old? I ran into this same error today :)

[2019-10-23 12:04] janober commented on #52
@RosemaryOrchard that is a great idea. Did add it and will be released with the next version.
https://github.com/n8n-io/n8n/commit/a2b589880ff52b117601254de78f36084d6de647

[2019-10-23 12:08] janober commented on #23
Integration got created and released with n8n@0.28.0

[2019-10-23 12:08] #23 closed

[2019-10-23 13:41] aneurinprice opened #88 "UnhandledPromiseRejectionWarning: Error: There was an error: Port should be >= 0 and < 65536. Kubernetes."
**Describe the bug**
n8n does not start on my kubernetes cluster with the following message:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Apply the deployment
2. See error

**Expected behaviour**
n8n should start

**Environment (please complete the following information):**
 - OS: Debian 10
 - n8n Version Docker:latest
 - Node.js Version Docker:latest

**Additional context**

Kub

[2019-10-23 13:47] janober commented on #88
Hm, very strange. Never saw that error before. No idea why the port should end up to not be a number... Did you try to set the env variable `N8N_PORT`?

[2019-10-23 14:02] aneurinprice commented on #88
I have now set the N8N_PORT var and it seems to be perfectly happy with that now (Thank you for that). Any idea why the default didn't work? I have tested in just docker rather than Docker + Kubernetes and it seems to be fine. This doesn't seem to be limited to just my cluster either.

[2019-10-23 14:06] janober commented on #88
Great to hear!

Honestly not the slightest idea. Something must somehow send in a "strange" port. I am using `convict` for that. Not sure if there is something that gets set by Kubernetes that it picks up.

[2019-10-24 03:23] ddevault commented on #40
Don't forget about us, @janober. We stil expect answers for the lies which are still shown on the website. [You seem to have lots of time](https://github.com/n8n-io/n8n/commits/master) to devote to n8n, how about devoting some to correcting your misleading marketing material?

[2019-10-24 04:28] cyclopsian commented on #40
It's unlikely this will be changed before the end of hacktoberfest.

[2019-10-24 05:09] kennymalac commented on #40
This level of whiteknighting is unprecedented! I'm very amused by the belligerence and obligation to redemption shown above. Maybe he is still busy contributing to his project because he has actual issues to fix, not hissy fits needing to be quelled. This really does not matter as much as you say it does, but I think politically as a compromise a new marketing term for this type of license could b

[2019-10-24 09:54] aneurinprice commented on #53
I can't be the only person who refers to it as "n-ate-n"?

[2019-10-24 10:19] blizzz commented on #40
@kennymalac maybe ask you lawyers whether claiming "open source" where it is not is committing [Unfair business practices](https://en.wikipedia.org/wiki/Unfair_business_practices), in particular German (where he seems to be based) [Irreführende Werbung](https://de.wikipedia.org/wiki/Irref%C3%BChrende_Werbung) (i.e. deceptive advertising).

[2019-10-24 17:40] kfogel commented on #40
Many terms that don't have a legal trademark owner still have meanings that are widely agreed on, and using the term in a different way creates confusion.  Many empirically verifiable claims about the very specific meaning the term "open source" has in common usage in the software field have already been offered in this issue, with links in some cases.

Calling an apple a pear won't change it into

[2019-10-24 18:13] cyclopsian commented on #40
@kennymalac The purpose of the commons clause is to deny end users the ability to make money unless granted an exception by the copyright holder. I don't know how it could be any clearer that its use is intended to affect the finances of someone else.

[2019-10-24 18:16] kennymalac commented on #40
@cyclopsian False. The purpose is to deny those the opportunity to *directly sell* the software without first negotiating on terms with the author. It definetly affects the *hypothetical* finances of those with business dealings, but in a way that financially supports the author. Thus it denies freedom necessarily to rightfully give the author a negotiation for software that is **their property**.

[2019-10-24 18:25] cyclopsian commented on #40
If the license was changed to say something like "You owe me 99% royalties upon direct sale of the software" that would still technically be hypothetical according to you, but it still wouldn't be open source. And someone who wanted to charge for their own hosted version would probably be right to avoid it.

[2019-10-24 18:44] cyclopsian commented on #40
It's not open source and I'm not going to retread what's already been said in this issue several times. If you have issues with the Open Source Definition then take it up with the OSI. The term "fair source" IIRC has already been taken by a number of other things. This confusion and bikeshedding is exactly the reason why I discourage these tack-on clauses to other licenses.

[2019-10-24 19:20] massonpj commented on #40
I 'm not sure what the burden of proof is, but I can point to several examples were people/organizations were financially harmed, where legal issues were raised, and something "bad" happened. Of course everyone might not agree on what qualifies as "harm," "legal," or "bad" is. But here are some real world examples:

1. SailfishOS:. Jolla started an Indiegogo campaign to develop the Jolla Tablet an

[2019-10-24 19:46] kfogel commented on #40
Thank you, @massonpj.

@janober, I hope this helps with your decision.

[2019-10-24 19:49] kennymalac commented on #40
@massonpj this is all well and good, but in this case a product is being sold directly and/or crowdfunded. In those cases, especially when OSI is mentioned, it definetly makes sense a lot of people would be pissed especially considering they will not get their money back. But in this case, nothing is being sold. The key difference is that as a consumer, you are under obligation to receive what you

[2019-10-24 20:54] massonpj commented on #40
@kennymalac  re. "I think I that their open source policy is perfectly reasonable." Just an FYI, Jolla changed their policy **after** our (and others') response. They also removed all references to "open source" in their Indiegogo page (although the videos still include them), in their general marketing/promotions, and when speaking with press.

[2019-10-24 22:04] janober commented on #40
Just short as my input seems needed.

@ddevault I did not forget about you. And I told you exactly what was going on. I was in contact with @massonpj and as I told was he busy. I  answered all his emails within 24h (communication over continents via long emails is sadly not the fastest) and I did not hear in between for 9 days of him as he was at a conference and is probably also aware that this i

[2019-10-24 22:16] cyclopsian commented on #40
I'm sorry for that Jan, I agree it was out of line. I retract my earlier statement.

Since you have retracted it from hacktoberfest, are you also planning to adopt a CLA? I don't believe it is legal for even you to sell consulting or hosted services of this project because you have accepted pull requests from outside contributors. This creates a problem since this code is also technically licensed

[2019-10-25 04:45] janober commented on #40
@cyclopsian Thanks a lot!

That is a very good point! I will check with a lawyer if a CLA is needed. Thanks for making me aware of that!

[2019-10-25 12:58] sutidor opened #93 "v0.28: Error Trigger workflow could not be activated"
Hi Jan,

I tried to implement an error workflow today but I cant activate it. Gives me following error:

There was a problem and the workflow could not be activated:
The workflow can not be activated because it does not contain any nodes which could start the workflow. Only workflows which have trigger or webhook nodes can be activated.

What I dont quite get as well, is there a global error workf

[2019-10-25 13:07] janober commented on #93
Hello Sven,

please ask questions if possible always in the forum (https://community.n8n.io) first. Only create an issue here if it is a bug for sure. Just to have a single location where people can look things up if they need to.

Yes, the Error Workflow does not have to get activated. If it has an "Error Trigger"-Node it will get executed if it is set as Error Workflow on another workflow.

It i

[2019-10-25 19:44] raidho36 commented on #40
@janober Using such wording in full intention rather than in ignorance will upgrade your situation from negligence to fraudulence.

[2019-10-25 23:46] kennymalac commented on #40
@cyclopsian I think you're wrong here. Apache2 has a provision that says that unless otherwise noted, any contributed is licensed under Apache2. Also, the "licensor" in Commons clause says that the licensor is @janober. This would mean that the individual commit is licensed under apache2, but the project in its entirety is under the Apache2+commons clause. (Note: I am not a lawyer. This is just my

[2019-10-26 04:48] kfogel commented on #40
@janober Thanks.   Regarding your suggestion _"I urge you to make sure that you keep some of your 'community members' in check. They may think they are helping but are actually doing the opposite."_ :

Just because I agree with someone on something doesn't mean I control or influence them.  I might or might not be in some community with them -- this is a very complex question, since "community" is

[2019-10-26 11:34] janober commented on #40
@cyclopsian It looks like you are probably right. A CLA is probably best for the project. Want to avoid any problems regarding license in the future and also want that everybody knows exactly what he is getting into. Added that to the contribution guide: https://github.com/n8n-io/n8n/blob/master/CONTRIBUTING.md#contributor-license-agreement

@kfogel Yes you are right with big parts of your comment

[2019-10-26 17:49] ddevault commented on #40
The question is not if the use of the term "open source" for this project is legal. It's whether or not it's *wrong*. You're weasel-wording your way into using a term that doesn't apply. If you have to do that, maybe you should question that you're doing it in the first place.

[2019-10-26 17:51] ddevault commented on #40
I'd like to remind you that your own poll was strongly against your use of the term:

https://news.ycombinator.com/item?id=21195516

34 against, 13 for, an extremely strong 70% majority. 9/10 commenters condemned your use of the term.

[2019-10-26 19:06] janober commented on #93
I guess the "hooray" reaction means that the problem got solved ;-) So close the issue.

[2019-10-26 19:06] #93 closed

[2019-10-27 04:39] raidho36 commented on #40
@janober "employee XYZ's opinions do not represents the views of our company". Even if someone is hired by you, you still don't bear such responsibility for them.

First of all, it's not an estimation, it's a wild guess biased to support your original point. Second, it doesn't hinge on how many people felt wronged by it versus how many didn't. Third, it doesn't matter how much time exactly did it

[2019-10-27 05:19] kennymalac commented on #40
Actually, he can. He is not even selling anything. What rules is he breaking? The "don't piss off strangers on the internet" rule? LOL
A company that says NO GMO is required **by law** to not use GMOs. non-GMO and organic are both terms legally controlled by the state. If @janober was using the term "OSI-certified" your logic would apply, as he could be legally punished. All that it means for him

[2019-10-27 06:49] kfogel commented on #40
@janober You're right, I apologize -- I shouldn't have said you were being rude.  In order for you to be being rude here, you would have to first believe the claim (which @ddevault and I are making) that a large majority of programmers and others working in the software technology field think of the phrase "open source" as meaning what we're saying it means.  Now, I believe our claim is correct, o

[2019-10-27 07:46] raidho36 commented on #40
@kennymalac I wanted to include specific statement that software industry is not nearly as tightly regulated as food industry, and the probability of getting slapped with small business bankrupting fines is rather low, but all of that was to illustrate a point - in similar but more readily recognized terms. I assumed that all of the above should be self-explanatory, it's an analogy after all, it's

[2019-10-28 17:00] chunsli opened #96 "HTTPS with cloudflare and docker compose"

[2019-10-28 17:01] #96 closed

[2019-11-05 04:03] shuimugan opened #104 "WorkflowRunner use 'fork' to create subprocess , when WebHook always receive request, will make many subprocess , and CPU usage so high"
**Please do not create a GitHub issue for questions or problems**

Post all of them to the forum:
[https://community.n8n.io](https://community.n8n.io)

Check there first if it got answered already before and if not create a new topic.

[2019-11-05 06:09] #104 closed

[2019-11-07 11:18] Peppuz commented on #18
To anyone willing to solve in the meantime:
Learn basic operations on [Strings](https://www.w3schools.com/jsref/jsref_obj_string.asp) and [Numbers](https://www.w3schools.com/jsref/jsref_operators.asp)
on W3schools, using the funtionItem-node to transform your data in JS vanilla.

[2019-11-07 12:04] Libermentix commented on #18
I think the biggest issue is not that people don't know Strings and Numbers (by the way w3schools is bad, use MDN instead please) but rather that n8n underlying data structure is not clear enough.

I for example know plenty of JS to get around with everything, however, understanding that you need to manipulate the item's .json property's containing object to actually yield a result, that was the b

[2019-11-07 13:36] janober commented on #18
I am actually right now in the process of writing documentation about how the data structure looks like and what variables and functions are available in the Function-Node.

[2019-11-07 14:00] Libermentix commented on #18
Amazing, that'll help greatly.

[2019-11-07 17:21] airmoi opened #109 "GoogleSheet "update" : updated columns shift when Key column is not the fist column"
**Describe the bug**
Updated columns index is shifted by the KeyColumn index so if you want to update a Value in column A while the Key Column is at column H, then it will replace the value of the key column.
Column B will be set to column H + 1, ...

**To Reproduce**
Let's say you need to update a google sheet row, using a key that is on column "H" (the 7th column).
Provide to the node an item th

[2019-11-07 20:37] janober commented on #18
Ok created now some documentation.

Information about the data-structure, in general, can be found here:
https://docs.n8n.io/#/data-structure

Information about the Function-Nodes here:
https://docs.n8n.io/#/nodes?id=function-and-function-item-node

Hope it makes things a little bit clearer.

[2019-11-07 21:38] janober commented on #109
Thanks a lot for issue and fix.

Got released with n8n:0.34.0

[2019-11-07 21:38] #109 closed

[2019-11-09 23:20] apotheon commented on #40
How about breaking several social/cultural rules, like "don't lie to me", and "don't be a devious asshole in how you think you technically aren't lying, but you're still misleading people"?  Do those rules count?

This also looks like false advertising to me, though it may not be actionable because of how civil law works (there's no action to be taken in court if there's no money to be extracted).

[2019-11-13 08:19] jwillmer opened #120 "ERROR: 404 in Nextcloud"
I have a `test.txt` in the root of my Nextcloud and try to download it. But I always get 404. Can someone explain me what the problem is and how to solve it?

![image](https://user-images.githubusercontent.com/1503577/68745271-a960ab80-05f6-11ea-8a1f-2659b4736bba.png)

[code]

[2019-11-15 00:38] ddevault commented on #40
@janober so, what's the plan?

[2019-11-15 17:07] janober commented on #40
@ddevault The plan is to replace the term "open source" with another one which we are currently in the process of finding and deciding on. That will then hopefully make all sides happy and also make sure that other projects which use a similar license as n8n does will not run into the same issue as they will then have a viable term to use.

[2019-11-15 17:07] ddevault commented on #40
I'm happy to hear that. Is "source available" not suitable?

[2019-11-15 17:13] janober commented on #40
Sadly not as its definition is literally "the source is available". That means anything ranging from proprietary to OSI approve open source falls into that category and renders the term so totally meaningless.
https://en.wikipedia.org/wiki/Source-available_software

[2019-11-15 17:18] ddevault commented on #40
The source you linked doesn't actually seem to support that:

That sounds like it describes n8n quite well.

[2019-11-15 17:23] janober commented on #40
If you scroll down a little bit:

[code]

[2019-11-15 17:24] ddevault commented on #40
I'm not sure how that reinforces your point.

[2019-11-15 17:29] janober commented on #40
Because it literally says: "Any software is source available software as long its source code is distributed along with it." So how can it not?

[2019-11-15 17:31] ddevault commented on #40
I suppose it is a broader term, but do you really need a special term which distinguishes between source-available-but-not-open-source, and source-available-but-also-open-source? Everyone just calls open source software open source, even if it's technically source-available as well.

[2019-11-15 18:41] kennymalac commented on #40
@ddevault Yes, it would be nice to have a term that denotes a more sustainable model for software that grants more privileges than source available typically implies (i.e. retaining 90% of open source's tenets). This way everyone is happy.

[2019-11-15 19:13] janober commented on #40
Yes also agree. And I would have imagined that especially the open-source community would agree there. After all, did it also feel the need to coin the term open-source even though free software did already exist.

[2019-11-15 21:55] kfogel commented on #40
@janober How about "noncommercially available", or "commercial-rights-reserved", or "Apache restricted by Commons Clause"?

I'm trying to think of a relatively short term that describes n8n's license.  Obviously there's going to be *some* information loss -- when one compresses two full-length license documents into a short phrase, there's inevitably going to be some nuance lost -- but you can get

[2019-11-15 21:56] ddevault commented on #40
I'm not in favor of a title which uses the word "Apache", as this license betrays the values of the Apache license and it shouldn't be used as a mental shortcut for understanding the license of this project.

[2019-11-15 21:59] kfogel commented on #40
@ddevault I'm not a huge fan of that either, but it's much better than the current situation.  And if the specific phrase is "restricted by Commons Clause" then it's accurate -- it makes it clear that a restriction is being added -- and does not pretend to be augmenting or improving the Apache license.  So while I'm not wildly enthusiastic, I could certainly live with it.

[2019-11-15 22:02] kfogel commented on #40
@ddevault (If one thinks about it in a trademark-like framework, which is a reasonable framework since this is a question of the effect on the "brand" of the Apache Software Foundation and its license, this solution would be analogous to [nominative use](https://en.wikipedia.org/wiki/Nominative_use) of the word "Apache".)

[2019-11-15 22:05] kennymalac commented on #40
@kfogel  The term "commercial-rights-reserved" is a good term to use, but here I feel that it does not give the context enough attention. Authors like us would like to convey with brevity that we still would like to retain most of the qualities that openness implies: push requests are welcomed, contributions encouraged, availability of tools, downloadable and installable programs and program depen

[2019-11-15 22:06] ddevault commented on #40
How about a "Collaborative Non-commercial License"

[2019-11-15 22:31] kfogel commented on #40
@ddevault That's inspired!  Wow!  I hope that gets circulation beyond this one project!

[2019-11-15 22:32] kfogel commented on #40
@janober I hope you'll give @ddevault's proposed name serious consideration.  That one seems to me like it solves all the problems here.

[2019-11-15 22:42] janober commented on #40
@kfogel @ddevault Yes thanks a lot for your very helpful feedback and suggestions! For sure will all proposed names be considered. Actually especially the ones from the OSI community as I would much rather work with it than against it!

[2019-11-16 20:16] janober commented on #120
Sorry for the late answer. But please post questions always to:
https://community.n8n.io/
like written in the issue-template. Only if it is a bug for sure, an issue should be created on Github. Questions are at two different locations and nobody knows where to look for answers.

About the issue you are facing. I just tested it again and it seems to work perfectly fine. If it says that the file is

[2019-11-16 20:16] #22 closed

[2019-11-16 20:17] janober commented on #22
https://community.n8n.io/t/zulip-integration/33

[2019-11-16 20:17] janober commented on #27
Sorry totally forgot about that issue. Close now as the integration got created already a while ago.

[2019-11-16 20:17] #27 closed

[2019-11-16 20:18] janober commented on #24
Close as integration got created.

[2019-11-16 20:18] #24 closed

[2019-11-16 20:19] janober commented on #29
https://community.n8n.io/t/mailjet-integration/64

[2019-11-16 20:19] #29 closed

[2019-11-16 20:22] janober commented on #38
So all that would be needed to make that work is to make the base URL here:
https://github.com/n8n-io/n8n/blob/master/packages/nodes-base/nodes/Github/GenericFunctions.ts#L33
configurable?

[2019-11-16 22:09] janober commented on #58
Very sorry for getting back to this so late!

Please post all further questions to:
https://community.n8n.io/
I will then also respond much faster! And if you do not get an answer within 24h simply ping me.

There are actualy already new line "\n" characters in the response. Only the UI does not display them in the view (as \n does not create a new line in HTML). But as soon as you use them in an

[2019-11-16 22:39] janober commented on #58
Ok just pushed a "fix":
https://github.com/n8n-io/n8n/commit/10881b31de280f64bff6a6bfc6059216227efa24

It uses now a different library for the JSON data. That one displays now new-lines correctly. Will be released with the next n8n version.

[2019-11-16 22:39] #58 closed

[2019-11-17 18:32] Narretz opened #126 "Properties that depend on other properties"
Hi,

sometimes the value(s) of a node property are dependant on the value of another node property. For example in Asana, there exist both "Workspaces" and "Projects". In the existing Asana integration, https://github.com/n8n-io/n8n/blob/af5c7e75fac8ed23ac01e77baed9ecdf09e93055/packages/nodes-base/nodes/Asana/Asana.node.ts, the workspaces are loaded with loadOptions (works well), but there is no p

[2019-11-17 20:47] Narretz opened #127 "Persist result data / set data manually / import data from previous runs"
This is a bit of a broad topic, but essentially it's about setting the data in a workflow during development.
The biggest problem I have right now, is that the data of a workflow execution is lost after I refresh the editor / or go to another section, and if I'm using a webhook, I first have to execute the workflow / node again, even though I have execution data from previous runs. So there should

[2019-11-17 20:57] janober commented on #126
@Narretz Thanks a lot! I agree that this would be a very important feature. Can you, however, please post it in the forum here:
https://community.n8n.io/
as described in the issue template.

Github issues should really only be created to report bugs and not for questions or feature requests. They should all be collected in the forum to have them all in one spot. If we have them here and there thin

[2019-11-17 20:57] #126 closed

[2019-11-17 21:00] janober commented on #127
@Narretz Thanks a lot! I also agree here that it would make sense but can you please also post that in the forum here:
https://community.n8n.io/
as described in the issue template.

Github issues should really only be created to report bugs and not for questions or feature requests. They should all be collected in the forum to have them all in one spot. If we have them here and there things start

[2019-11-17 21:00] #127 closed

[2019-11-17 21:37] Narretz commented on #126
Oh okay. Then ou should really remove "Feature Request" from the list you see in  "New Issue". It doesn't make any sense to list "Feature Request" there just to tell you in the template that you shouldn't open a Feature Request.

[2019-11-17 21:53] janober commented on #126
I actually disagree there. I added it on purpose. Because if it would not be there, people would not know where to post feature requests to. Then they would either not add it at all and leave or they would simply select anything else and post it here anyway.

By having the "Feature Request" option I have at least the chance to guide the people. They click on it, read what the template says and the

[2019-11-18 12:18] Narretz commented on #126
But it's sending a confusing message. People often don't read the template texts. Or if they do, they might be confused by the fact that the feature request template is telling them not to open a feature request. I was in fact, and though this was an error. Because why would the option for Feature Request tell me not to open one?
This could probably be improved by re-wording the "name" and the "ab

[2019-11-18 12:21] Narretz commented on #126
It looks like you can redirect users to an external site instead of prompting them to open a blank issue: https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

I think this is the better solution.

[2019-11-18 18:52] janober commented on #126
Thats great, thanks a lot! I was not aware of that. Got changed.

[2019-11-19 09:18] jwillmer commented on #120
We are using Nextcloud 16.0.5. Maybe n8n does not support it?

![image](https://user-images.githubusercontent.com/1503577/69133143-b3caeb80-0ab5-11ea-999d-97509d513010.png)

[2019-11-20 06:46] plrdeops opened #128 "n8n Security is not working in RHEL 7"
export N8N_BASIC_AUTH_ACTIVE=true
export N8N_BASIC_AUTH_USER=<USER>
export N8N_BASIC_AUTH_PASSWORD=<PASSWORD>

The above mentioned n8n security is not working. Please let me know if any other solution

[2019-11-20 08:10] janober commented on #128
hm, can currently not think of any reason why it should not work in RHEL.

Do the environment variables all have values defined and that for sure in the environment n8n gets started in? Then it should work. The code which uses them is very simple and should be independent of the operating system as it gets the values via `process.env` which should work everywhere

Anyway, the other alternative wou

[2019-11-20 08:43] janober commented on #120
I am currently using it with Nextcloud 17.0.0 but have it running now for a while and guess before I used it also with version 16.

Are you sure the "Web DAV URL" is correct? It should look similar to this:
`https://nextcloud.exampl.com/remote.php/webdav/`

[2019-11-20 13:25] jwillmer commented on #120
`/remote.php/webdav/` was missing. It wasn't clear for me that I need to supply a direct link to the webdav. Does that change from instance to instance? Why not only take the NextCloud domain?

[2019-11-20 13:25] #120 closed

[2019-11-20 13:30] janober commented on #120
Ah sorry. Thought because the parameter is called "Web DAV URL" and not "Server Domain" or similar that should be clear. That is also exactly the URL it displays in NextCloud so it made sense to use it as it gets displayed that people can simply copy and paste it.

I do honestly not know much about NextCloud at all. So do not know if it ever changes, changed or could change in the future.

[2019-11-20 13:43] jwillmer commented on #120
Maybe a link or description on how to get this url would help. I honestly needed to google how to find the url. Hint: You need to click on settings in the left-bottom corner in the Nextcloud UI.

Maybe a simple placeholder url that shows the format would also help?

[2019-11-20 13:56] janober commented on #120
Totally agree. It is planned to create instructions on how to get the different credentials. Sadly will it take quite some time to create and I am currently more than swamped. So I did sadly not get to it yet.

The placeholder sounds like a great idea. Got added:
https://github.com/n8n-io/n8n/commit/f811094dc5a9dd46e2a0aea6ebc203e2400087ab

Will be released with the next version.

[2019-11-22 07:36] vuchl commented on #47
`imap-simple` provides [https://github.com/chadxz/imap-simple#imapsimple-class](`append`) and [https://github.com/chadxz/imap-simple#imapsimple-class](`moveMessage`) methods so maybe they can be exposed somehow.

[2019-11-22 08:03] rcarmo commented on #47
Creating folders would also be necessary.

[2019-11-27 06:43] janober commented on #128
Did you find the problem?

[2019-11-28 00:35] codejamninja opened #133 "Asana webhook bug"
I get the following error when trying to recreate an Asana trigger that I made in the past.

[code]

[2019-11-28 06:33] PLR143 commented on #128
No Dude.... Please help me

[2019-11-29 21:58] vicdorke opened #135 "Please add support for telgram"
I need to send multiple pictures at once, now your api only supports sending one picture at a time

[2019-11-29 22:29] janober commented on #135
It looks like the `sendPhoto` endpoint does not support sending multiple files. Am I asuming correclty you are refering to [`sendmediagroup`](https://core.telegram.org/bots/api#sendmediagroup)?

[2019-11-30 03:13] vicdorke commented on #135
yes, i hope use sendmediagroup?

[2019-12-01 21:29] airmoi opened #139 "Null items not passed to next node (from webhook)"
When a webhook receive a call with some null items in the payload, those items are ignore which leads to workflow errors when they are used as parameter in other nodes (ERROR: Expression is not valid. [Error in parameter: "fieldsParametersUi"]).
The only workaround I found for now is to "test" the values using an expression, ie :
{{$node["Webhook"].data["body"]["webhook"]["mykey"]
? $node["Webhook

[2019-12-01 21:55] airmoi commented on #139
Ok actually this is not a webhook issue but a getNodeParameter process issue which does not handle properly null values at Workflow.resolveSimpleParameterValue (/www/n8n/packages/workflow/src/Workflow.ts:868:50)
The test does not support null values and throw a "Cannot convert undefined or null to object" exception

[2019-12-01 22:01] janober commented on #139
Until now I simply always did that if I knew that the value could be null:
[code]
I could add some code that checks for the actual error "Cannot convert undefined or null to object" as you mentioned. Could then return an empty string (but that would maybe also not be good if it would be a number field).
However, are not sure if that is really best. In your case it would probably be but for other p

[2019-12-01 22:15] airmoi commented on #139
Just posted a pull request to fix this.
Having an empty value in a payload is very commun, it souldn't be a problem for users.

I think this will be a problem for all end users if they have to secure all the input parameters to handle null values, especially since most do not necessarily know the javascript syntax.

[2019-12-03 05:41] afinno commented on #53
You are not. I've been saying it in my head so much now that it has become "Enaten".

[2019-12-03 11:48] ascherren opened #142 "Can't fetch GitLab Repositories in Sub-Groups"
**Describe the bug**
When the repository is inside a subgroup it can't be fetched. It only gives the error "404".
![image](https://user-images.githubusercontent.com/35495373/70048635-0edb0300-15cb-11ea-85b5-f6faf45a0005.png)
It would be nice if for example the project ID could be entered instead. This way the "owner" field is no longer necessary.

[2019-12-04 20:03] apotheon commented on #40
I was thinking "noncommercial community license", but that's basically just a synonym for "collaborative noncommercial license" in this context.  I definitely think that last 2019-11-15 suggestion from @ddevault is suitable.

[2019-12-05 14:26] airmoi commented on #139
Hi Jan, did you had a look to the fix.
I really think this was a bug initially as there is an Exception thrown when a parameter returns a null value.
There is a test on value type to detect objects and cast them as string.
the test is `typeof Value === "object" && Object.keys(returnValue).length === 0`.
The problem is that `typeof null` return "object" despit `null instanceof Object`  is false.
An

[2019-12-05 14:41] janober commented on #139
Sorry did not get to much the last days. Will check and think about it some more soon.

[2019-12-05 15:14] justinphebey commented on #40
Do these non-commercial suggestions not imply that there isn't any scope beyond non-profit usage though?  The current license doesn't seek to do that in its entirety, currently I thought the purpose was to limit commercial aspects of offering paid support / consulting up to a given limit.

[2019-12-08 01:56] yuanlida opened #149 "Update to the lasted version, it Cann't work now."
Error: command start not found
n8n: npm ERR! code ELIFECYCLE
n8n: npm ERR! errno 2
n8n: npm ERR! n8n@0.37.0 start:default: `cd bin && ./n8n`
n8n: npm ERR! Exit status 2
n8n: npm ERR!
n8n: npm ERR! Failed at the n8n@0.37.0 start:default script.
n8n: npm ERR! This is probably not a problem with npm. There is likely additional logging output above.
n8n: npm ERR! A complete log of this run can be foun

[2019-12-08 02:12] #149 closed

[2019-12-12 10:41] Libermentix opened #152 "Workflow executions return the same items on "Load more""
When workflows are automatically executed, they are included in the Workflow Executions List. The included Pagination allows to load more. Yet, always the same items (they have the same IDs) are listed as new loaded items.

**Steps to reproduce the behavior:**
1. Have more Workflows run than displayed in the initial Workflow Execution overview (causing the Load More Action to appear)
2. Click on L

[2019-12-12 15:32] janober commented on #133
Thanks for fixing the issue yourself! Got released with n8n@0.37.0

[2019-12-12 15:33] #133 closed

[2019-12-13 05:29] janober commented on #152
hm, code seems ok but for some reason does it not filter correctly with the dates. Changed it now to use the id instead. That works now fine. I will release a new n8n version with the fix tomorrow.

[2019-12-13 14:22] brandonskerritt opened #155 "Error in documentation. No install method via documentation."
**Describe the bug**
This readme:
https://github.com/n8n-io/n8n/blob/master/packages/cli/README.md
Has a table of contents. In that ToC, it says "installation".
This link leads to:
https://github.com/n8n-io/n8n/blob/master/packages/cli/README.md#installation
Which does not exist.

**Expected behavior**
An actual manual on installation.

[2019-12-13 14:29] janober commented on #155
Thanks a lot. The links got removed as installation instructions and other content got moved to documentation.

[2019-12-13 14:29] #155 closed

[2019-12-13 20:09] janober commented on #135
Got added and released with n8n@0.39.0

[2019-12-13 20:09] #135 closed

[2019-12-13 20:10] janober commented on #152
Got released with n8n@0.39.0

[2019-12-13 20:10] #152 closed

[2019-12-13 20:10] janober commented on #142
Got fixed and released with n8n@0.39.0

[2019-12-13 20:10] #142 closed

[2019-12-16 18:48] strflw commented on #53
Kubernetes wasn't the first to use this kind of abbrevation or better a Numeronym.
I'ts a common way to shorten long names, some examples:

Accessibility (a11y)
Internationalization (i18n)
Localization (l10n)
Globalization (g11n)
Localizability (l12y)
Serendipity (s9y)

Some Background: http://www.i18nguy.com/origini18n.html

[2019-12-19 12:14] ky0shiro commented on #128
Hello, I'm facing similar issue.
I'm deploying n8n on kubernetes, with env variables:
[code]
These variables are correctly set up in n8n container:
[code]
When I'm trying to access webui login window pops up, but it rejects my credentials.

[2019-12-20 15:21] ky0shiro commented on #128
:man_facepalming: When you put file to k8s as a secret i.e:
[code]
It will contain new line character (even if there is only one line in file).

https://github.com/kubernetes/kubernetes/issues/23404
https://www.funkypenguin.co.nz/beware-the-hidden-newlines-in-kubernetes-secrets/

[2019-12-23 04:16] Kermit-Xuan opened #162 "Github Trigger failed to run"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Follow the steps of youtube video

**Expected behavior**

Workflow should run normally

**Environment (please complete the following information):**
 - OS: [Mac OS 10.15.2 Docker]
 - n8n Version [0.40.0]

**Additional context**

![image](https://user-images.githubusercontent

[2019-12-23 04:38] janober commented on #162
Sorry to hear that you have problems! Sadly will probably nobody except you be able to debug that exact problem as it seems to work for other people including myself. To be 100% sure I tested again with 0.40.0.

It seems like that the current code is not correct as it assumes that the 422 error always means that a Webhook-URL already exists. We should probably change that in a future version that

[2019-12-23 09:31] Kermit-Xuan commented on #162
But it doesn't work when I add `console.log` to code. I clone the repo and then add `console.log` to code. Finally I run `npm run build` 、`npm run start`,  it has no effect.

[2019-12-23 09:36] Kermit-Xuan commented on #162
Are there any requirements for access token permissions?