[2022-06-15 06:04] Vultik commented on #3295
I have the same issue #3516 , the shopify trigger doesn't work anymore with the new way of creating custom private apps :/

[2022-06-15 09:15] michal-rogala opened #3519 "UI does not display credentials dropdown when no other parameter is defined in a node"
**Describe the bug**
When a custom node defines no parameters but requires a credential - node edit window in the UI does not display credential dropdown widget, and a credential cannot be set.

**To Reproduce**
Create a custom nodes which requires a credential object and which has an empty "properties" array. Node edit window in UI does not display dropdown to choose a credential.

**Expected beh

[2022-06-15 09:19] Joffcom commented on #3516
Hey @Vultik,

Thanks for the report, As you have noticed this is the same as #3295 so for now I will close this one so that we don't have duplicate issues.

Let me know if you have any questions.

[2022-06-15 09:19] #3516 closed

[2022-06-15 09:21] Joffcom commented on #3295
Hey @Vultik,

I have just nudged this one internally so that we can bump up the priority.

[2022-06-15 09:26] Joffcom commented on #3514
Hey @cromulus,

Thanks for the report, I take it the error is from where you tried `{{true}}` as a value and not just `true`? I suspect we are sending all values as strings rather than different data types which Salesforce looks to be expecting. I will flag this up so we can investigate further.

[2022-06-15 09:33] #3491 closed

[2022-06-15 09:36] Joffcom commented on #3476
Hey @cadcoin27,

What version of NocoDB are you using? This is one of those issues where the API changed and our current node doesn't fully support  newer versions of NocoDB. The good news is we do have a PR in that will fix this issue, I am currenlty running through the review on it so it should be available soon.

[2022-06-15 09:43] Joffcom commented on #3418
Hey @Ofabiojvalentim,

Do you have a workflow you can share that reproduces this issue?

[2022-06-16 08:17] helder-mattos commented on #2682
@janober I'm having the same issue. The problem comes exactly from the conversion of an ID to an ObjectId as you said.

As @achtan I store all my collection Ids as strings instead of ObjectId. Currently, there are almost no limitations on what kind of BSON object can be used as an ID (except Array). This means that in our case converting the string to an ObjectId type automatically causes the quer

[2022-06-16 15:37] branch3 commented on #3101
Hi Joff
In a later version 0.177.0, you'r saying :

see : [https://docs.n8n.io/reference/release-notes/#automatically-convert-luxon-dates-to-strings](https://docs.n8n.io/reference/release-notes/#automatically-convert-luxon-dates-to-strings)

However when testing on 0.179.0 the workflow shared above, the issue persists.

So what did you mean in your release-notes by automatically converting Luxon d

[2022-06-17 10:28] d3rwan opened #3540 "httpRequest with `URLSearchParams` body does not work anymore"
**Describe the bug**
httpRequest with `URLSearchParams` body does not work anymore, axios sent an empty body instead.

I think it's due to this recent https://github.com/n8n-io/n8n/blob/master/packages/core/src/NodeExecuteFunctions.ts#L720

**To Reproduce**
Steps to reproduce the behavior:
1. Create a HTTP request options (axios) with a `URLSearchParams` object in the body
2. Call `this.helpers.ht

[2022-06-17 18:24] netroy commented on #3057
I investigated this further, and looks like my previous suspicion was completely wrong.

This is an issue of `EventSource` connections starving other requests, when not running over HTTP/2.
Once you open 6 concurrent `EventSource` connections, browser stops other SSE/XHR/Websocket requests from going through.
This is supposed to be by-design [on Chrome](https://bugs.chromium.org/p/chromium/issues/

[2022-06-17 19:21] janober commented on #3057
Thanks for investing! Uh if that is the problem then it would be actually something that is more complex to fix and so not sure if we would get to it any time soon. Esp. switching to web sockets would have some larger implications for all existing self hosted users.

[2022-06-17 19:45] netroy commented on #3057
Agreed.
However, a stop-gap solution could be to keep track of open tabs, and disconnect push for any background tabs, keeping push enabled only for the tab that was last in focus.
But even that makes sense only if this is a blocker for any users.

@Passana @TheFSilver How critical is this for you folks?

[2022-06-20 10:51] Joffcom commented on #3540
Hey @d3rwan,

Do you have an example workflow that reproduces this?

[2022-06-20 12:13] #1200 closed

[2022-06-20 12:19] Joffcom commented on #2488
Hey @sergio-ns,

I am going to mark this one as closed, If you are still having this issue let me know and we can open it again.

[2022-06-20 12:19] #2488 closed

[2022-06-20 13:54] Joffcom commented on #2562
Hey @artemdzyuba,

Are you still running into this issue? I just gave it a test on the lastest release and it looks like it is now working as you would expect.

[2022-06-20 14:05] Joffcom commented on #2671
Hey @artemdzyuba,

I have just had a quick play with this one and for me when I use the Title it does appear to be sent in the request and is displayed in Notion.

Are you seeing this field as an issue in the latest release of n8n?

[2022-06-20 14:06] Joffcom commented on #2722
Hey @PSPanesar & @brapifra,

Are you both still seeing this issue on the latest release?

[2022-06-20 14:50] d3rwan commented on #3540
Let's imagine you create a new custom node, in which you will use `httpRequest` with `URLSearchParams`

[code]

In previous versions, (for example 0.177.0), URLSearchParams are added into the body and sent to the target server (cf. https://webhook.site/#!/90858178-cadd-4a85-9615-255954d7d017/83dbac2d-d688-434e-b651-f685f26913f7/1 used in my test for example)

[code]

But with last version, the sen

[2022-06-20 15:06] Joffcom commented on #3540
An ok so this is custom node related and not a workflow issue with the HTTP Request node.

I will take a look at this one later. I had maybe incorrectly assumed when trying to test in the node earlier that `urlsearchparams` was only for the url query and not the body of a post request.

[2022-06-20 15:17] d3rwan commented on #3540
Yes, sorry if it was not clear in the initial issue 🙏

[2022-06-21 11:01] netroy commented on #3540
@d3rwan [this](https://github.com/n8n-io/n8n/pull/3567) should fix the issue

[2022-06-21 13:43] michael-radency commented on #3401
Hello @heywiorld, do you still have this issue? I did test it and on v5 it works correctly, returns all alerts

[2022-06-21 15:39] artemdzyuba commented on #2671
Hi @Joffcom. Yes, I see it, and now it gives page a title. But at the same time you can add this title as a field. So it's a doubled and mislieading freature.
![image](https://user-images.githubusercontent.com/20184727/174840814-1cf5394a-cc90-4b4e-9cf5-d187e4a5f3be.png)

[2022-06-22 09:28] Joffcom commented on #2671
Hey @artemdzyuba,

Is that from an existing Notion node or did you add a new one? When checking here I see the options below so I am wondering if maybe you are using the v1 node and not the v2 node.

![image](https://user-images.githubusercontent.com/4688521/174994734-c4506e84-6414-40ae-91eb-57a358356762.png)

More interestingly if I run this I see both values in Notion.

![image](https://user-ima

[2022-06-22 09:29] #2562 closed

[2022-06-22 11:05] michal-rogala commented on #3519
This is a small modification of ExampleNode - add credential requirement, remove properties. I've used my custom credential type but I believe any should do.

`import { IExecuteFunctions } from 'n8n-core';
import { INodeExecutionData, INodeType, INodeTypeDescription } from 'n8n-workflow';

export class ExampleNode implements INodeType {
  description: INodeTypeDescription = {
    displayName: 'Kee

[2022-06-22 17:54] SpeedHighway opened #3576 "Migration failure moving from 0.124.0 to 0.183.0"
**Describe the bug**
Attempting to upgrade my n8n release from 0.124.0 to the newest version appears to attempt SQL migration, but then immediately fails trying to reach a folder that does not, and never would have, existed.

The following text displays:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have an existing 0.124.0 version of n8n installed, and in-use.
2. Shut down n8n
3. R

[2022-06-22 21:38] cmprmsd opened #3579 "Zulip Node: Attachments / Uploads not working as expected"
@RicardoE105
Thank you for the Zulip integration in https://github.com/n8n-io/n8n/pull/330. I'm trying to upload files to the server and send it to some user or stream. However, this functionality does not work as expected.

I can upload binary data and get back an URL from Zulip. However, it seems only the bot would have access to this file as it's the uploader. When I copy the link and try to op

[2022-06-23 10:20] dream91 commented on #3500
I noticed that on older N8n version it return some data. I have to repeat the scenario, maybe it was an issue on my environment.

[2022-06-23 12:41] dream91 opened #3586 "Cortex node doesn't return all analyzers"
**Describe the bug**
I have configured 31 analyzers and Cortex node doesn't return all on Analyzer Type field.
I noticed that analyzers are get by POST `/analyzer/_search`.
Analyzers should be get by POST `/analyzer/_search?range=all`. This return all enabled analyzers.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure more than 15 analyzers in Cortex
2. Create Cortex node
Resource:

[2022-06-23 13:49] netroy commented on #3576
@SpeedHighway Do you by any chance have the older version of n8n still running?
If yes, please try to shutdown or kill that process first.
The `operation not permitted` error sounds like the `database.sqlite` file might be locked by a running process.

[2022-06-23 14:10] SpeedHighway commented on #3576
@netroy No, definitely not.  And the operation not permitted claims to be having errors with trying to read things that have nothing to do with the project whatsoever.

I don't know why it would be trying these arbitrary locations for reading anyways, as the .n8n pieces are all in `C:\Users\UserName\.n8n`.  "Documents and Settings" and "Application Data" are both folder names in Windows XP, if I r

[2022-06-23 14:17] netroy commented on #3576
@SpeedHighway can you please run this on your console `node -e 'console.log(process.platform, process.env.USERPROFILE)'`?

Hopefully the output will be `win32 C:\Users\UserName`.

[2022-06-23 14:26] SpeedHighway commented on #3576
Yes, the output was exactly that (with my actual username, of course) :)

[2022-06-23 14:48] netroy commented on #3576
in that case I'm not sure what could be causing the code to read from those directories.

but to unblock you, I'd suggest you try exporting the data, and then re-importing on a fresh n8n instance.

**Step 1**: export the data
[code]

**Step 2**: rename `C:\Users\UserName\.n8n` to `C:\Users\UserName\.n8n.backup` (so that the old folder can still be used for further investigation)

**Step 3**: impor

[2022-06-23 15:47] SpeedHighway commented on #3576
Ty for the suggestion.  I've attempted the commands and while the exports appear to have worked, the credentials refuse to import.

[code]

[code]

[2022-06-23 16:22] netroy commented on #2722
@Joffcom [I tried fixing this telemetry issue](https://github.com/netroy/n8n/commit/e1144b6c8519d8dbabe66d1360a230b1e74299e8) yesterday.
if you folks want, I can finish the change, and send a PR.

[2022-06-23 17:30] netroy commented on #3576
looks like the credentials importing code wasn't adapting to windows paths, and hence not finding any of the JSON files.

I've opened a [PR](https://github.com/n8n-io/n8n/pull/3589) to fix this. Hopefully this will help unblock you.

[2022-06-23 17:57] #3519 closed

[2022-06-23 18:00] Joffcom commented on #2722
I will run it past the core dev team and see what they think. PRs for core components tend to take longer to merge as there is more testing and checking than node PRs need.

[2022-06-23 23:21] stathisaska opened #3593 "FileMaker Node: API calls need to logout after execution"
**Describe the bug**
When using FileMaker Data API, it is a good practice to logout after each API call. Otherwise FileMaker server will get bloated with open sessions and crash. An alternative would be to handle the token, but handling it would require unneeded effort. After testing FileMaker node with n8n, I found out that n8n opens new session for each call made, which is a critical issue for F

[2022-06-25 16:11] michaellw opened #3603 "Termux Failed to start after installation"
**Describe the bug**
Installed with the command "npm install n8n -g" in Termux, but eventually the service did not start

**To Reproduce**
Steps to reproduce the behavior:
1. Install binutils
2. Install nodejs
3. npm install n8n -g
4. n8n
4. See error

Initializing n8n process
n8n ready on 0.0.0.0, port 5678
Version: 0.183.0
/data/data/com.termux/files/usr/lib/node_modules/n8n/dist/src/Server.js:1

[2022-06-25 16:53] Joffcom commented on #3603
Hey @michaellw,

Is this an android device you are trying to install on?

It looks like the emulation is not able to retrieve the CPU model which could be a limitation of Termux and there may not be anything we can do.

It may be worth checking out community support forum to see if any other users have had success using Termux.

[2022-06-25 17:14] michaellw commented on #3603
@Joffcom Yes, Android 11, I will try to look into it a bit more, thank you!

[2022-06-26 03:50] fcecagno opened #3604 "GitHub node doesn't support multiple items as input"
**Describe the bug**
It would be expected that, if multiple items are received by a GitHub node, it would perform the operation for each item individually. However, it runs for the first item and fails for the second (and the others are ignored).
Because of that, I needed to use SplitInBatches with size 1 and loop it with the GitHub node, so it receives one item at a time.

**To Reproduce**
Create

[2022-06-26 04:00] janober commented on #3604
There must be a misunderstanding. The GitHub node does already execute once per item. If it fails for the second item, then there must be a problem with that item. The error message the node returns should help to debug what exactly is wrong.

If you want that the node keeps on processing the other items even if any of the others failed you can activate "Continue on fail".

I hope this is helpful!

[2022-06-26 04:14] #3415 closed

[2022-06-26 04:18] fcecagno commented on #3604
Thanks for your answer @janober .
I tested again with a very minimal setup (copying below for the benefit of others), and it worked as expected and as you explained. Sorry about that.

[code]

[2022-06-26 04:18] #3604 closed

[2022-06-26 04:26] janober commented on #3604
Nothing to be sorry about. We have for sure still a lot to do making such things more obvious.

Glad to hear that I could help! Have fun!

[2022-06-27 01:51] heywiorld opened #3605 "sendemail report cert issue even disable ssl"
**Describe the bug**
When send email, return self signed certificate issue, while unenable ssl.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add 'send email'
2. Click on 'create new', fill the info, and disable the SSL.
3. run node
4. See error

**Expected behavior**
send email ok

**Environment (please complete the following information):**
 - OS: [windows 11]
 - n8n Version [e.g.

[2022-06-27 02:22] Joffcom commented on #3605
Hey @heywiorld,

Under the options in the node is there an option to ignore ssl issues?

[2022-06-27 10:46] cmprmsd commented on #3579
I had a look and the Zulip API returns a relative local path to the file, which then could be linked in a message in order to give access permissions to other users or streams.

Your integration currently adds the host URL (authority) in front of the path in the response.
As the integration adds `https://host.name/` and the path is already an absolute path `/user_uploads/xyz/file.jpg` the result i

[2022-06-27 13:32] Joffcom commented on #3586
Hey @dream91,

Thanks for reporting this one, I have just popped in a PR to resolve it.

[2022-06-27 13:46] mark-monteiro opened #3607 "IMAP node occasionaly times out and disables workflow"
**Describe the bug**
I have a workflow that is triggered by the IMAP node. It works correctly 90% of the time, but at least once per day, the node fails while checking for new emails with the following error:

[code]

This causes the workflow to be de-activated and I have to manually re-activate it again for it to start working again. If I check out the workflow in the web UI this is the error dis

[2022-06-27 15:19] jolo-dev opened #3609 "[Google Calendar]- Get Events filter by start and end date are mixed up"
**Describe the bug**
The [`Google Calendar`- node](https://docs.n8n.io/integrations/nodes/n8n-nodes-base.googlecalendar/) `Get All`- operations results empty when `Option` `Start time` < `End time` is set.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Google Calendar
2. Connect via OAuth
3. Choose `Resource: Event`, `Operation: Get All`, `Calendar ID: your-id`, `Return All`
4. Click on

[2022-06-27 15:51] Joffcom commented on #3609
Hey @jolo-dev,

I was talking about this one the other day with someone, Technically the fields are not mixed up although it does feel that way and often works out that way.

The [API Google provide](https://developers.google.com/calendar/api/v3/reference/events/list) for working with their Calendar service uses 2 values `timeMin` and `timeMax`

[code]

To use this the Start Time is `timeMax` and

[2022-06-27 17:10] jolo-dev commented on #3609
@Joffcom thanks for the reply.
Hmm interesting. I am playing around with the API and must say the Api in general is quite difficult to understand 😅

[2022-06-28 10:36] Joffcom commented on #3607
Hey @mark-monteiro,

Quick update for you, It has not failed yet. I will continue to keep an eye on it.

[2022-06-28 13:38] nivb06 commented on #3303
Hi @jakub-milanowski, is this problem solved for you after @Joffcom's suggestions?

[2022-06-29 06:42] #3586 closed

[2022-06-29 08:12] janober commented on #3586
Fix got released with `n8n@0.184.0`

[2022-06-29 08:12] janober commented on #3519
Fix got released with `n8n@0.184.0`

[2022-06-29 10:01] JoachimVeulemans opened #3612 "Monday node - Cannot read properties of undefined (reading 'length') when board only has groupes and no items"
**Describe the bug**
When executing the Monday node with resource "Board Item", Operation "Get All", a board ID and a group name, the node gives the error "Cannot read properties of undefined (reading 'length')" when the table only has groups and no items.

The node with the same configuration is working for other boards where there is data present.

**To Reproduce**
Steps to reproduce the behavio

[2022-06-29 10:03] Joffcom commented on #3612
Hi @JoachimVeulemans,

Thanks for reporting this one, I will make sure it gets added to our list of issues to fix 👍🏻

[2022-06-29 11:52] danoc opened #3613 "Can't create multiple tasks at once with Todoist"
**Describe the bug**
Hello! There's an issue in the Todoist integration that causes it to create multiple copies of the same task when it receives multiple items.

I believe the problem is related to a recent refactor. Notice how `CreateHandler`'s `handleOperation` function expects an `itemNumber` (first link) and that the `itemNumber` is hardcoded as `0` (second link):

https://github.com/n8n-io/

[2022-06-29 11:52] danoc commented on #3613
cc: @agobrech and @RicardoE105 who recently worked on the integration: https://github.com/n8n-io/n8n/pull/3074

[2022-06-29 13:18] Joffcom commented on #3613
Hey @danoc,

Good spot, I have just popped in a PR to fix this.

[2022-06-29 13:51] pedrogryzinsky opened #3615 "[Mailchimp] Parameter "Status" is required"
**Describe the bug**
The parameter "Status" is considered required in the Mailchimp node, even on Operations where it shouldn't be. Also, adding the parameter to these operations through the 'Options' section does not yield a different result. The exception is the 'Create' operation, which displays a different "Status" field by default and works just fine.

**To Reproduce**
Steps to reproduce the

[2022-06-29 13:51] Joffcom commented on #3615
Hey @pedrogryzinsky,

Can you try upgrading to 0.184.0 this should be fixed now.

[2022-06-29 13:59] CommandLord opened #3616 "Checkboxes in sticky notes are not displayed/escaped correctly"
**Describe the bug**
When trying to use checkboxes in sticky notes like
`- [ ] Example Todo`
there will only be the plain text
`<input class="task-list-item-checkbox" disabled="" type="checkbox" id="task-item-4482900"><label class="task-list-item-label" for="task-item-4482900"> Example Todo</label>`
but no html checkbox is added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a workfl

[2022-06-29 14:33] #3615 closed

[2022-06-29 16:45] fcecagno commented on #3604
Hi @janober , just wanted to comment that the problem I had with the GitHub node was related to this topic: https://community.n8n.io/t/set-http-request-loop/15317

I was using this syntax to access a Set node:
[code]
However, it worked well when I changed it to:
[code]

[2022-06-30 07:56] rhyswilliamsza opened #3618 "FunctionItem `getBinaryData()` empty when default binary data mode set to `filesystem`."
**Describe the bug**
FunctionItem `getBinaryData()` empty when default binary data mode set to `filesystem`, though data is visible in the node input.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `N8N_DEFAULT_BINARY_DATA_MODE` to `filesystem`
2. Tie together a stream that includes a node that outputs binary data, as well as a FunctionItem node that accepts this binary data.
3. Call `g

[2022-06-30 09:56] pemontto opened #3620 "n8n sending invalid GET requests"
**Describe the bug**
n8n's axios library appears to send invalid GET requests with an HTTP body. While most services accept this, intermediate proxies often reject them. I have confirmed this occurs with both Github and Clockify nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure http_proxy and https_proxy environment variables to use an http proxy
1. Add a Github or Clockify no

[2022-06-30 19:13] Vultik commented on #3295
Any updates on it ?

[2022-07-01 02:02] heywiorld commented on #3605
Hi @Joffcom , there is no other options for the node

[2022-07-01 08:48] Joffcom commented on #3605
Hey @heywiorld,

Assuming it is the Send Email node at the bottom there should be an options section and in there you will find this.

![image](https://user-images.githubusercontent.com/4688521/176860206-a91fff23-9c67-469c-b533-b8baaba7c701.png)

[2022-07-01 23:46] gadgrandez commented on #2889
Hello. Is it possible to add support for v14 as well? Some APIs return are deprecated in v13
![Screenshot_8](https://user-images.githubusercontent.com/16307528/176978137-448775e4-1f86-4e72-a5de-7566dfc43ec9.png)
 Thanks

[2022-07-03 09:01] jolo-dev commented on #3609
@Joffcom Now I re-read the [official API](https://developers.google.com/calendar/api/v3/reference/events/list#parameters) and I am not a native English but it says

_Upper bound (exclusive) for an event's start time to filter by._ which means `get me all the events which have startDate until the given date`. Since we are talking in a range context, I would say this would be the `End Date`.

_Lower

[2022-07-04 07:17] jeremybep opened #3647 "Error when execute FileTrigger"
**Describe the bug**
When i switch to `active` a workflow with FileTrigger n8n can't execute it and crash.

**To Reproduce**
1. Select FileTrigger
2. Set trigger like this
![image](https://user-images.githubusercontent.com/72266507/177101489-11b78ec7-046c-4d47-b0c2-32b6baf3836a.png)

**Expected behavior**
This should trigger file modifications

**Environment (please complete the following informat

[2022-07-04 07:43] #3613 closed

[2022-07-05 10:45] dream91 commented on #3500
Checked again - that works. Closing - false issue

[2022-07-05 11:58] dream91 commented on #3500
Updated issue

I checked the issue again and noticed that the problem appear only when I use binary item in Cortex (Observable type: file). I updated issue description.

[2022-07-05 16:55] SimonMayerhofer opened #3662 "getWorkflowStaticData cannot save data after Docker container restart"
**Describe the bug**
Whenever my n8n Docker container restarts `getWorkflowStaticData` cannot save data anymore.
It is possible to read the values, but when it should save it the value is not stored (though the workflow doesn't fail or anything, it's just not saved). The only way to get around this issue is to disable & reactivate the workflows which use `getWorkflowStaticData` multiple times (can

[2022-07-05 17:00] Joffcom commented on #3662
Hey @SimonMayerhofer,

That sounds a bit odd, Can you fire over that workflow so I can take a look? Normally my first thought would be the storage volume not being persistent but if that was the case you would lose your workflows 🤔

Sounds like this will be an interesting one.

[2022-07-05 17:09] SimonMayerhofer commented on #3662
Hi @Joffcom, thanks for your quick reply!
Here's the full json for my workflow:

<details>

[code]

</details>

Relevant for accessing / storing the data are only the first and last function nodes: "get last execution" & "set last updated".

[2022-07-06 02:39] heywiorld commented on #3605
yeah, fount it, thanks

[2022-07-06 02:39] #3605 closed

[2022-07-06 02:50] heywiorld commented on #3401
@michael-radency  yeah, still return 10 when I open get all option

[2022-07-06 06:41] heywiorld opened #3664 "[Rudder] error when using docker N8N"
**Describe the bug**
found rudder error when using docker N8N

**To Reproduce**
Steps to reproduce the behavior:
1. run command 'docker logs  xxxxx -f '
2. then will see error '2022-07-06T06:37:19.947Z [Rudder] error: got error while attempting send for 3 times, dropping 3 events
' while running workflow for the hive

**Expected behavior**
no error.

**Environment (please complete the following in

[2022-07-06 08:59] heywiorld opened #3667 "the hive trigger not work when using docker N8N"
**Describe the bug**
there is no event when using the hive trigger of docker N8N

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add 'the hive trigger' and start listening
2. Go to the hive config file and change
3. Active webhook with refer link:https://docs.thehive-project.org/thehive/installation-and-configuration/configuration/webhooks/
4. Then go to the hive, create 1 case, but no

[2022-07-06 09:14] Joffcom commented on #3664
Hey @heywiorld,

I believe that could be the Telemetry data failing to send, it is not anything anything to worry about and is potentially to be expected if you are on an internal private network with outbound network calls restricted.

You can try setting `N8N_DIAGNOSTICS_ENABLED` to false if you want to disable it.

[2022-07-07 00:43] heywiorld commented on #3667
Do you have The Hive and n8n on the same machine or in containers? -> No, will test if possible

[2022-07-07 11:23] michael-radency commented on #3401
Hello @heywiorld ,
still can not reproduce this issue, I'm using v4, getting all alerts from TheHive,
are you sure that you have more alerts? did you use any filters?

![image](https://user-images.githubusercontent.com/88898367/177761408-343db1ef-25d5-406b-8527-2ae32f3c3db8.png)
![image](https://user-images.githubusercontent.com/88898367/177761764-f9ba172c-b20c-43e1-b33b-d20d02991fab.png)

[2022-07-07 11:32] michael-radency commented on #3401
you can build it `docker run --rm -p 9000:9000 strangebee/thehive:latest`

[2022-07-07 12:47] Joffcom commented on #3664
@heywiorld,

That looks like it is someone trying to log in or acces something they don't have access to.

[2022-07-07 12:50] mark-monteiro commented on #3607
Quick update on this:
- I found an [existing issue](https://community.n8n.io/t/etimedout-error-when-even-the-workflow-is-activated/12424/2) for this in the forum from a few months ago
- I originally said this happens about once per day, but it's much more frequent than that, up to every 30 minutes at times
- I was able to work around the issue by re-activating the workflow as soon as the error occ

[2022-07-08 01:04] heywiorld commented on #3401
Hi @michael-radency ， thanks for your reply, but I am using v4 not v5

[2022-07-08 01:06] heywiorld commented on #3664
yeah, but no more details, so I don't know where is the error

[2022-07-08 01:06] heywiorld commented on #3667
Hi, it's working fine when N8N and the hive in the same machine. thanks

[2022-07-08 01:06] #3667 closed

[2022-07-08 04:02] Joffcom commented on #3607
Hey @mark-monteiro,

It is nice you have a workaround for it, I am still waiting for mine to error out.

[2022-07-08 04:07] Joffcom commented on #3664
Hey @heywiorld,

Is your instance available to the internet or are you doing any service checks to make sure it is online?

Depending on your setup it could be a few things but I can't think of anything that would be an issue with n8n itself.

If you are using a reverse proxy you could check the logs there to see if that shows where the connection is coming from and what url it is trying to access

[2022-07-08 05:44] michael-radency commented on #3401
Hi @heywiorld as I mention in previous comment I did test it in v4 and can not reproduce issue

[2022-07-08 07:09] michael-radency commented on #3482
Hello @dream91 can you please share workflow that causes issue? For me it's working correctly:

![image](https://user-images.githubusercontent.com/88898367/177934352-3fca9ab9-94d0-4ea3-b50a-15f2b5a7b96f.png)
![image](https://user-images.githubusercontent.com/88898367/177934432-c4d86f87-2b04-4234-85b0-530123b74cb5.png)

and when I try to add same files to case only then I'm getting error
![image](h

[2022-07-08 11:57] dream91 commented on #3482
Hello @michael-radency,
today I was building other simmilar workflow and I noticed that I made wrong data structude in this case. I just opened github to write about that and noticed you aready tested this issue. Sorry for this false issue report. Lets close this issue.

[2022-07-08 11:59] #3482 closed

[2022-07-08 12:11] tufloc opened #3679 "Webhooks - Body received empty from FreeScout"
**Describe the bug**
When attempting to send a webhook from FreeScout to n8n, the body is always received empty.

The request works properly on other webhook testing sites (Tested on Zapier, IFTTT and  others)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send a webhook request from FreeScout.
2. Receive an empty body on n8n.
3. See error

**Expected behavior**
Receive the actual b

[2022-07-09 18:28] draglabs opened #3685 "Baserow Node Not pulling lists from baserow."
**Describe the bug**
However over the last few weeks this feature has been failing, it started intermittent and now simply does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Baserow account, with a database and a table inside.
2. Add the Baserow node in N8N
3. Work in the node to locate your list of databases, tables and fieldnames.
4. See error

**Expected behavior**
No

[2022-07-09 20:01] draglabs commented on #3685
![Screen Shot 2022-07-09 at 1 52 13 PM](https://user-images.githubusercontent.com/17034358/178120915-58cca4e3-85d7-4d8c-aa67-863a5943f3c5.png)

[2022-07-10 09:10] #2650 closed

[2022-07-10 10:28] janober commented on #3414
Fix got merged with #3525 and will be released with the next version. Thanks a lot!

[2022-07-10 10:28] #3414 closed

[2022-07-11 16:48] mark-monteiro commented on #3089
This should be fixed with #3583. If this error comes up again I'll re-open this issue.

[2022-07-11 16:48] #3089 closed

[2022-07-11 18:06] freescout-helpdesk commented on #3679
Just email us at support@freescout.net to get a license for debugging this.

[2022-07-11 18:46] draglabs commented on #3685
hey @Joffcom I would have made this commit myself but I am not familiar enough with the dev process at n8n if you are available to entertain working on this together over zoom I can make similar pull requests in the future.

[2022-07-12 23:58] Lanhild opened #3700 "Odoo node sends field values in the wrong syntax, leading to a workflow error. (Only applies to integers?)"
### The Odoo node sends parameters in the wrong syntax, leading to a workflow error.
##### Disclaimer:
I'm almost certain the issue comes from the Odoo node.

**To Reproduce**
1. Place an Odoo node in your workflow
2. Select "Cusstom resource"
3. Select "Create"
4. Add a field with "Add Field"
5. Input field name
6. Input field value, e.g, `16`

Assuming you're trying to create a new sales order,

[2022-07-13 08:43] janober commented on #3414
Fix got released with `n8n@0.186.0`

[2022-07-13 14:46] Joffcom commented on #3679
Hey @freescout-helpdesk,

That is handy, I will drop you an email shortly.

[2022-07-13 15:04] Joffcom commented on #3700
Hey @Lanhild,

Out of interest what happens if you change your expression to use parseInt()? So something like {{parseInt($json['query'].partner_id)}}

[2022-07-13 16:10] Lanhild commented on #3700
**It looks like it worked using your suggestion**. Though, it's not practical as it forcefully takes the JSON values of the preceding node, which depending on the use case can be useless.

[2022-07-13 16:33] Lanhild commented on #3700
Seems like this issue only applies to integer field values? I tried putting a string as a field value in the Odoo node and it worked.
![2022-07-13_12-33](https://user-images.githubusercontent.com/73610779/178785147-22f20aa1-4913-46ea-8ceb-b251384fef83.png)

[2022-07-13 21:02] jory3 opened #3707 "Connect to Github OAuth 2 - N8N_HOST is ignored"
**Describe the bug**
I have n8n running behind a reverse proxy, making it available to the outside world on https port 443. It's running in a docker container, where N8N_HOST is set to https://n8n.mydomain.com. Everything works fine so far, but when I try to add a credential for Github OAuth 2 the OAuth redirect URL is displayed as follows:

https://n8n.mydomain.com:5678/rest/oauth2-credential/cal

[2022-07-13 21:40] Joffcom commented on #3707
Hey @jory3,

Have you set `WEBHOOK_URL` as well?

The URL tends to be the value of host and port unless webhook url is configured as well.

[2022-07-14 06:08] heywiorld commented on #3664
ok. will check reverse proxy log, thanks

[2022-07-14 06:08] #3664 closed

[2022-07-14 06:11] heywiorld commented on #3401
![image](https://user-images.githubusercontent.com/43668597/178912433-4d955610-85fd-4820-867a-f90d6d7d60be.png)
![image](https://user-images.githubusercontent.com/43668597/178912460-0f15fd80-4cfa-4727-9fa9-ba81b234936f.png)
I use the same option with you, but still only 10 items return, while alert is over 1000

[2022-07-14 08:28] jory3 commented on #3707
Hi @Joffcom,

thank you, setting `WEBHOOK_URL` to the same value as `N8N_HOST` did the trick, the redirect URL is now correct.

I'll close the issue, I guess in that case it's expected behaviour and not a bug.

[2022-07-14 08:28] #3707 closed

[2022-07-14 09:35] Joffcom commented on #3700
Hey @Lanhild,

So the thing I noticed was the data coming into the node is a string not an int, In the incoming node you have....
[code]

If it was an int it would be
[code]

I would say this is working as intended as we don't know what the field type is in Odoo we are taking the data as it is provided and passing it on. What we could maybe do in the future is have a dropdown box so you could spec

[2022-07-14 11:42] shit-png opened #3712 "Old glob-parent Version"
We tried to install n8n:latest and n8n:0.186.1 on Kubernetes.

Our security check (Trivy) detected an older verion (3.1.0) of glob-parent library.
This version got an security bug to cause an denial of service with regular expression.

An update to version 5.1.2 should fix this issue. Otherwise we can´t use n8n.
![Screenshot 2022-07-14 134151](https://user-images.githubusercontent.com/52354974/178

[2022-07-14 12:17] Joffcom commented on #3685
Hey @draglabs,

The process isn't that bad, If you make a fork of n8n then create a new branch and make the changes. Once that is done commit it and open a pull request then we do our internal review process and merge it in.

I have this one down to fix later today.

[2022-07-14 15:07] Joffcom commented on #3297
Hey @rvalle,

That key is only for User Management, If it is in the node you can try toggling the SSL/TLS option for the Credential and see if that helps.

[2022-07-14 15:44] rvalle commented on #3297
@Joffcom I think it is attempting an SSL conneciton on my 587 delivery port which is TLS only.
kind of the same issue but on the email sender module.

[2022-07-14 16:09] Joffcom commented on #3297
Hey @rvalle,

TLS shouldn't be an issue, I use Mail Trap for testing which uses TLS and I have the port to 587 and SSL/TLS set to off this also works for gmail. This should also work for you, What error message do you get with that setting?

[2022-07-14 16:37] fbeauvais opened #3717 "Clickup node not able to get teams, spaces, etc"
Last N8N installed on Ubuntu with Cloudron. Tried different access (o2auth, token, etc). This video says it all ;)

[https://watch.screencastify.com/v/GTmK0QaG7QqrTO8kfw7k](https://watch.screencastify.com/v/GTmK0QaG7QqrTO8kfw7k)

Version info:

![image](https://user-images.githubusercontent.com/5061749/179033173-fc1b4d03-c640-4d27-932a-1b5460205e86.png)

[2022-07-14 16:57] fbeauvais commented on #3717
Its now working. Looks like a delay with the auth maybe?

Le jeu. 14 juill. 2022, 12 h 48, Jonathan Bennetts ***@***.***>
a écrit :

[2022-07-15 07:47] Joffcom commented on #3717
Hey @fbeauvais,

Could be or maybe a slight network hiccup, I will mark this one as closed if it pops again let me know and we can re-open.

[2022-07-15 07:47] #3717 closed

[2022-07-15 11:01] Joffcom commented on #3685
Hey @draglabs,

Did some digging and it turns out with release 1.10.2 of Baserow they started to return an error when the / was missing, This wasn't an issue with earlier versions of Baserow. The original issue report can be found here: https://gitlab.com/bramw/baserow/-/issues/405

[2022-07-15 11:46] Joffcom commented on #3679
Hey @tufloc,

I have a key applied and have managed to reproduce the issue, I have a few days off but coming up but I will start to dig into it a bit more when I get back.

[2022-07-15 11:48] tufloc commented on #3679
@Joffcom, Thanks for all the help. Waiting patiently.

[2022-07-15 15:13] janober commented on #3685
Got merged and will be released with the next version.

[2022-07-15 18:39] janober commented on #3392
Fix just got merged and will be released with the next version.

[2022-07-15 18:39] #3392 closed

[2022-07-17 08:20] ericsala commented on #2651
@mutdmour @janober  is there any other option i should use with a nginx reverse proxy ? I've read about EventSource im other thread but still not working 😔
I receive HTML page without all CSS and JS.

[2022-07-18 11:22] that-one-tom commented on #2651
Hi @ericsala I am sorry to hear you're having trouble.

I just had a quick look over your docker command + nginx config and I am not sure this is the same problem as originally reported here. You don't seem to be setting the `N8N_PATH` environment variable in docker at all. Perhaps you can reach out on our forum at https://community.n8n.io/ with your full nginx config (including `location`) so we

[2022-07-20 11:44] xavier-calland opened #3740 "Allow SMTP connection without auth"
**Describe the bug**
It's not possible to use a SMTP server with anonymous connecion (like a local SMTP relay)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure n8n with `N8N_SMTP_HOST`, `N8N_SMTP_PORT` and `N8N_SMTP_SENDER` but no `N8N_SMTP_USER` nor `N8N_SMTP_PASS`
2. Start n8n
3. Go to "User management"
4. The message "_Set up SMTP before adding users (so that n8n can send them in

[2022-07-20 13:14] woutervddn opened #3741 "Webhook removes input name from binary data and renames them"
**Describe the bug**

The webhook node removes the original submitted input name from binary data and renames them to whatever is set as `Binary Property`. This removes the ability to know which file came from which `<input type="file" name="uniqueName">` field. Furthermore the binary data objects are not in the same order in n8n as they were submitted so using the appended index is not a good met

[2022-07-20 15:46] Chinoman10 opened #3744 "Simple Sort doesn't work for numbers"
_Found a bug? Please fill out the sections below. 👍_

### Issue Summary

Using the **ItemsList** node, the **Operation** "Sort" and choosing the **Type** "Simple", and giving it a number field, it's not properly sorted.

### Steps to Reproduce

1. Provide any input to the ItemsList node with numbers mixed randomly (with different numbers of digits);
2. Check output;

_Any other relevant informatio

[2022-07-20 15:46] Chinoman10 commented on #3744
Here's a screenshot:
![image](https://user-images.githubusercontent.com/8300763/180026151-1c593475-b553-4c9b-b8eb-77f21d0cc681.png)

[2022-07-20 18:15] janober commented on #3685
Fix got released with `n8n@0.187.1`

[2022-07-20 18:15] janober commented on #3392
Fix got released with `n8n@0.187.1`

[2022-07-20 21:38] KarolPiechoczek opened #3747 "Ignoring optional field "File Name" when uploading a file to OneDrive."
**Describe the bug**
Ignoring "File Name" field when uploading a file to OneDrive. The value entered does not matter, "test.pdf" or concatenate with expression. e.g. "Tylda-{{$node["Gmail"].binary.attachment_0.fileName}}"
The file is uploaded with default attachment-name.

**To Reproduce**
1. Set any value in "File Name" on Microsoft OneDrive node
2. Execute node
3. No error, just ignored value

*

[2022-07-21 11:47] luizeof opened #3752 "Login error after upgrade to 0.187.1 for non-admin users"
**Describe the bug**

After upgrading to version 0.187.1 non-admin users receive the following message:

![photo_2022-07-21_08-41-23](https://user-images.githubusercontent.com/257004/180205819-a343ee1b-6ac6-46bf-9f27-37597b328ad5.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade N8N
2. Login with admin account (it works)
3. Login with non-admin account (not works)

**Expected beha

[2022-07-21 11:52] Joffcom commented on #3752
Hey @luizeof,

Thanks for reporting this one, I have just reproduced it here I will get an internal ticket opened.

[2022-07-21 12:32] janober commented on #3752
Thanks a lot.

Our engineers are already working on it and we will release a bug-fix version as soon as the fix is available.

[2022-07-21 12:36] janober commented on #3752
Got fixed with #3754. New version will be available soon.

[2022-07-21 12:36] #3752 closed

[2022-07-21 14:24] janober commented on #3752
Fix got released with `n8n@0.187.2`

[2022-07-21 14:31] kwmc-lucas commented on #3752
Confirmed working, thanks!

[2022-07-21 22:36] sanebg commented on #1336
I'm having the exact same issue. Can someone tell me how to set the ID as a string? I'm not a coder and I have no idea what that even means.

[2022-07-22 02:30] Lanhild opened #3757 "Allow users to delete tags"
Allow users to delete tags.
![2022-07-21_22-30](https://user-images.githubusercontent.com/73610779/180349823-2633e0a2-138d-4f31-9690-fe5566046053.png)

[2022-07-22 08:19] Joffcom commented on #3170
Hey @Zapfmeister,

Yes there have been a few more tweaks to the PR opened and it is now in the final review stage so unless anything urgent pops up it will hopefully be in one of the next releases

[2022-07-22 08:37] Joffcom commented on #3679
Hey @tufloc,

So it looks like when the webhook body is sent it is sent with a HAL content type which our webhooks don't currently handle, I had not heard of HAL before but it was an interesting hole to fall into.

The good news though is you can get around this, In your webhook if you go to options and add the `Binary Data` option that will get the body in.

![image](https://user-images.githubuse

[2022-07-22 09:18] ivov commented on #3757
The delete button should be next to the edit button in the latest. Which n8n version and browser are you on?

<img width="752" alt="image" src="https://user-images.githubusercontent.com/44588767/180406952-4ed51fb5-a268-4875-b9ea-2952afddee63.png">

[2022-07-22 10:34] tufloc commented on #3679
@Joffcom  This seems to work perfectly. Thanks for all your assistance! I see @freescout-helpdesk already updated their documentation to point to this issue and your workaround.

@freescout-helpdesk  Thanks for being willing to assist in this matter.

Thanks again to everyone!

[2022-07-22 10:34] #3679 closed

[2022-07-22 11:08] Mehdi-YC commented on #3469
this happens to me too , i struggeled for like 2 days t find out it was nginx , pls any solution ?

[2022-07-22 15:06] Joffcom commented on #3469
Hey @ketansp and @Mehdi-YC,

What does your nginx config look like? Back when I was using nginx as a reverse proxy my config looked like this...

[code]

[2022-07-22 15:46] luizeof opened #3760 "Node Mautic unusable for those who using Basic Auth"
**Describe the bug**

N8N version 0.187.1 [modifies node Mautic](https://github.com/n8n-io/n8n/blob/13483497484e205975ef71091e3892f757f608e1/packages/nodes-base/credentials/MauticApi.credentials.ts#L37) to add Credentials Test. #3668

But the /api/users/self endpoint works by OAuth2,  for all users using Mautic Basic Auth API the node Mautic is broken

![erro-api-mautic-n8n](https://user-images.gi

[2022-07-22 16:50] Joffcom commented on #3760
Hey @luizeof,

Thanks for reporting this one, I am just testing a fix now.

[2022-07-22 18:03] janober commented on #3760
But does the node not still work perfectly? The test should not matter at all for the functionality, is just a frontend thing .

[2022-07-22 19:14] Lanhild commented on #3757
Latest update fixed it.

[2022-07-22 19:14] #3757 closed

[2022-07-22 19:39] luizeof commented on #3760
@janober not work at all (only using Basic Auth)

Using OAuth works perfectly as usual.

[2022-07-22 19:57] janober commented on #3760
Ah then more than just the test got updated. We will have a look.

[2022-07-23 08:17] Joffcom commented on #3747
Hey @KarolPiechoczek,

It looks like we use whatever filename is already assigned to the binary data, The best I can think of would be to add a new option under the Binary data toggle to enable overwriting the filename. I would need to run it past our product team before making the change but would that sort of thing work for you?

[2022-07-23 12:50] KarolPiechoczek commented on #3747
Hello @Joffcom

Sounds good! Important for me is the concatenation option my own name with some current data from another node in the same workflow, e.g. Gmail subject mail.

[2022-07-23 13:57] Joffcom commented on #3747
Hey @KarolPiechoczek,

That shouldn't be a problem and could be done with an expression.

[2022-07-24 03:28] luizeof commented on #3170
In version 0.187.2 Node works, but the filter parameters do not work

the request is sent do old api endpoint.

`
GET /nc/p_mdq0kuqlah85ls/api/v1/leads?where=%28email%2Cneq%2Cnull%29&limit=50
`

[2022-07-24 06:16] Joffcom commented on #3170
@luizeof in theory the node only partially supports newer versions of NocoDB. The API routes were changed and the PR we have open brings in support for the newer URIs.

[2022-07-24 16:10] #3760 closed

[2022-07-24 16:11] janober commented on #3760
Fix got merged and will be released with the next version.

[2022-07-25 06:48] Mehdi-YC commented on #3469
same , i have almost the same config ,  what i did now , is that i used the sub domain to connect to some OAuth2 services , and i use the ip to run workflow

[2022-07-25 07:39] Joffcom commented on #3469
@Mehdi-YC when you say almost the same config what is different with yours? I set up another instance over the weekend just to test the config and all appears to be working so it would be interesting to know what config you are using for nginx.

[2022-07-25 07:40] Mehdi-YC commented on #3469
ok i will send it once im in the office

[2022-07-25 08:26] Mehdi-YC commented on #3469
@Joffcom here is my config
`
...
        location / {
                proxy_set_header Host $host;
                proxy_pass http://xx.xxx.xxx.xxx:5689;
                proxy_redirect off;
                chunked_transfer_encoding off;
                proxy_buffering off;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';

[2022-07-25 08:53] Joffcom commented on #3469
@Mehdi-YC I would start by removing some of the options so you match what I use and from there add parts in to see at what stage it stops

If I had to take a guess I would say it could be the Host header or the cache bypass causing the issue.

[2022-07-25 08:54] Joffcom commented on #3741
Hey @woutervddn,

As just mentioned on the [community thread[(https://community.n8n.io/t/webhook-accepting-multipart-data-from-form-loses-name-of-binary-data-input-files/15945/7?u=jon) I am going to mark this one as closed 👍🏻

[2022-07-25 08:54] #3741 closed

[2022-07-25 09:02] Mehdi-YC commented on #3469
@Joffcom , well that actually worked , i think the problem was  proxy_set_header Host $host; maybe we can close this issue

[2022-07-25 09:12] Joffcom commented on #3469
Hey @Mehdi-YC,

I guess that depends on @ketansp and @ebecaf, What I will do is keep it open until Friday to allow some response time then close it off.

[2022-07-25 09:37] dokime7 commented on #2806
Hi here, what's news?

[2022-07-25 14:04] nepodev commented on #3740
You can enter dummy values for N8N_SMTP_USER and N8N_SMTP_PASS. If your SMTP server does not ask for a user and password, the values are not used. Works for my local SMTP.

[2022-07-26 06:27] xavier-calland commented on #3740
Yes, I tried this solution.
It works for some SMTP servers (like mailhog which I use in a development environment) but not the one I've to use on another environment.

As [NodeMailer](https://nodemailer.com/smtp/#authentication) accepts configuration without authentication parameters, it seems like a good idea to use this behavior in N8N.

[2022-07-26 12:56] ketansp commented on #3469
My nginx config looks like this
[code]

Unfortunately removing `proxy_set_header Host $host;` did no difference to this issue.

[2022-07-26 13:58] DonBamboo opened #3776 "RocketChat node always return ERROR: Authorization failed - please check your credentials"
**Describe the bug**
RocketChat node always return ERROR: Authorization failed - please check your credentials

**To Reproduce**
Steps to reproduce the behavior:
After inserting the correct user ID, Auth Key and domain the error always return

**Expected behavior**
successfully sending the message or run custom API for RocketChat.

**Environment (please complete the following information):**
 - OS

[2022-07-26 14:12] ketansp commented on #3469
@Joffcom adding the two options in my nginx config solved the problem. Now my nginx config looks like
[code]

[2022-07-26 14:33] Joffcom commented on #3776
Hey @DonBamboo,

Thanks for reporting this one, I will look into it now and see what has gone wrong.

[2022-07-26 15:26] Joffcom commented on #3469
Perfect thanks for the update @ketansp, Just @ebecaf to go 😃

[2022-07-26 19:12] rizalfauzie opened #3781 ""Problem saving workflow" when tags disabled"
**Describe the bug**
Got error message when saving workflow `Problem saving workflow` when workflow tag is disabled. But the workflow still saved on database after i reload and load from workflow menu, everything is okay.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean install with latest version
2. Run with `export N8N_WORKFLOW_TAGS_DISABLED=true && n8n start`
3. Create new workflow
4

[2022-07-26 19:15] rizalfauzie commented on #3781
Additional output from debug console log:
[code]

[2022-07-26 23:52] ebecaf commented on #3469
I will test this out using what is posted above and report back, but I'm not 100% sure my nginx _is_ behind a proxy, because honestly I don't have much experience with nginx as a whole.

_Having said that some executions appear to have started working since I updated to 0.185.0_

[2022-07-27 04:23] Joffcom commented on #3469
Hey @ebecaf,

It isn't that nginx is behind a proxy it is more that nginx is being as a reverse proxy and is just missing a small config option.

The quickest way to check if it is nginx is to connect directly to the IP and port for n8n to see if that changes anything.

[2022-07-27 08:46] #3776 closed

[2022-07-27 08:47] janober commented on #3776
Fix got merged and will be released with the next version.

[2022-07-27 09:00] DonBamboo commented on #3776
Thank for fixing this issue! you guys rock!

[2022-07-27 10:10] chotaire commented on #3776
I had downgraded my dockerized n8n to tag 0.186.1 as a workaround for this issue, it still worked fine in that version.

[2022-07-27 16:17] janober commented on #3776
Fix got released with `n8n@0.188.0`

[2022-07-27 16:17] janober commented on #3760
Fix got released with `n8n@0.188.0`

[2022-07-27 17:19] netroy commented on #3576
@SpeedHighway Can you please try again with `n8n@0.188.0` ?

[2022-07-28 00:16] brianinoa commented on #3781
Thanks @rizalfauzie I'm taking a look at this

[2022-07-28 07:14] rottmann commented on #3607
Can confirm IMAP issue. Don't know since which version the problem exists, but i used my skript since a year without any problem. The problem occurs in the last months, since i update n8n.

From time to time (currently once per week) the Workflow stop working and must manually be reactivated.

The other problem is, that the system not inform about a stopped workflow (e.g. by mail).

Could system s

[2022-07-28 09:25] Joffcom commented on #3607
@rottmann That is interesting I am still waiting for mine to stop, It has been over a month so far. I think issue appears to be environmental with the node failing which always makes it trickier to sort out.

Having the node disable if it can't make a connection may be more a safety feature than anything else to prevent it from causing a failure loop. Maybe a quick way to get notifications on the

[2022-07-28 10:18] rottmann commented on #3607
@Joffcom We had our own mailserver.
The server sends and receives every 5 minutes testmails without problem.
n8n waits for new mails and process them. It reconnects every 5 minutes.

In n8n log-file we had last night many entries at 23:45 with
"Initializing active workflow ..."
And one "Unable to initialize workflow ...", without any further data.

I checked the mailserver log at that time, and it

[2022-07-28 13:52] mark-monteiro commented on #3607
@Joffcom I already tried this and the retry logic does not do anything. I do not think the retry logic is applied to the part of the code where the IMAP connection is established

@rottmann Included below is the workflow I am using currently to work around this issue. It de-activates then re-activates the workflow whenever a trigger error like this one occurs (NOTE: You'll need to set your own URL

[2022-07-28 14:50] rottmann commented on #3607
@mark-monteiro Thanks, but this only help with an error triggered by a workflow.

In my case, the n8n system has an error, not the workflow.

My Problem is, that n8n randomly not restart a workflow, which n8n stopped before ('Unable to initialize workflow').

I have a common trigger for all errors (similar to yours, but simpler), this trigger will not trigger in that case.

I think it has to do wi

[2022-07-28 15:05] janober commented on #3607
Not sure I understand that part. If n8n can not activate a workflow, or if a workflow gets disabled because of a problem, it will run the Error workflow (at least if you are using an up-to-date version of n8n).

[2022-07-28 15:50] #3576 closed

[2022-07-28 15:55] rottmann opened #3794 "EmailReadImap workflow randomly stop"
I use a "EmailReadImap" node in many workflows and they reconnect every 5 minutes to different sever.
I can see a reconnect every 5 minutes in the mailservers log-files, so far everything is ok.

n8n sometimes re-initialize all workflows (on cleanup log? or sqlite? i don't know).

But sometimes one workflow with EmailReadImap is not re-initialized.

From log (simplified, without other json-data)
[

[2022-07-28 15:56] rottmann commented on #3607
Ok, i opened a separate issue https://github.com/n8n-io/n8n/issues/3794, seems that it is a different problem.

[2022-08-02 09:35] aberndt-hub opened #3817 "HTTP node - DigestAuth failed when using Query Parameters"
Hello n8n-Team,

Iam facing the an issue with HTTP node using DigestAuth.
N8n Version 0.188.

If we make a request using DisgestAuth and without Query Parameters - the request ist accepted on the receiver side.
If we do the same request, but with Query Parameters - the receiver side responds with "rejected"

<img width="1503" alt="n8nhttp1" src="https://user-images.githubusercontent.com/65352601/1

[2022-08-02 15:19] janober commented on #3781
The fix just got merged with #3792 and will be released with the next version.

[2022-08-02 15:19] #3781 closed

[2022-08-03 08:13] Joffcom commented on #3817
Hey @aberndt-hub,

That is odd, Does this only happen when using a parameter option? Looking at the error the server does seem to be saying the Authorization failed and the API Account is invalid. Have you checked the logs on the system you are connecting to so you can see if it logs anything else?

Might also be worth sending the same request to something like webhook.site to see if there is a di

[2022-08-03 08:18] aberndt-hub commented on #3817
Hello @Joffcom ,

the requests are the same with the same Authorization. Using a Parameter will cause the fail.
If we using the deprecated requests library, we can make both versions of the request without issue.

I will post the webhook.site results shortly.

[2022-08-03 08:32] aberndt-hub commented on #3817
Heres the result for the working request:
<img width="2552" alt="good" src="https://user-images.githubusercontent.com/65352601/182562140-83a807b9-3dc6-4c26-94a6-9b2bb58c150e.png">

This is the result for the not working one:
<img width="2554" alt="bad" src="https://user-images.githubusercontent.com/65352601/182562240-0eb7119f-d29a-4336-8b94-b7836dcdb23c.png">

[2022-08-03 11:25] #3469 closed

[2022-08-03 14:44] edlundin opened #3824 "MQTT trigger node executes more than one time"
Hi!

After encountering significant problems with the MQTT trigger node, I decided to write this up, hoping it could help identify the origin of the issue.

**Describe the bug**
The MQTT trigger node behaviour is erratic.

I wrote two workflows, each containing an MQTT trigger node and a function one (it only logs "Done!" in the console). Both of the MQTT nodes are subscribing to the same topic.

[2022-08-03 17:20] couquino opened #3826 "Migrations failing on latest Docker image"
**Describe the bug**
Just after the latest update of the Docker image (n8nio/n8n:latest@sha256:3b9eb2c6996bbae3044033a4bc4c18108b6de218562ded2ae3f36f9d9aa66980), the container is unhealthy and I now have these errors in logs

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update the Docker image of N8N to n8nio/n8n:latest@sha256:3b9eb2c6996bbae3044033a4bc4c18108b6de218562ded2ae3f36f9

[2022-08-03 19:44] janober commented on #3781
Fix got released with `n8n@0.189.0`

[2022-08-03 23:59] dogik commented on #3609
I have to agree with @jolo-dev on this one. I was very surprised that I had to do it vice-versa. Very unintuitive. I had to spend 30 minutes to figure it out.

[2022-08-04 04:06] fcecagno opened #3830 "Cursor doesn't work on /executions"
**Describe the bug**
Cursor doesn't affect pagination when [retrieving all executions](https://docs.n8n.io/api/api-reference/#tag/Execution/paths/~1executions/get). It was discussed and confirmed in the forums: https://community.n8n.io/t/does-pagination-work-for-retrieve-all-executions/16146/4

[2022-08-04 05:05] Joffcom commented on #3609
Hey @dogik,

Oh no doubt there, it confused me as well. We are in the process of making changes to existing nodes to make them easier to use and hopefully this idea will be part of that.

[2022-08-04 06:44] csuermann commented on #3830
Hi @fcecagno! Thank you for reporting this issue. We have have created an internal ticket for it and will look into it.

[2022-08-04 08:50] mutdmour commented on #3826
Thanks for sharing. You seem to have an invalid workflow obj in your db. Would you be able to look into the db and tell us if the nodes object is `undefined` or not an array? In the meantime, will prepare a fix for this.

[2022-08-04 08:58] couquino commented on #3826
I just checked my DB and the `workflow_entity` table seems to be correct (I validated the json of "nodes" column)
However, the `installed_nodes` table is empty.

The migration table contains these migrations:

'1', '1588157391238', 'InitialMigration1588157391238'
'2', '1592447867632', 'WebhookModel1592447867632'
'3', '1594902918301', 'CreateIndexStoppedAt1594902918301'
'4', '1607431743767', 'MakeS

[2022-08-04 09:14] alexandervnuchkov commented on #3826
I also have the same error with the latest Docker image 0.189.0 and MariaDB database. Downgrading to 0.188.0 solved the issue.
My system: host Raspbian 11 bullseye (arm64), Raspberry Pi 4 with 4 GB memory.

[2022-08-04 10:49] mutdmour commented on #3826
@couquino what version of MySQL are you running? Cannot reproduce with version 8. @alexandervnuchkov What version of MariaDB are you running?

[2022-08-04 10:51] alexandervnuchkov commented on #3826
@mutdmour

[code]

[2022-08-04 10:54] couquino commented on #3826
@mutdmour (lscr.io/linuxserver/mariadb)
![image](https://user-images.githubusercontent.com/30592770/182830127-7642eab0-ded3-48e7-83d5-82abed3aa5fd.png)

[2022-08-04 13:49] grahamkennery commented on #3826
Also receiving the same error over here with the latest update and MariaDB:
`mariadb  Ver 15.1 Distrib 10.5.16-MariaDB, for Linux (x86_64) using readline 5.1`

My `workflow_entity` table has a single row, the `nodes` field is a valid JSON array.

[2022-08-04 14:38] mutdmour commented on #3826
thanks was able to reproduce it and address the issue

[2022-08-05 06:51] floryn90 commented on #3826
hi guys,
I'm facing the same issue:

` kubectl logs -n n8n n8n-9bd96d9bc-vz8xm --follow
Initializing n8n process
/usr/local/lib/node_modules/n8n/dist/src/databases/migrations/mysqldb/1658932910559-AddNodeIds.js:43
                nodes.forEach((node) => {
                      ^

TypeError: nodes.forEach is not a function
    at /usr/local/lib/node_modules/n8n/dist/src/databases/migrations/mysqldb

[2022-08-05 08:53] janober commented on #3826
Got fixed with PR #3832 and released with `n8n@0.189.``

[2022-08-05 08:53] #3826 closed

[2022-08-05 09:12] netroy commented on #3138
@pablorq this docker-compose changes were released in `n8n@0.189.0`. Can you please test if this fixes the issue?

[2022-08-05 09:45] hckhanh opened #3837 "ERROR: Cannot find module 'spex'"
**Describe the bug**
I try to deploy webhook instance then trigger a webhook flow, I receive this error

[code]

[2022-08-05 10:03] Joffcom commented on #3837
Hey @hckhanh,

Can you send over the steps you took to produce that error? Are you trying to use your own node or include a package to use in a function node?

[2022-08-05 10:35] hckhanh commented on #3837
Hi @Joffcom, I am using some packages for the function node.

NODE_FUNCTION_ALLOW_EXTERNAL=lodash,fast-array-diff

[2022-08-05 10:42] hckhanh opened #3838 "WEBHOOK_URL for OAuth 2"
Is that correct with the OAuth URL when I try to change `WEBHOOK_URL` to a different domain?

For my case it will be

[code]

![image](https://user-images.githubusercontent.com/6380436/183061318-9a81fd37-5c7c-40fc-bf0a-a82861a9f5eb.png)

[2022-08-05 10:47] Joffcom commented on #3838
Hey @hckhanh,

This doesn't appear to be an issue and is more of a question, For support questions we prefer to use our community forum here: https://community.n8n.io which is monitored by more people and our community members.

To answer your question though, That looks right to me.

[2022-08-05 10:48] Joffcom commented on #3837
Hey @hckhanh,

What about how you are producing the error? It just looks like an npm package is missing from somewhere so it could be the deployment method or something else I am missing.

[2022-08-05 11:06] hckhanh commented on #3837
I try to reinstall `node_modules` then the webhook can only run 9 times before it's getting this error. I don't know why, It seems unstable

Even I try to set

[code]

[2022-08-05 11:08] hckhanh commented on #3837
Here is my flow

[Get_list_of_changesets.zip](https://github.com/n8n-io/n8n/files/9268016/Get_list_of_changesets.zip)

[2022-08-05 11:09] hckhanh commented on #3837
I am using queue mode

![image](https://user-images.githubusercontent.com/6380436/183065559-5e89a5cd-56f1-4a0a-946c-0d1f1f666396.png)

[2022-08-05 11:12] hckhanh commented on #3837
This is the error I get from the pg node

[2022-08-05 11:15] hckhanh commented on #3838
I think this is not correct, since I get this error when I try to access the above link

![image](https://user-images.githubusercontent.com/6380436/183066269-75ac8cbd-26b6-475a-ac11-309138368f2e.png)

But when I try to access the domain of the main process instead of the webhook one, it still work.

[2022-08-05 12:02] Joffcom commented on #3837
Hey @hckhanh,

What were the steps you took to set up n8n? When you mention installing node_modules how are you doing that? There is still a good chunk of information missing that could be useful.

[2022-08-05 12:08] janober commented on #3837
Are we sure this is a bug in n8n? Because if not it should be posted in the forum https://community.n8n.io/
Also did the issue template not get filled, but rather deleted. Please always fill it, no matter what. Thanks!

[2022-08-05 12:42] Joffcom commented on #3838
Hey @hckhanh,

That is a good point, So from my understanding when you use scaling mode it is only the webhooks that get handled by the webhook workers the oauth process is still handled by the main worker.

@krynble may have a solution to this one.

[2022-08-08 01:44] blew-pdx opened #3851 "ActiveCampaign - Remove Tag Fails"
Hello,

At the start of my workflow, I'm getting all users with a specific ActiveCampaign tag, and at the end of the workflow, I'd like to remove that same tag.

The "Add Tag" works (see screenshot) and has a drop-down for all available tags and the contact ID.
However, with the "Remove Tag", only has a "Contact Tag Id" field. Adding the same ID as the start of my workflow fails, as does any other

[2022-08-08 08:10] menasbeshay commented on #3270
@laurent-lemke I'm facing same issue and I did a workaround for it by adding a new string field that holds the boolean value in string format (you can make that using Set node) :
`item.json.stringField = item.json.boolField ? "true" : "false";`
then use this string field in your expressions

[2022-08-08 09:56] rafalkrupinski opened #3855 "'Started at' timezone gets mixed in the executions view"
**Describe the bug**
When one flow calls another, the task execution view shows that the triggered task was called 2 hours before or after the triggering task

**To Reproduce**
1. Running n8n server with both     TZ and  GENERIC_TIMEZONE=Europe/Vienna
2. prepare a simple flow
3. prepare another flow, triggering the flow from the step 2.

**Expected behavior**
The execution time of flows should be

[2022-08-09 07:51] maspio commented on #3817
The community member Narek_Antabyan also reported this issue ([post](https://community.n8n.io/t/digestauth-failed-when-using-query-parameters/16495/2))

[2022-08-09 09:48] martinr103 opened #3857 "TheHive node buggy when checking the status of executeAnalyzer"
Hey guys,

these lines of code, in the TheHive.node.ts, are not good:

[code]

This produces an infinite loop, and in our environment generates like 31000 GET calls on Thehive within 15 minutes.
GET request every fraction of a second.
I think you need to find a different way of checking the status of the executeAnalyzer job.

If it has to be a do-while loop, then there should be some kind of delay

[2022-08-09 11:52] ivov commented on #3830
This should have been fixed with #3834. If it persists, please let us know and we will reopen.

[2022-08-09 11:52] #3830 closed

[2022-08-10 07:49] rottmann commented on #3794
Happened again, now with an another n8n Workflow with an external mail provider, but with EMailReadImap node.

Workflow stopped 2022-08-08 17:00:49

Message (when you click the red triangle)
"Problem activating workflow
The following error occurred on workflow activation:
There was a problem activating the workflow"

Every time this happens, it creates smaller / new log files:

[code]

[2022-08-10 08:57] mallegrini commented on #2870
+1

[2022-08-10 14:44] SimonMayerhofer commented on #3662
Hey @Joffcom quick follow up on this. Any idea on how I might be able to fix it?

[2022-08-10 16:30] Joffcom commented on #3662
Hey @SimonMayerhofer,

Cheers for the nudge I have not had a chance to test this out yet, I have done some testing with my own workflows and static data did appear to be working.

I have just taken your workflow and gone with a simplified version to see if the same issue exists so for my test I have just the first and last function nodes.

When it stops saving how do you know?

[2022-08-10 16:37] Joffcom commented on #3662
Quick update...

After a restart my last execution time was updated correctly, Are you able to test this smaller workflow to see if you can reproduce the same issue with it that should then tell us fairly quickly if it is a workflow issue.

[code]

[2022-08-11 08:57] Joffcom commented on #3851
Hey @blew-pdx,

When you say it fails what do you mean? Is there an error message you get or does it just not delete anything? It looks like we could probably do with adding a dropdown for the tags on that field as well.

[2022-08-11 09:02] Joffcom commented on #3855
Hey @rafalkrupinski,

What is your workflow doing and have you tried on a newer release? I have just given it a quick go here and I am seeing what I would expect, does it actually run the workflow when it is meant to?

![image](https://user-images.githubusercontent.com/4688521/184099685-47353a2d-f140-4a15-abe5-feec36bba4d5.png)

[2022-08-11 09:22] rafalkrupinski commented on #3855
I just run a very simple workflow even without a call to another one and the time is wrong.
It's querying Airtable for a single value and making two HTTP requests querying for some simple data - API version and current account.

Yes, since I made the report I've updated to 0.189.1

I just run it manually and the time is 2hrs back.

Sorry, I forgot to mention I'm running it in Docker from a custom

[2022-08-11 10:17] leisefuxX opened #3870 "baserow API not reachable through node // Fields in baserow node won't propagate // Request failed with status code 504"
**Describe the bug**
when adding baserow node you can not select database name or table name. fields hang infinite and are red bordered. after some time red trianlge appears with error code 504

**Describe the setup**
baserow: latest docker container (fresh build to confirm)
n8n: latest docker container (fresh build to confirm)
reverse proxy via nginx proxy manager (docker container), which server

[2022-08-11 10:24] Joffcom commented on #3870
Hey @leisefuxX,

A 504 tends to be a network timeout, I have tested from the instance I run and I can reach my self hosted instance of Baserow and the Baserow hosted version with no issues.

Have you tried using a Baserow cloud account to see if that works or using the HTTP Request node to see if that has any issues connecting to it?

Out of interest when you did the connection testing did you try

[2022-08-11 10:30] Joffcom commented on #3855
Hey @rafalkrupinski,

I am not sure what else to check on this one, I can't reproduce it and I have just given it a bash with the same timezone you have set.

![image](https://user-images.githubusercontent.com/4688521/184114389-f8319602-fef5-4831-b594-2743b9840cba.png)

If you try with just the normal docker image does that have the same issue?

Could you try with maybe a workflow that just calls

[2022-08-11 12:19] rafalkrupinski commented on #3855
Postgres is set to UTC, why should it matter? ;)

[2022-08-11 14:13] Joffcom commented on #3855
Hey @rafalkrupinski,

I wouldn't have thought it would matter unless it was trying to convert something but as I can't reproduce it from 3 different instances the only thing I can think of is it is outside of the application or it is a bug that has a very specific requirement to trigger which will make it tricky to track down.

I would start by using the image we provide with a SQLite database and

[2022-08-11 18:13] SimonMayerhofer commented on #3662
Thanks!
I testet multiple things. Your workflow alone does work for me without having the issues. I tested it in a separate workflow and also as an addition in my problematic workflow. Both worked fine.

I tested and noticed multiple things.

# 1)
 In order to debug better, I changed the cron to every minute and I added some nodes which send me the values:

<details>
<summary>Workflow setup</summa

[2022-08-12 00:50] blew-pdx commented on #3851
Hey @Joffcom

Thanks for your reply. I've attached a screenshot of the error.

The tag id in ActiveCampaign is 7, however, the node needs to find and delete the "reference id" that links the tag to the contact.

I've managed to remove the tag by using a HTTP request to:
1) Find any instances of the tag id of 7 & then get the reference id
2) Delete the reference id

![Error](https://user-images.git

[2022-08-12 05:46] mathgonzlez opened #3872 "github trigger"
**Describe the bug**
The github trigger only listen one time and the stop. i need to activate everytime i need to listen for an event

**To Reproduce**
Steps to reproduce the behavior:
1. Create a github trigger
2. Configure events
3. Start listen for event
4. See error

**Expected behavior**
The github trigger dont stop listen events, because i want to log all the events when its started

**Envir

[2022-08-12 05:56] mathgonzlez commented on #3872
I close the issue since I was using it wrong. it has to be saved for the trigger to start listening in the background

[2022-08-12 05:56] #3872 closed

[2022-08-12 05:57] Joffcom commented on #3872
Hey @mathgonzlez,

On the top right of the workflow if you toggle it to active that will keep it running and should solve the issue.

If you want to log the events in the workflow settings there is an option to save executions this will let you see the runs in the executions log.

Let me know how you get on.

[2022-08-12 09:17] Joffcom commented on #3662
Hey @SimonMayerhofer,

So my thought on this one was that the google cal triggers you have are maybe causing an issue, If you enable the execution logs for the workflow and check the data in there rather than outputting to Telegram does it show anything different?

Looking at your test results if the sample works fine and the issue only appears in your bigger workflow I would say the issue is like

[2022-08-12 09:25] Joffcom commented on #3851
Hey @blew-pdx,

That is interesting, So in that error ActiveCampaign is coming back and saying "no result found for SubscriberTag with id 7" I am not sure what is going on there but it is strange that ActiveCampaign says it doesn't exist.

When you are checking the ID of the tag are you using the tag ID or the associated tag id which is a different value? Looking at the API docs we are making the

[2022-08-14 09:23] melink14 opened #3880 "Are asana trigger's not secured?"
I was trying to add a webhook to Asana which failed due to basic auth set in my reverse proxy.

It felt unsafe to not have auth but I saw that Asana had a custom shared secret method for securing their webhook API and think it should work to create a webhook URL which has basic auth disabled.

That said, I was looking at the code for confirmation and saw this TODO which implies that the secret is

[2022-08-14 10:09] Joffcom commented on #3880
Hey @melink14,

That looks to be the case, and we really should fix that.

For now if you want to verify the data using the webhook node would be the best option and manually building out the logic.

[2022-08-14 11:58] sandoche opened #3881 "Monica "Return All" returns repeated items"
**Describe the bug**
Monica integrations does not handle well the pagination of the API.
The first 15 items are corrected, then from the 16th it starts repeating the same as the previous.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Monica CRM node and configure the token
2. Select Resource Contact
3. Select Get All
4. Toggle "Return all" and run

**Expected behavior**
I expect to see

[2022-08-14 12:51] melink14 opened #3882 "Beeminder requestid field doesn't work"
**Describe the bug**
requestid is used as a arbitrary token to beeminder such that requests can be idempotent.  For example, in my asana integration I use the Asana global identifier for marking task done.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a beeminder Create Datapoint node
2. Add requestid and execute
3. See returned datpoint has no requestid.

**Expected behavior**
requ

[2022-08-14 16:05] janober commented on #3880
As @Joffcom wrote does it currently not happen and is probably also nothing that can be fixed easily as it would need core changes (for that reason the TODO). That said, the webhook URLs use random UUIDs so even though not perfect, will it still be impossible for anybody to "guess" it.

[2022-08-14 22:51] melink14 commented on #3880
Thanks! I wasn't able to quite understand the difficulty from the TODO but agree that there's realistically but much risk.

I'd also encourage worried folk to confirm the asana state before mutating any data either way. Even if the trigger could be spoofed, the real data you can fetch afterwards is definitely valid so in most cases even the small risk can be avoided.

[2022-08-14 23:58] nzidol commented on #1244
Have a quick and dirty working version here that is a direct replacement of pdf-parse with pdf-js https://github.com/nzidol/n8n-nodes-readPDFForm also grabs the form data...

[2022-08-15 08:42] #3540 closed

[2022-08-15 11:25] Joffcom commented on #1244
Hey @nzidol,

That is neat, is it published to the community node repo?

I am also going to mark this one as closed for now as it isn't a bug as such and the PR was closed out with the intention of us rebuilding the node in the future.

[2022-08-15 11:25] #1244 closed

[2022-08-16 03:03] blew-pdx commented on #3851
Hey @Joffcom

The tag I want to remove has an ID of 7, however, the node deletes the association ID.
The only way I can get the association ID is with an HTTP lookup.

So the "Contact Tag" option in the ActiveCampaign node is technically working correctly, however, as you can't get the association ID without a separate HTTP lookup is where I got confused.

I hope that makes sense?

[2022-08-16 09:41] xcoder123 opened #3886 "kafka trigger node between 0.171.1 and 0.190 has stopped working"
**Describe the bug**
We tried upgrading our n8n from 0.171.1 but all kafka trigger nodes have stopped working. Wouldn't connect or trigger at all. Wouldn't even create consumer groups in the kafka.

As our kafka we use confluent image 5.5.1

Eventually it would timeout and give in error logs the following:

[code]

**However** 0.171.1 kafka trigger code works as expected, all we did is to take lat

[2022-08-16 10:52] Joffcom commented on #3881
Hey @sandoche,

I have just given this a quick test and I was able to reproduce the issue on the latest version of n8n, We will let you know when a fix has been put in place.

[2022-08-16 10:56] sandoche commented on #3881
Thanks for now I am using a workaround (using HTTP requests nodes) to manually get the number of pages and paginated manually. Thanks!

[2022-08-16 14:17] ismanapa opened #3888 "Retry workflow tooltip rendering behind workflow executions modal"
**Describe the bug**
When I try to reschedule a failed workflow the tooltip with the options "Retry with currently saved workflow" and "Retry with original workflow" is rendered behind the workflow executions modal so I can't complete the action.

![image](https://user-images.githubusercontent.com/10558907/184901821-0454258a-e6c9-40a7-9ced-3546b949b906.png)

**To Reproduce**
Steps to reproduce the

[2022-08-16 20:47] SimonMayerhofer commented on #3662
No, same data there.

Yes, you're right! They run every 2 minutes. I also tested this by disabling them and this makes the workflow run successfully. To narrow it down a bit more, I also deleted the connection from the GCal trigger nodes to the following nodes and tested it again. The workflow also has the wrong data then. So the GCal trigger nodes just need to be in the workflow for the workflow

[2022-08-17 01:44] chrisgereina commented on #385
Not sure how to make this work in the context of n8n (although I suspect I may have to find out) but Node.js' default memory limit can be increased

https://stackoverflow.com/questions/34356012/how-to-increase-nodejs-default-memory

[2022-08-17 08:58] rafalkrupinski commented on #3855
I was able to reproduce the problem with a simple manually executed workflow.
Postgres is in UTC and n8n is in CEST

https://github.com/oeklo/n8n-tz

[2022-08-17 12:01] Joffcom commented on #3662
I wonder if another trigger starting a workflow impacts global static data 🤔 for now I would say split the workflows up and have your other triggers in a different workflow if possible that should get around the issue while we look into it.

[2022-08-17 12:52] Joffcom commented on #3888
Hey @ismanapa,

I have managed to reproduce this one, In my testing it appears fine for the first item if there are multiple errors and all others have the bad rendering.

[2022-08-17 13:08] rafalkrupinski commented on #3855
Glad we could find the problem. I wouldn't have thought of postgres time zone if you hadn't mentioned the database locale. This compose file is literally the first thing I tried :D

[2022-08-17 13:49] ismanapa commented on #3888
Hi!

I just have seen that the error is fixed in the new version 0.191.0.

Thanks for all!

We really like your product and appreciate the effort. 😄

[2022-08-17 13:49] #3888 closed

[2022-08-18 04:45] tommyvca commented on #3886
Same happen to me.

[2022-08-18 06:54] dream91 commented on #3500
I found a community post showing the same problem.

https://community.n8n.io/t/some-cortex-nodes-are-not-running-jobs/6015/6

[2022-08-18 17:24] cromulus commented on #3514
Bump!

[2022-08-19 02:04] rizalfauzie opened #3900 "Renaming a Node Remove All Previous Node Connections"
**Describe the bug**
Rename a node more than 2 depths, all previous node will disconnected.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade n8n from `0.187.2` to `0.191.0`
2. Start n8n
3. Create New workflow
4. Add 3 connected nodes, any node
5. Rename the last node
6. Node connection between node 1 & 2 disconnected

**Expected behavior**
No node disconnection after renaming a node.

[2022-08-19 07:33] Joffcom commented on #3514
Hey @cromulus,

Thanks for the reminder on this one, Just to double check when you input {{true}} is it showing as an expression in the UI or do you see `{{true}}`?

[2022-08-19 09:15] Joffcom commented on #3900
Hey @rizalfauzie,

This one was reported on our community support forum the other day, The good news is we do have a fix in place here: https://github.com/n8n-io/n8n/pull/3899 which has been merged and will be in the next release.

[2022-08-19 10:48] Joffcom commented on #3900
Hey @rizalfauzie,

This has been fixed in 0.191.1 which should be available now, I will mark this one as closed 👍🏻

[2022-08-19 10:48] #3900 closed

[2022-08-19 13:45] GarryG opened #3904 "Rename of node clears all other flow links"
By renaming a node, all other nodes' flow links are deleted

**To Reproduce**
Have several nodes in your setup, with links between them. Rename any of the nodes. All links - except any that are directly connected to the renamed node - are deleted.

**Expected behavior**
D'uh. Links shouldn't be deleted ;)

**Environment (please complete the following information):**

- OS: Ubuntu 18.04, Docker-bas

[2022-08-19 13:47] Joffcom commented on #3904
Hi @GarryG,

This was fixed in 0.191.1 which was released earlier today, Give it an update and let me know how you get on .

[2022-08-19 19:23] GarryG commented on #3904
Confirmed, sorry for missing the update ....

[2022-08-19 19:23] #3904 closed

[2022-08-20 05:05] bt opened #3909 "HubSpot - Create contact without email results in 404"
**Describe the bug**
When creating a contact via the HubSpot node without specifying the email address (or the email field) is empty, the node will fail and the API will return 404 with an error message of `The resource you are requesting could not be found`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a workflow with the HubSpot node
2. Set up the authentication
3. Pass the foll

[2022-08-22 05:04] JoeyFenny opened #3910 "MongoDB node does not work with serverless instances."
**Describe the bug**
The MongoDB node cannot connect to instances of MongoDB that are serverless.

**To Reproduce**
For MongoDB connection details, enter a string that points to a serverless MongoDB instance. You will get an error if you test the connection or try to perform any operations on it.
See this error message:
<img width="1374" alt="image" src="https://user-images.githubusercontent.com/1

[2022-08-22 05:12] Joffcom commented on #3910
Hey @JoeyFenny,

What error message are you getting and where is your serverless instance of MongoDB set up?

Could you also share what version of n8n you have running and how that is set up (Desktop, Docker, NPM, Cloud, something else)?

[2022-08-22 05:52] JoeyFenny commented on #3910
@Joffcom I have updated the post with the requested details.

[2022-08-22 07:51] Joffcom commented on #3910
@JoeyFenny perfect thanks, Are you also using Atlas or another serverless provider? It looks like it probably wouldn't matter but it would he handy to know just for testing the fix.

[2022-08-22 07:59] JoeyFenny commented on #3910
@Joffcom I am using Atlas.

[2022-08-22 07:59] Joffcom commented on #3910
Quick update for you @JoeyFenny, I was letting the team know about this one and it turns out we do have a fix in place as part of updating the MongoDB node here (https://github.com/n8n-io/n8n/pull/3163) as soon as it has been reviewed it will be good to go.

[2022-08-22 16:15] cromulus commented on #3514
It's showing as an expression in the UI. green little rectangle with the word "true" in it.

[2022-08-22 22:03] JoeyFenny commented on #3910
Amazing. Thanks for the quick answers.

[2022-08-22 22:03] #3910 closed

[2022-08-24 18:21] pemontto commented on #3838
Same core issue as I was having where I can’t complete OAuth flows because it redirects to my webhook domain/URL.

Use instance URL for OAuth callback #3560

[2022-08-25 04:08] vbarrier opened #3937 "upgrade fail: pinDataPerNode.every is not a function"
**Describe the bug**
Upgrade to 0.192 fail

`query is slow: INSERT INTO `xxxx`.`migrations`(`timestamp`, `name`) VALUES (?, ?) -- PARAMETERS: [1658932910559,"AddNodeIds1658932910559"]
execution time: 3737
Migrations in progress, please do NOT stop the process.
Migration "AddJsonKeyPinData1659895550980" failed, error: pinDataPerNode.every is not a function
There was an error initializing DB: "pinDa

[2022-08-25 06:33] csuermann commented on #3937
Thanks for reporting this issue, which we'll internally track under N8N-3937

[2022-08-25 08:18] MichalisDBA commented on #3937
Same thing happened to me. Tried to upgrade from 0.191.1 to 0.192

[code]

[2022-08-25 08:42] dankristensen opened #3940 "Public api definitions"
**Describe the bug**
Using createCredential operation in the public api, the data field is required in #/components/schemas/Credential. That makes sense, but this operation also returns a #/components/schemas/Credential on statusCode 200.

Unfortunately the data being returned from the server does not contain these data.

This gives problems in clients generated based on this openapi.yml specifica

[2022-08-25 08:57] csuermann commented on #3940
Thank you for reporting this issue. We'll track it internally as N8N-4413

[2022-08-25 09:20] #3937 closed

[2022-08-25 13:30] rvalle commented on #3824
I am seeing this problem too... multiple executions for the same message. I have verified that it is actually the same payload triggering multiple times the same workflow.

I connect other software, such as the MQTT explorer, and they see the message only once, yet in n8n, multiple executions are triggered.

[2022-08-25 13:38] rvalle commented on #3824
Actually this is my second MQTT workflow, but I have looked but at executions of the previous one, and I can also see 10s of executions of the workflow within one second.

This may be a regression, because I have had my other workflow running for about a year, and back then, when I set it up, I did not notice any issue like this. I would have noticed this.

[2022-08-25 15:22] rvalle commented on #3824
cc @Joffcom MQTT seems to be complete broken to me, and affects the stability of n8n. Once incoming message triggers 10s of executions.

I am reviewing the implementation of this trigger and looking into MQTT.js for clues of what could be going wrong.

Any idea of what could be happening?

I will check if I can reproduce this behavior from a vanilla node 16 test.

[2022-08-25 15:45] weavr-io commented on #3886
Same here

[2022-08-25 16:14] hckhanh opened #3947 "ERROR: Cannot read properties of undefined (reading '_')"
I get this bug with `S3` node when I try to upgrade to `v0.192.0`

[code]

[2022-08-25 16:18] Joffcom commented on #3947
Hey @hckhanh,

What version were you on before the update?

[2022-08-25 18:01] rvalle commented on #3824
Here is how dramatic the resource leakage by MQTT trigger is:

![n8n MQTT - Grafana](https://user-images.githubusercontent.com/412837/186736318-6975a4cb-44e1-48a0-a3a2-fe2bcfb8497f.png)

you can guess the blue n8n container jumped to 5GB almost and crashed its VM.

[2022-08-25 18:21] raonigabriel commented on #3603
I had exactly the same issue.

@Joffcom , I  I wonder: why is the CPU model required for?
I mean; even if Termux returns null / "empty",a simple elvis operator could replace that to "unknown".

[2022-08-25 19:17] Brulijam opened #3949 "Bug - Merge Node does not wait for both inputs"
The Merge Node in Mode "Wait" does not wait until both inputs are given.
It already executes when previous Nodes were executed. (Even when they don't output anything to the Merge Node).
I am using n8n Version 0.191.1 in a Docker Container.

[2022-08-25 19:51] janober commented on #3949
Thanks a lot for reporting this issue. But I am not sure I understand. Can you please provide an example workflow. Thanks!

[2022-08-25 20:04] g5b63u3n commented on #3949
Sure!
[Merge_not_Working_Example.zip](https://github.com/n8n-io/n8n/files/9427878/Merge_not_Working_Example.zip)

![image](https://user-images.githubusercontent.com/70335380/186757799-2f76c471-2161-4535-8be9-4ebfc86ff15d.png)

[2022-08-26 01:52] hckhanh commented on #3947
Hi @Joffcom, my previous version is '0.191.2'

[2022-08-26 06:26] csuermann commented on #3947
Seems to be related to this [commit](https://github.com/n8n-io/n8n/commit/5285fc1de684748d249e74829f2d6140ed222b51).

[2022-08-26 07:06] rvalle commented on #3824
I did some additional testing with a brand new container, and I got 2 listeners to work normally, and adding a third reproduced the problem. So, @edlundin seems right, the cardinality of listeners seems to play a important role.

[2022-08-26 07:48] rvalle commented on #3824
I think I found the problem.

@edlundin did you fill the client id in your MQTT listener settings?

I did. And that causes the trouble. The issue is that according to the MQTT specifications the broker should not allow more than one connection with the same client ID (not to confuse with username/password).

If you create several listeners with the same client id it will crash, but if you leave it

[2022-08-26 08:12] edlundin commented on #3824
I checked my client ID, and it seems to be the issue's root since they were the same in both listeners. To avoid any confusion in the future, maybe the clientId field should be outside of MQTT credentials.

I am using EMQX as a broker.
I tried using an external MQTT client (MQTTX) with the same client ID as the listener in n8n. It seems that (in the case of EMQX at least), the last client initiati

[2022-08-26 08:17] rvalle commented on #3824
I think multiple connections with same client-id are basically banned by the protocol. Like 2 computers with the same IP on the same network, anything can go wrong from then on.

I think the but is related to UX, client-id should not be asked when setting credentials because it creates the error. I did set n8n as client id.

client id should be generated automatically without asking the user, and

[2022-08-26 08:33] Joffcom commented on #3824
That is some nice work there @rvalle, I am not sure if we had started to look into this one yet but it sounds like a quick win could be to mark it as advanced with a note about it.

[2022-08-26 08:45] edlundin commented on #3824
I agree with not asking for the client ID while setting the credentials since multiple listeners can use them, unlike the client ID.
On the other hand, I would not suggest generating the client ID without the user's say. You might want to pre-fill the client ID field with something (e.g. "n8n_$TIMESTAMP_MS"), but ultimately the user has to be able to change it with ease (so without hiding it in an

[2022-08-26 08:49] Joffcom commented on #3603
Hey @raonigabriel,

The CPU Model, Count and Speed is used as part of the diagnostic information if there are any issues, My main concern with using Termux / a mobile to run n8n is some of the features might not work which is why we don't officially support it.

There are some users who have managed to get it working, One of them posted a guide up on the support forum about it which you can find h

[2022-08-26 08:59] rvalle commented on #3824
@edlundin I mostly agree.
The client ID seems of little value, other than debugging. I have checked other software and all seem to do the same, ask for it and if not autogenerate. n8n is generating mqttjs-ramdomid, so I guess it is the underlying library.

Your proposal of generating for the user to see: n8n-ramdomid is better, because it aids debugging in case you want to actually know which list

[2022-08-26 10:02] raonigabriel commented on #3603
Understood,  thanks for the detailed answer!
I will take a look on that guide and try to get a PR.

[2022-08-26 12:28] eontrix opened #3954 "AWS S3 'upload' error undefined property at n8n 0.192.2"
AWS S3 'upload' error undefined property at n8n 0.192.2
cannot read binary data from previous node, it's working okay in 0.191.1

step to reproduce:
1. Create function node with name: Initiate sample data
- add code in that node:
let data = [
  {
    "json": {
      "name": "john",
      "age": 26
    }
  }
]

data[0].json.prettified = JSON.stringify(data, null, 2)
return data

2. Add 'Move Binary

[2022-08-26 12:34] Joffcom commented on #3954
Hey @eontrix,

I am just looking into this now as part of #3947, It looks like when the credentials were updated recently it broke some of the functionality.

[2022-08-26 12:36] eontrix commented on #3954
Thank @Joffcom thats really fast response, yeap no problem, i downgrade to 0.191.1 and back to normal again, will wait until fixed and will upgrade again 😎🤟

[2022-08-26 19:30] matthijs166 opened #3959 "ClickupTrigger fails after receiving updates"
**Describe the bug**
When I'm listening to click-up events with the ClickupTrigger node noting is coming in.

When I'm fetching the active webhook it has a fail inside the health object:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a workflow
2. Add the ClickupTrigger node
3. Add your auth method (OAuth or access token both don't work)
4. Listen for events and wait... or st

[2022-08-26 19:59] Joffcom commented on #3959
Hey @matthijs166,

Is the url correct that is listed in ClickUp?

I have checked a test workflow I had from before and it appears to be working but the instance is on an older version.

If you use the test webhook does it work? Does ClickUp happen to list the reason for the failure as well?

[2022-08-26 20:15] matthijs166 commented on #3959
@Joffcom yes the url is correct and works when I send a postman request to the endpoint with removed signature check

Clickup doesn't give me more info about the error

[2022-08-27 19:24] despens opened #3961 "Inability to share file on nextcloud"
**Describe the bug**
While other functions of the nextcloud node seem to work fine, sharing files produces an error.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a nextcloud node
2. Pick Operation "Share"
3. Pick a valid file path
4. Pick Share Type "Public Link"
5. Execute the node

**Expected behavior**
The file should be publicly shared

**Environment (please complete the follo

[2022-08-28 11:35] matthijs166 commented on #3959
@Joffcom On what version did you test it? Im going to check if I got the same with that older version

[2022-08-28 12:01] tennox commented on #1492
Is that also why
[code]
doesn't work?

Or shall I create a separate issue?

[2022-08-28 13:07] matthijs166 commented on #3959
Found the issues... It was the bot protection service of cloudflare.
I disabeld this on my domain config in Cloudflare under Security > Bots

[2022-08-28 13:07] #3959 closed

[2022-08-29 00:47] pbixpert opened #3963 "Shopify get all pagination error"
**Describe the bug**
Connected my Shopify store, however I am only pulling 50 (or 250 when specified) records.
Need pagination to pull all 1800 products. When I use the get all operation and use the return all switch I get an error.

ERROR: Bad request - please check your parameters
title cannot be passed when page_info is present. See https://shopify.dev/api/usage/pagination-rest for more informa

[2022-08-29 16:54] #3138 closed

[2022-08-29 21:29] kromonos opened #3971 "Mautic Node fails adding URL to path"
**Describe the bug**
The Mautic fails to add the URL part to the path, what ends up in a 404 error:
[code]
![](https://mws.bka.li/sharex/2022/08/firefox_20220829_232711.png)

**To Reproduce**
Create new credentials for Mautic API

**Environment:**

- OS: Debian 11
- n8n Version: 0.192.2
- Node.js Version v16.17.0
- Database system SQLite
- Operation mode own

[2022-08-29 22:28] kromonos commented on #3971
It has been taken care of. At the end, Mautic and its “interesting” concept of caching was to blame.
If anyone notes a similar problem:

* Clear Mautic's cache with `bin/console cache:clear`.
* First address the API, e.g., with Postman

After that, everything is usable again normally.

[2022-08-29 22:28] #3971 closed

[2022-08-30 07:52] Joffcom commented on #3954
Hey @eontrix,

The fix for this one is in this PR: https://github.com/n8n-io/n8n/pull/3967 it should be part of the next release. For now I will get this one marked as solved.

[2022-08-30 07:52] #3954 closed

[2022-08-30 07:53] Joffcom commented on #3947
Hey @hckhanh,

The fix for this one in this PR: https://github.com/n8n-io/n8n/pull/3967 which will be in the next release. For now I will mark this one as closed, Thanks for letting us know about this one 👍🏻

[2022-08-30 07:53] #3947 closed

[2022-08-31 02:14] prononext opened #3982 "IF Node "Is Not Empty" not the contraty than "Is Empty""
I noticed many times that the IF Node and Switch Node using the "Is Empty" condition is working fine.

Normally I suppose that the "Is Not Empty" condition should be just the opposite, but it is behaving randomly strange and is not reliable giving the opposite results.

To solve this and get reliability I then use the "Is Empty" condition and use the other output, but I guess that is a bug to get

[2022-08-31 04:24] Joffcom commented on #3982
Hey @prononext,

Do you have a workflow that reproduces this issue?

[2022-08-31 15:21] Joffcom commented on #3949
Hey @g5b63u3n,

Thanks for the example, I have just given it a run and managed to reproduce the issue. It looks like if you swap the 2 inputs around it then doesn't trigger the merge node.

![image](https://user-images.githubusercontent.com/4688521/187714870-11c13187-d27b-497b-aefd-fd5320cb36d4.png)

I have created an internal ticket for this issue which we will track as [N8N-4492](https://linear.

[2022-08-31 15:44] g5b63u3n commented on #3949
Jup, that works just fine.
Thank you guys for your help :)

[2022-08-31 21:49] luizeof opened #3989 "Docker Image Bug"
**Describe the bug**

Error after upgrade

/bin/busybox:1
ELF
^

SyntaxError: Invalid or unexpected token
    at Object.compileFunction (node:vm:360:18)
    at wrapSafe (node:internal/modules/cjs/loader:1055:15)
    at Module._compile (node:internal/modules/cjs/loader:1090:27)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1180:10)
    at Module.load (node:internal/modu

[2022-08-31 22:03] luizeof commented on #3989
@janober docker image `n8nio/n8n:latest-debian` works well ... but `n8nio/n8n:latest` was broken

[2022-09-01 06:25] netroy commented on #3989
@luizeof what architecture are you on? amd64 or arm64?

[2022-09-01 06:51] wifiuk commented on #3989
i also have this issue, using docker on synologynas

[2022-09-01 06:52] wifiuk commented on #3989
![image](https://user-images.githubusercontent.com/3785545/187850536-ee5cdb04-bce5-4847-9f08-0deeaf8e0ab7.png)

[2022-09-01 06:59] ovizii commented on #3989
jepp. getting this error after the last upgrade:

`/bin/busybox:1                                                                                                                                  ││   ELF                                                                                                                                             ││   ^

[2022-09-01 07:00] netroy commented on #3989
@wifiuk what model of the synology nas do you have? we need to know if this is an issue on the arm64 builds or armv7 builds.

[2022-09-01 07:02] netroy commented on #3989
@ovizii can you please share more info on
* operating system/device are you running n8n on
* if you are running n8n via docker, docker-compose, portainer, or something else.

[2022-09-01 07:03] ovizii commented on #3989
running image: n8nio/n8n:latest   on a debian 11 host via docker-compose - happy to share the compose file if needed.

[2022-09-01 07:05] wifiuk commented on #3989
ds918+ synology

CPU: INTEL Celeron J3455

[2022-09-01 07:11] wifiuk commented on #3989
ive had to drop back to

`n8nio/n8n:0.192.2`

to get it working again

[2022-09-01 08:20] netroy commented on #3989
@wifiuk @ovizii @luizeof Can you please try again with `n8nio/n8n:0.193.2`?

[2022-09-01 08:32] ovizii commented on #3989
Works. Thanks for looking into it!
I guess some time later we can switch back to the latest tag.

[2022-09-01 08:36] netroy commented on #3989
@ovizii `0.193.2` is `latest` now. you can already switch back to using `latest` :slightly_smiling_face:

[2022-09-01 09:15] luizeof commented on #3989
@netroy thanks for listening. I started my day now.

I use Debian 11, AMD64.

I'm confirming that the latest image is stable again.

[2022-09-01 09:15] #3989 closed

[2022-09-01 10:26] Joffcom commented on #3963
Hey @pbixpert,

I don't think the issue is with the pagination itself as the node does work, It does however appear to be an issue if you add "Title" as a field but don't set any value. I can't see from your screenshot but under Handle there do you happen to have an empty Title value?

[2022-09-01 11:06] Joffcom commented on #3963
Hey @pbixpert,

I have put a fix in place that will remove any empty field from the query, This seems to be the cause of the error you are seeing. It looks like you are on Desktop which takes a bit longer to get new builds so for now I would suggest only adding additional options if you plan to populate the fields this should get you working.

[2022-09-01 11:16] Joffcom commented on #3961
Hey @despens,

Can you try 0.192.0? It looks like we may have already fixed this issue, I have just tested on 0.193.2 and sharing appears to be working.

[2022-09-01 11:39] Joffcom commented on #3909
Hey @bt,

I have just given this a test and have managed to reproduce the issue, I have created an internal ticket for this issue which we will be tracking as [N8N-4506](https://linear.app/n8n/issue/N8N-4506)

[2022-09-01 12:13] despens commented on #3961
Thanks @Joffcom I just deployed the latest version and indeed sharing works!

There is another issue with the sharing functionality, but I'll make a separate issue for that.

Thanks a ton!

[2022-09-01 12:13] #3961 closed

[2022-09-01 12:34] robertrodrigues commented on #2670
@pemontto Is the ID one that is acquired through JIRA's API by querying the user?

[2022-09-01 12:46] despens opened #3998 "Sharing files on nextcloud creates a new share link per n8n run"
**Describe the bug**
When sharing files on nextcloud, each sharing call creates a new share link. This happens even though the sharing parameters are exactly the same each run. These share links pile up in the user interface, too. Currently there is no way in n8n to check if a file is already shared to avoid sharing it again.

![Screenshot-20220901143321-357x263](https://user-images.githubusercont

[2022-09-01 15:51] wifiuk commented on #3989
confirmed working on synologynas using v0.193.2

[2022-09-01 15:55] Joffcom commented on #3998
Hey @despens,

I will need to check the NextCloud API docs but this could be "by design" which may not be ideal, I have set aside a bit of time to take a look in the morning.

[2022-09-01 16:07] zgrummedical opened #4002 "Cannot save flow with pinned data"
**Describe the bug**
Cannot save the flow after pinning data.

**To Reproduce**
Steps to reproduce the behavior:

1. Run http request node
2. Click on pin data
3. Try to save
4. See error
Problem saving workflow

Request failed with status code 403

**Expected behavior**
Ability to save

**Environment (please complete the following information):**

- OS: Ubuntu 22.04 LTS
- n8n Version  0.193.2
- D

[2022-09-01 16:11] Joffcom commented on #4002
Hey @zgrummedical,

I have just given this a go and I am not able to reproduce it, Did you connect to a certain website in the HTTP Request node before hitting pin data or just add the http request node then hit the pin data icon and press save?

Was this working on a previous version of n8n you were running or is this a new install and if using a reverse proxy or something like Cloudflare have yo

[2022-09-01 16:57] zgrummedical commented on #4002
I tried reproduce the issue in a local instance and it runs as expected there.

The problem seems to happen when using the instance that's running with a cloudflare tunnel.

[2022-09-01 17:13] Joffcom commented on #3882
Hey @melink14,

Thanks for reporting this one, I managed to reproduce it and have just put in a PR that will fix it for a future release.

[2022-09-01 17:14] Joffcom commented on #4002
Hey @zgrummedical,

That sounds like it may not be something we have any control over, When it goes through Cloudflare are you using the proxy option or is it set to just DNS?

I am not sure what Cloudflare is doing but it could be that it is caching something which is resulting in the failed request.

[2022-09-01 19:57] despens commented on #3998
Thank you @Joffcom! Perhaps this could be solved on the n8n side if there was an API to get information about a file by id or path includes the possible share links? Then it could be solved via a few n8n nodes.

[2022-09-02 07:57] lublak opened #4007 "n8n tries to access "Anwendungsdaten""
**Describe the bug**

I have had this strange error for a while. It still doesn't make sense to me and I currently use Linux under Windows to test things.
After I completely rebuilt my PC I thought I could try it again.
But as soon as you start n8n it looks for the folder "Anwendungsdaten" (German) which of course does not exist.
Note here "C:\Users" which is not German.

![grafik](https://user-im

[2022-09-02 08:01] Joffcom commented on #4007
Hey @lublak,

Thanks for reporting this one, I remember we had a quick chat about it on Discord and I have also not been able to reproduce it. @ivov do you have any thoughts on this one?

[2022-09-02 09:00] Joffcom commented on #4007
Hey @lublak,

Couple of questions for you that I don't think we covered before...

You said it is only this machine that has an issue, Is there anything different about it and how you use Node processes (sandbox, nvm)? Maybe a different AV or it is part of a domain / device management system? When you installed n8n what npm options did you use as well?

[2022-09-02 09:07] lublak commented on #4007
@Joffcom

Unfortunately not. I have the same installation of nodejs.
https://nodejs.org/dist/v16.17.0/node-v16.17.0-x64.msi
My computer at home is not in the domain (which has these problems), the one at work is in a domain.
`npm install -g n8n`
It is the only command I execute.
So nothing special here.

As long as no one else encounters this problem, we can just leave it as it is. I'm fine with L

[2022-09-02 09:14] robertrodrigues commented on #2670
Out of curiosity, do we know if this has been put into bug fixes yet?

[2022-09-02 09:26] Joffcom commented on #4007
Hey @lublak,

That rules out some of the other options I thought it could be, I am going to get an internal ticket created so we can look into this a bit more as it is very strange.  Any AV running on it or just Defender?

[2022-09-02 09:28] lublak commented on #4007
Just default windows defender

[2022-09-02 11:17] Joffcom commented on #3998
Hey @despens,

So it looks like the API does support getting shares for a file so maybe a solution could be to add a new operation to the file resource like `get shares` or something that can return the URLs if they exist that way you would still be free to create hundreds of different share urls if you wanted to.

I think this does change this one from an issue to a feature request though so I wi

[2022-09-02 11:35] artakpetrosyan opened #4011 "Newly deployed n8n start fails on MySQL when table prefix specified"
When n8n is configured to use MySQL DB, and the table prefix is not empty (for example DB_TABLE_PREFIX=INSTANCE1_) n8n fails to start with SQL error.

I think the problem is in a missed table prefix for the index name in this function: [https://github.com/n8n-io/n8n/blob/aec5c26564a4cb9b9bb8060276c63487ac4edd67/packages/cli/src/databases/migrations/mysqldb/1644424784709-AddExecutionEntityIndexes.t

[2022-09-02 11:40] netroy commented on #4007
I suspect [this](https://github.com/shelljs/shelljs/issues/1095) ShellJS issue is the cause.

[2022-09-02 11:54] Joffcom commented on #4011
Hey @artakpetrosyan,

Thanks for reporting this one, I will take a look this afternoon and see if I can reproduce this one.

[2022-09-02 14:06] Joffcom commented on #4011
Hey @artakpetrosyan,

Took a quick look and managed to reproduce the issue so I have popped in a PR that should fix this in the future. Thanks again for bringing this one to our attention 👍🏻

[2022-09-02 14:26] #3998 closed

[2022-09-02 14:43] #3881 closed

[2022-09-02 14:47] #3963 closed

[2022-09-02 14:51] #3882 closed

[2022-09-02 14:57] Joffcom commented on #3870
Hey @leisefuxX,

How did you get on with this one in the end? Is it working now?

[2022-09-02 15:10] Joffcom commented on #3851
Hey @blew-pdx,

Sorry for the delay on this one, that makes sense. It does also make things more interesting as the API call is correct. What you could do if the ID is outputted in another node earlier in the workflow is reference it with `$node["node_name"].json["item_that_contains_id"]` and that should do the job.

[2022-09-02 15:12] Joffcom commented on #3838
Hey @hckhanh,

In 0.193 you can now use `N8N_EDITOR_BASE_URL` for the oauth address, Can you do an upgrade and give it a bash to see if it works for you?

[2022-09-02 15:14] Joffcom commented on #3837
Hey @hckhanh,

Did you have a chance to check the above yet?

[2022-09-02 15:37] zgrummedical commented on #4002
It is using the proxy option.

[2022-09-02 16:40] Joffcom commented on #4002
That could be it then, sometimes it does some odd caching that can get in the way.

Going through cloudflare for your webhooks will be fine it is just the UI that can sometimes have issues but that is not unique to n8n.

[2022-09-02 18:45] zgrummedical commented on #4002
Found the issue!

Thank you for pointing me in the right direction with cloudflare. There was a security rule blocking the requests. My assumption is that when attempting to save the request with pinned data it saw some code in there and triggered a false positive.

[2022-09-02 18:45] #4002 closed

[2022-09-02 21:12] ed-parsadanyan opened #4015 "Github node Get file content is not saving json to binary data starting from n8n ver 0.193.x"
**Describe the bug**
I was using an example of n8n workflow that pushes all workflows to the Github. It was working up until 0.192.2 version but fails on 0.193.x The Github node that reads the file content fails to save it into binary data.

[code]
When the tickbox "As Binary Property" is switched off then the node works fine.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up Github no

[2022-09-02 21:35] Joffcom commented on #4015
Hey @ed-parsadanyan,

Can you share the workflow you are using?

[2022-09-02 21:52] ed-parsadanyan commented on #4015
@Joffcom
https://gist.github.com/ed-parsadanyan/d9215c7b271117357adb7a0b4e697105

The first Github node was originally set to skip errors, but they are still there.
Usually when the repo file really doesn't exist it throws 404 error, which is expected. But when the file exists, the node cannot save it into binary data for some reason.

[2022-09-02 22:22] Joffcom commented on #4015
Hey @ed-parsadanyan,

Perfect I will give that a go either over the weekend or on Monday morning.

Looking at the workflow json data it looks like it might be the back up workflow I made that uses the command line tool to export the data which is handy as that is the one I use on my own instances.

I will be back once I have checked it out.

[2022-09-03 11:29] Joffcom commented on #4015
Hey @ed-parsadanyan,

Just managed to reproduce the issue, It looks like I didn't pick up the issue sooner as I don't use the binary data option for my backups but I have just popped in a PR which will fix this in an upcoming release. Thanks for letting us know about this one 👍🏻

[2022-09-03 11:35] #4015 closed

[2022-09-03 18:02] #4011 closed

[2022-09-03 18:04] janober commented on #4011
Fix of @Joffcom got merged and will be released with the next version.

[2022-09-04 10:58] ed-parsadanyan opened #4018 "Read-only workflow executions allow code editing in Function node"
**Describe the bug**
n8n allows to review past executions (either failed or successful). During the review process most of the items are locked due to "read only" mode. However, JS code in the Function is editable.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a workflow with a Function Node
2. Modify workflow settings "Save successful executions" = Save
3. Run the workflow, then o

[2022-09-04 11:07] Joffcom commented on #4018
Hey @ed-parsadanyan,

Thanks for reporting this one, does it let you save the edit as well or only edit it while you are looking at it?

[2022-09-04 11:17] ed-parsadanyan commented on #4018
It asks me "Save changes before leaving?", when I press "Yes" and come back again it doesn't seem to save anything.
So I'd say only editing is possible

[2022-09-04 11:23] ed-parsadanyan commented on #4018
It asks me "Save changes before leaving?", when I press "Yes" and come back again it doesn't seem to save anything.

HOWEVER, new workflows with the same name are created:
![image](https://user-images.githubusercontent.com/10472129/188310774-46382d32-1760-4214-8db4-95abfdc35c49.png)

The workflow with a tag is the original one created yesterday. Several new ones from today were created after I pre

[2022-09-05 09:10] krynble commented on #3838
One side note is that the frontend is temporarily displaying a wrong URL, but as per @pemontto 's PR, this has been fixed in the backend. There is a ticket for our FE team to fix this issue already.

[2022-09-05 09:11] theuargb opened #4021 "[HTTP Request Node] The expression in the `URL` does not work"
**Describe the bug**
When you run requests via HTTP Request Node in batches, the expression in the url address stops resolving data and only results in constant parts

**To Reproduce**
Steps to reproduce the behavior:

1. Create HTTP Request Node with multiple input items
2. Configure `URL` as an `expression` with ref to the outer node - in my case =`{{$node["CONFIG"].json["magentoBaseUrl"]}}/rest

[2022-09-05 09:54] theuargb commented on #4021
Researching behavior I found `packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts:812`
```const url = this.getNodeParameter('url', itemIndex) as string;```
wich trying to get the 2nd+ items on the CONFIG node with just one.

I replaced autogenerated expression fragments in the URL with hand-crafted ones as `{{$items("CONFIG", 0)[0].json["magentoBaseUrl"]}}/rest/{{$items("CONFIG", 0)[0].json[

[2022-09-05 14:12] Joffcom commented on #4021
Hey @theuargb,

This is one of those things that we are aware of, So most nodes will loop the input items so in your case it would be 57 loops of the true input items but if you are referencing a node that isn't the if node it will try to use the index from the input. They way you have found to get around it is one method and in the future we will have a paired items feature available that should

[2022-09-05 15:21] barn4k opened #4027 "AWS Lambda messed up in 0.193.3"
**Describe the bug**
Hello! After upgrading n8n from 0.185.0 to 0.193.3 AWS lambda (python) node gets broken. In the 0.185.0 the payload of the node has been treated by Python Lambda as a **dict** class (native object for JSON). In the 0.193.3 it became a **string**, so now to fix the issue, I need to rewrite all lambdas to convert a string to dict class prior getting any information from it.

So

[2022-09-05 17:46] Joffcom commented on #4027
Hey @barn4k,

Thanks for reporting this one, I have just put in a PR that has resolved this issue in testing 👍🏻

[2022-09-06 08:01] #4027 closed

[2022-09-06 10:17] ismanapa opened #4035 "result is not iterable in Postgress node response in 0.193.2"
**Describe the bug**
After updating to version 0.193.2 the Postgress node throws the "result is not iterable" error in insert operations. The error only appears in "insert" operations and not in "raw" queries.

I have made a rollback to version 0.191.0 and the error has disappeared.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a node of Postgress
2. Configure it to make an "insert

[2022-09-06 10:26] krynble commented on #4035
Hey @ismanapa thank you for reporting this!

We have fixed this issue yesterday on this pr https://github.com/n8n-io/n8n/pull/4020

It will be released in a next version (possibly today).

[2022-09-06 10:34] ismanapa commented on #4035
Thanks!

You are awesome! 😁

[2022-09-06 10:34] #4035 closed

[2022-09-06 11:22] geckse opened #4037 "lintfix removes declarative properties during n8n-nodes-base/node-param-options-type-unsorted-items"
**Describe the bug**

When running npm run lintfix and having wrong ordered (not alphabetical) options and the linter tries to fix it be reordering it, it removes the ```routing```  property e.g.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a Node with more than options on operation property. The options need to be wrong ordered.
Like here:
[code]
2. run ```npm run lintfix```

**Exp

[2022-09-06 12:03] Joffcom commented on #4037
Hey @geckse,

Thanks for reporting this one, This is the issue tracker for the n8n application the linter has it's own repo and issues board which can be found here: https://github.com/ivov/eslint-plugin-n8n-nodes-base

Would you be able to create this issue on that project?

[2022-09-06 13:35] janober commented on #4015
Fix got released with `n8n@0.193.4`

[2022-09-06 13:35] janober commented on #4011
Fix got released with `n8n@0.193.4`

[2022-09-06 13:36] geckse commented on #4037
Ok transfered it to https://github.com/ivov/eslint-plugin-n8n-nodes-base

[2022-09-06 13:36] #4037 closed

[2022-09-06 14:27] artakpetrosyan commented on #4011
Thank you!

[2022-09-06 18:46] ansred opened #4042 "Crash - n8n Docker - FATAL ERROR"
**Describe the bug**
Everytime runs a CRON workflow (Not all of them), n8n Docker container crashes

**To Reproduce**
Steps to reproduce the behavior:

Not sure what is causing the issue, after the latest update n8n, issue started

**Expected behavior**
To run the workflow without a crash

**Environment (please complete the following information):**

- OS: Synology DSM - Intel CPU
- n8n Version 0.

[2022-09-06 19:06] Joffcom commented on #4042
Hey @ansred,

That looks like a memory issue, what version of n8n were you on before the update and what is your workflow doing? It could be unrelated to the cron itself and could just be the amount of data being worked with.

How much memory is available to n8n / docker as well?

[2022-09-06 20:07] ansred commented on #4042
@Joffcom Not sure the version exactly, but pretty sure the one before this current one I have (I keep it up to date).

I don't have any limits on the docker container, I am using the standard docker compose template via Portainer

[code]

I agree with you that it is not CRON event related, I just wanted to add that part just in case.

The worklflow does the following:

![Screen Shot 2022-09-06 at

[2022-09-06 20:30] Joffcom commented on #4042
Hey @ansred,

How much data are you dealing with in size and how much memory is available? I suspect what is happening is the NAS is running more than just n8n and might be over committed on the memory available and when trying to access what should be empty it isn't and causing it to crash.

Is it just that one workflow that fails? It could just be that it needs to be reworked to fit in with the

[2022-09-06 21:41] ansred commented on #4042
Hi @Joffcom

So I just did the backup again workflow, n8n docker container didn't crash, so issue happens random.

The file is zipped really small in total 2MB only moving around along other files max size 50MB.

While doing the backup, I captured stats for the container in Portainer to monitor resources consumption.

Here is before and during and then after running the workflow, you can see the s

[2022-09-07 03:35] pinkasey opened #4047 "BigQuery insert does not show error when failing due to bad credentials (Service Account)"
**Describe the bug**
BigQuery node cannot be used with "Service Account" credentials, at least not the "Create" operation.
When I try to use it with "Service Account" credentials, the node succeeds even though the data is not inserted.
The http response from Google in this case is `401`, with an error message in the body, e.g:
[code]
(I tested it [here](https://cloud.google.com/bigquery/docs/refer

[2022-09-07 05:09] Joffcom commented on #4047
Hey @pinkasey,

Thanks for reporting this one, I will take a proper look shortly and get back to you.

[2022-09-07 06:59] Joffcom commented on #4042
Hey @ansred,

It can be it all depends on what is actually happening, If you are running in own mode it would make a new process to run the workflow so if you have not changed that it could be having a slight impact.

n8n also keeps data in memory as it moving between nodes, The overall usage you have doesn't look that bad and I suspect the issue will come when the device is busy. It could be wort

[2022-09-07 07:18] #4018 closed

[2022-09-07 14:38] Joffcom commented on #4047
Hey @pinkasey,

I have just given this one a go and I am not able to reproduce the same thing. Do you happen to have a screenshot of what you are seeing in n8n? I have managed to find another issue where a successful create option doesn't show any output which I am about to put in a fix for.

[2022-09-07 18:06] ansred commented on #4042
@Joffcom makes sense, it crashed today again, the strange part that a very small size file transport worklflow takes that much memory/cpu when it runs.

I think it's a hardware limitation regardless the fact that n8n docker takes so much resources.

Thanks for the help as I don't think there is much we can do about it and we can close this issue.

[2022-09-08 07:48] Joffcom commented on #4042
Hey @ansred,

Sounds good to me, I will get this one closed for now. If it helps I know n8n runs fairly well on a Pi although I have not used it for moving data around too much. Could be an option if you have one sat in a box somewhere.

[2022-09-08 07:48] #4042 closed

[2022-09-09 01:50] mdbetancourt opened #4062 "Kafka trigger poor performance in queue modo"
**Describe the bug**
I'm getting a poor performance on n8n even with queue mode because triggers are only processed by the main proccess

**To Reproduce**
Steps to reproduce the behavior:

1. run `sudo docker run --env-file=.env --rm --name=n8n-main -p 80:5678 registry.gitlab.com/nepuntobiz/nemobile/n8n:develop`
2. run `sudo docker run --env-file=.env -d --rm --name=n8n-webhook -p 5678:5678 regist

[2022-09-09 02:32] pinkasey commented on #4047
I've recreated the issue on my server, this is what I'm seeing:
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/1780369/189259906-0d8b2561-0a23-45ab-b674-fdb74bca63a9.png">

Note that there are 2 mistakes in this pictures that should cause an error:
1. the credentials
2. the "Columns" field, which I intentionally filled with rubbish. The BigQuery table has mandatory co

[2022-09-09 02:56] pinkasey commented on #4047
I've checked the logs too - no errors.
Here's the workflow as json:

<details>
  <summary>here's the workflow I used for testing this:</summary>

[code]
</details>

[2022-09-09 06:42] Joffcom commented on #4047
Hey @pinkasey,

It is hard to see what is wrong with the credentials from the screenshot when I tested with bad credentials I was seeing an error message.

Would you be able to try with the PR above and see if it changes anything for you? In my testing it brought the behaviour back to 0.192.0.

[2022-09-09 10:14] krynble commented on #4062
Hello @mdbetancourt sorry for the performance issues.

There are actually 2 stages for the Kafka trigger. Considering it requires a persistent connection to Kafka, it means that actually all 50k executions would be started from n8n's main process - this is a limitation to "non-HTTP" related triggers in n8n.

The main process is the only one that can spark those executions. Once started, they shoul

[2022-09-09 17:47] mdbetancourt commented on #4062
@krynble yes it is, this issue even make the main process to crash and hang up

[2022-09-10 19:09] draglabs opened #4074 "Merge by key is not working"
**Describe the bug**
Merge by key is not working
**To Reproduce**
Attempt to merge two json bodies by key/

Copy the below json code and paste it into N8N
`
{
  "meta": {
    "instanceId": "f77575586270e9ffb47a9d1567d0363244ad4b86ffa0d36369032fdb3af7fd7d"
  },
  "nodes": [
    {
      "parameters": {
        "mode": "mergeByKey",
        "propertyName1": "email",
        "propertyName2": "email"

[2022-09-10 19:37] Joffcom commented on #4074
Hey @draglabs,

The node appears to be working as expected, It took me a bit longer than expected to find the issue in the flow but in your first function you have an email of `buider_16DigitHex@placeholder.email` and the second one has `buider_16digithex@placeholder.email` it looks like the case of the emails are different and the key check for the merge node is case sensitive.

Can you test agai

[2022-09-10 21:43] draglabs commented on #4074
Awww snaps good catch! Thanks for taking a look!

[2022-09-11 04:59] pinkasey commented on #4047
I can try,
might take me a few days to get to it.

I'm a bit curious to see what do you see in this scenario - can you share a screenshot?
If it's not too much trouble

[2022-09-11 05:29] Joffcom commented on #4074
@draglabs no worries, I will make this one as closed 👍

[2022-09-11 09:53] #4074 closed

[2022-09-12 09:00] rvalle commented on #3824
@Joffcom I have now been following this for some weeks.

Even thou stability of MQTT listeners improves massively, there remain issues.

In my case listeners will start delivering one extra copy of the message per execution week. i.e. After 2 weeks up and running messages are coming  x3 times. Otherwise the system is stable, no  massive resource leak, etc. A restart of n8n container will fix the i

[2022-09-12 09:32] Joffcom commented on #3824
Hey @rvalle,

When you say the listeners are delivering an extra message is that the trigger in n8n receiving an extra message or something else sending a message?

I will have a look later this week to see if I can reproduce the duplicate items being read issue.

[2022-09-12 14:31] #4007 closed

[2022-09-13 06:58] rvalle commented on #3824
@Joffcom I mean that n8n will start duplicating message deliveries.

I connect n8n and mqtt-explorer to mosquito. n8n consistently reports duplicated messages while mqtt explorer reports only 1 copy. Both systems have connected with the same QOS. And as said, restarting n8n will fix the issue.

I believe the extra messages are been generated by the MQTT stack inside n8n. It will be difficult to re

[2022-09-13 07:03] DimDz opened #4086 "n8n with wekan"
**Describe the bug**
Hello, I am a wekan user and login with its API brings the internal-server-error status code 500.

**To Reproduce**
Using latest wekan and latest n8n.

**Environment (please complete the following information):**

- OS: Ubuntu 22.04
- n8n Version latest
- Node.js Version 14.20

[2022-09-13 07:34] Joffcom commented on #4086
Hey @DimDz,

Thanks for reporting this one, I have had a quick look and I also get the same result but when testing with Postman against Wekan version 6.44.0 I am also seeing the same internal server error message.

I will have a look through the issue on the Wekan project to see if anything jumps out.

[2022-09-13 07:55] #4047 closed

[2022-09-13 08:00] Limezy commented on #4086
Same issue for me, @DimDz thanks for reporting

[2022-09-13 08:07] Joffcom commented on #4086
Hey @Limezy,

I have popped a post on the Wekan issue (4595), We are still authenticating using the form data method but it looks like at some point it changed to JSON and the Wekan API docs have not been updated to mention that. Now we know what the issue is we can make the change but I will need to do some testing with older versions to work out if this is going to be a quick change or if it wil

[2022-09-13 08:20] Joffcom commented on #3824
Hey @rvalle,

I did see one person mention duplicate messages on the mqtt.js issue tracker but that was it. In theory if it happens after a week I should be able to set up an MQTT server and fire some messages in and just watch the results to see what happens.

It looks like mqtt.js has a debug env option so I can see if that works as well, When you are running is n8n or mqtt ever restarted?

[2022-09-13 08:43] Limezy commented on #4086
Well noted, thanks !

[2022-09-13 09:42] Joffcom commented on #4086
Hey @Limezy & @DimDz,

If you want to give it a bash this should be fixed in https://github.com/n8n-io/n8n/pull/4088, I have done some testing on v4.52, v6.18 and v6.44 and they appear to be working for me 👍🏻

[2022-09-13 10:12] Limezy commented on #4086
Unfortunately I'm using n8n installed through a Yunohost package, so I don't have any quick way to compile your PR branch to test on my side !

[2022-09-13 11:25] DimDz commented on #4086
Just tested it and it works. Thanks so much @Joffcom

[2022-09-13 23:49] ItsJamesMurray commented on #3295
Any updates here? I'm in the same boat (self hosting on docker) and would love to use n8n for my shopify notifications and and management

[2022-09-14 08:27] krynble commented on #4062
Ah yes, I am sorry to hear that. You can temporarily tune some of the settings as part of the Kafka Trigger node, such as the maximum number of requests as shown below

![image](https://user-images.githubusercontent.com/219272/190102386-eb1b8e2c-3ff0-429e-a4ba-fef06c34e844.png)

This might help improve stability but would also reduce performance a little bit.

[2022-09-15 08:04] Autoradiowecker opened #4104 "Microsoft Sql Node returns Error when update updates something"
**Describe the bug**
When I use the "Microsoft Sql" Node to update a Database we get the following Error:
"TypeError: Cannot read properties of undefined (reading 'json')
    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/src/NodeExecuteFunctions.js:851:18
    at Array.forEach (<anonymous>)
    at Object.returnJsonArray (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/src

[2022-09-15 08:08] Joffcom commented on #4104
Hey @Autoradiowecker,

Thanks for reporting his one, It should be fixed in the next release the PR if you are interested can be found here: https://github.com/n8n-io/n8n/pull/4067

[2022-09-15 08:09] Joffcom commented on #3824
Hey @rvalle,

What do you have the QOS option set to? When you say you have 3 listeners is that 3 trigger nodes looking at different topics or the same topic?

[2022-09-15 08:16] rvalle commented on #3824
@Joffcom  they look at different topics. No special options setup (JSON Parsing only), no QOS setup (defaults to 0).

[2022-09-15 08:17] Joffcom commented on #3824
@rvalle perfect and how many messages is it roughly a day?

[2022-09-15 08:23] #4086 closed

[2022-09-15 08:30] rvalle commented on #3824
@Joffcom I think roughly around 100 per minute, that would be around 150K per day, and that means that the issue is popping after 1M message approx.

Of course this is for all 40 devices in the MQTT network, perhaps it is only the target messages that matter. Then it may be much less, as only 3 of the 40 devices are involved.

[2022-09-15 09:21] Joffcom commented on #3824
@rvalle cheers, I realised my testing was a bit too simple so just have the bombing script a go and killed my n8n instance so I will need to bump up the memory a bit on that but I suspect this may come down to resources and something odd in the package we are using.

I don't think this is going to be a quick fix at the moment but I have created N8N-4647 which is our internal reference for tracking

[2022-09-15 15:09] janober commented on #4104
Fix got released with `n8n@0.194.0`

[2022-09-15 15:32] #4104 closed

[2022-09-16 08:09] bestlong opened #4117 "MSSQL node can`t connect MSSQL 2000"
**Describe the bug**

connect to SQL 2000 get below error info:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. set Credential for Microsoft SQL
2. Click on 'Execute node'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**

- OS: [docker image id 76b5526963c6]
- n8n Version

[2022-09-16 21:23] nmf2 opened #4131 "Firestore node ignores document id when creating or updating documents"
**Describe the bug**
The "Create or Update" operation node always creates a new document with id `undefined` in firestore even with a valid document id set in the "Update Key" field.

**To Reproduce**
Steps to reproduce the behavior:

<details>
<summary>1. Copy the following workflow to n8n: </summary>
<code>
<pre>
{
  "nodes": [
    {
      "parameters": {},
      "id": "160f46ff-6f83-443c-aebf-d

[2022-09-16 21:24] nmf2 commented on #4131
Read the documentation, nevermind.

[2022-09-16 21:24] #4131 closed

[2022-09-17 01:03] tiptoptailor commented on #3870
So, I stumbled upon this, and I found the solution for me that worked and might be relevant.

When setting the domain name in n8n don't use the domain set in source but instead destination since they are in the same docker environment.

for me it was
http://baserow:80

[2022-09-17 13:46] Joffcom commented on #3870
Hey @tiptoptailor,

That is unusual the full domain should technically work as well 🤔

[2022-09-17 14:06] tiptoptailor commented on #3870
Well, I'm entirely new to all of this (networking docker etc..), so I'm not certain why this was the case. If there is anything I can offer that can help find out why, I'm happy to look into it.

If it makes a difference, I'm also running seatable to see what option works best for me, and I had the same issue.

Keep in mind, there are no issues when using other tools like make or Zapier externally

[2022-09-17 15:53] Joffcom commented on #3870
If it works it works 🙂 with one of my setups I have everything on a VPS using nginx proxy manager and I use the full domain for baserow on that one.

[2022-09-18 04:49] pinkasey commented on #4047
Just dropping in to say that I've just upgraded to the latest n8n (`0.194.0`),
and it's a great improvement for this issue!

Now there's a response when something goes wrong.

There's still a problem though, although much smaller -
When BigQuery returns an error, n8n treats it as success:
<img width="628" alt="image" src="https://user-images.githubusercontent.com/1780369/190886274-910df004-0358-4f

[2022-09-18 05:02] pinkasey commented on #4047
here's an example error output:
(caused by not passing mandatory columns, and instead passing just one invalid column - `asdf` - as shown in above screenshot)
[code]

[2022-09-18 07:51] Joffcom commented on #4047
That looks somewhat better, I will check to see if that is how we have we always handled the response before the 193 change that didn't product any output.

[2022-09-18 12:31] tomaszkiewicz opened #4132 "OAuth2 Not implemented error"
**Describe the bug**

While trying to establish OAuth2 credentials for Withings (a producer of smart watches, scales and other devices) I get:

[code]

On callback request.

https://n8n.xxxxx/rest/oauth2-credential/callback?code=XXXXXX&state=XXXXXXXXXXXXXXXXX0lKOCIsImNpZCI6IjQifQ%3D%3D

Where state parameter resolves to base64 encoded:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1.

[2022-09-18 19:58] DmitryZakharov opened #4133 "Unable to build custom node with n8n-node-dev"
**Describe the bug**
Following instructions to create a custom node and include it into the ~/.n8n/custom from [https://github.com/n8n-io/n8n/blob/b22ff1f5c17ecfcafd7bb8739b311fd0b88d37e8/packages/node-dev/README.md](readme.md)

I get the following:

[code]
**To Reproduce**
In an empty folder run :

` n8n-node-dev new`
` n8n-node-dev build`

**Expected behavior**
Build is successful

**Environment

[2022-09-19 09:22] Phu96 commented on #4133
I have got the same problem, does anyone know how to fix this?

[2022-09-19 14:29] rottmann commented on #3794
Till now since 0.189.1 the problem did not occur again.

[2022-09-19 14:29] #3794 closed

[2022-09-19 17:27] jjboardman opened #4140 "Error in file packages/nodes-base/nodes/Box/Box.node.ts causing Box node to fail with error "responseData.push is not a function""
**Describe the bug**
Believe there is an error in [packages/nodes-base/nodes/Box/Box.node.ts] file line: 535 causing Box node to fail on folder creation (and possibly others?) on v0.193.0+.
The error n8n outputs is responseData.push is not a function. I believe responseData.push(...executionData); should be returnData.push(...executionData); if it is supposed to be there at all.

**To Reproduce**

[2022-09-20 00:10] dylan-bartos-tanium opened #4142 "Unable to build custom nodes from n8n-nodes-starter due to eslint 404"
**Describe the bug**
When using npm link to connect the n8n global install and the n8n-nodes-start project, you receive a 404. The workflow is described in this stream from n8n: https://www.youtube.com/watch?v=OI6zHJ56eW0 from roughly 4-9 minutes. It looks like this was brought about in PR 4050 (https://github.com/n8n-io/n8n/pull/4050)

npm ERR! code E404
npm ERR! 404 Not Found - GET https://regis

[2022-09-20 00:30] dylan-bartos-tanium commented on #4142
Workaround: If you modify the package.json of your globally installed n8n instance to remove the @n8n_io reference on eslint, you can start linking again.

"@n8n_io/eslint-config": "",

"eslint-config":"",

[2022-09-20 06:57] ivov commented on #4133
@DmitryZakharov @Phu96 Thank you for your report. Please roll back to the previous version `npm i -g n8n-node-dev@0.72.1` or preferably use the starter: https://github.com/n8n-io/n8n-nodes-starter/

@netroy This very likely comes from [here](https://github.com/n8n-io/n8n/pull/4049/files#diff-0ebca073d2579480233b133b27b02248d6c36b1e79551f5d826f879e30b296bd ). A global install of this package needs

[2022-09-20 08:04] netroy commented on #4133
The `Unexpected token }` is coming from the trailing comma in the `tsconfig-build.json`, that's allowed by `tsc` but not by `JSON.parse`.
I'm investigating we can use the `tsconfig` package instead for parsing the config.

[2022-09-20 10:17] Joffcom commented on #4140
Hey @jjboardman,

Thanks for reporting this one, I will take a look shortly 👍🏻

[2022-09-20 10:33] pemontto commented on #4142
I build my own docker images to use queue mode. This just started occurring when I updated the tag from `0.193.5` to `0.194.0`.

Weirdly the build fails with this Dockerfile
[code]

But succeeds with this:
[code]

[2022-09-20 10:54] Joffcom commented on #4140
Hey @jjboardman,

I managed to reproduce the issue and have fixed it in #4147, It looks like while the node is throwing an error it is still working in the background. As a temporary solution until the fix is released you could use the continue on error option or ideally downgrade to 0.192.x.

Thanks again for reporting this one.

[2022-09-20 11:06] pemontto commented on #4142
Just did a fresh local install and I can't install modules from the cli

[code]

[2022-09-20 11:19] netroy commented on #4133
Fixed in https://github.com/n8n-io/n8n/pull/4148

[2022-09-20 13:14] netroy commented on #4142
I'm not sure how I feel about installing package inside another installed package (which most definitely will mess with how npm resolutions work); but if it's necessary, please always use `--omit-dev`.
If you find this as a recommended way of loading custom nodes in n8n in some docs, please send me the links, so that we can update them accordingly.

To address the main issue here: [we have publish

[2022-09-20 13:34] #4140 closed

[2022-09-20 14:27] pemontto commented on #4142
@netroy is there a better way we can build our docker images (or not build them at all), e.g. by mounting our own `~/.n8n/custom/` where we npm install community packages?

[2022-09-20 14:37] netroy commented on #4142
@pemontto if you are self-hosting n8n, you can go to `/settings/community-nodes` and install the packages directly from there.
The issue with mounting packages from your local filesystem is that if you are running a docker container inside a VM (like in docker for osx and windows), packages built on the host might not work inside the container.
If your packages aren't published on npm, then you ca

[2022-09-20 14:43] pemontto commented on #4142
@netroy would love to do that, but the feature is unavailable if `EXECUTIONS_MODE=queue`:

![SCR-20220920-ltx](https://user-images.githubusercontent.com/939704/191288882-46b58e01-f4ef-4b75-a193-2f446530e9fe.png)

[2022-09-20 17:40] Joffcom commented on #4132
Hey @tomaszkiewicz,

I have had a quick look and I also have the same problem but looking on the community forum it looks like someone was able to get this working earlier this year so this could be a configuration issue somewhere or there is an odd bug.

I will look into this more tomorrow.

[2022-09-20 18:29] dylan-bartos-tanium commented on #4142
@netroy I installed n8n onto my system again to get a fresh copy of the modified package.json file. Then I tried to link the starter repo to the n8n install and it worked without a problem. Sounds like your publish to the registry fixed the 404.

I presume that you'd recommend creating a symlink from the ~/.n8n/custom directory to the n8n-nodes-starter/nodes directory. Then, run npm build on every

[2022-09-20 18:32] netroy commented on #4142
@dylan-bartos-tanium phew. that's a relief. thanks for letting us know.

Also, thanks for the links, I'll create a ticket to get these docs updated.

[2022-09-20 18:38] #4142 closed

[2022-09-20 19:48] kaarelen commented on #3358
If you wont to collaborate\vote here is forum [link](https://community.n8n.io/t/google-drive-trigger-and-shared-drive/11673)

[2022-09-21 07:36] #4133 closed

[2022-09-21 09:08] ampxtreme opened #4155 "Seatable Node: Convert Link ID not working"
**Describe the bug**
Seatable Node: Convert Link ID not working, so I get no results in linked columns.

**To Reproduce**
Steps to reproduce the behavior:

0. Having a Seatable with Links to other Tables (Like [here](https://cloud.seatable.io/dtable/external-links/f8cbffefa532432e9ca8/?tid=35oe&vid=0000) in column "Goals")
1. Add a "Seatable" Node. (Credentials to be set).
2. In the Node Options,

[2022-09-21 16:11] matthijs166 opened #4162 "N8N interface keeps staying on Executing node... and loosing connection sometimes on Digital Ocean's app platform"
**Describe the bug**
I can't execute the workflow to test in the frontend interface.
It keeps loading.
Every workflow I create has this problem, no matter the configuration.

![2022-09-21 18_13_47-n8n - 🔄 My workflow 2](https://user-images.githubusercontent.com/31346561/191556677-f46b26c3-d693-4509-8803-0c8525ace51b.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Create an app in Digit

[2022-09-21 16:27] Joffcom commented on #4162
Hi @matthijs166,

Thanks for reporting this one, I suspect this is not a bug as such and is more than likely going to be a configuration issue. Are you just using the  docker image or are you also using a reverse proxy and something like Cloudflare?

[2022-09-21 16:31] OlivierMary opened #4163 "Latest version error on migration with postgres"
**Describe the bug**
Error at startup:
Migration "CreateCredentialsUserRole1660062385367" failed, error: relation "role" does not exist
2022-09-21T16:21:15.099Z | error    | There was an error initializing DB: "relation "role" does not exist" "{ file: 'start.js' }"

and this relation exist. but the schema missing I the request.

**To Reproduce**
Steps to reproduce the behavior:

1. Just start to t

[2022-09-21 16:38] matthijs166 commented on #4162
Hi @Joffcom,

It's indeed just the docker container. And I also suspect it to be a configuration issue.
Have used it with and without Cloudflare and it works on a VPS with Cloudflare.

I also find this issue #959

Think it has something to do with EventSource...
But if it does there should be a clear error.

Also, the future is cloud and it is annoying that n8n cant is deployed on Digital Oceans a

[2022-09-21 16:42] Joffcom commented on #4162
Hey @matthijs166,

It should work fine on Digital Ocean I have an instance there myself and have used it previously with nginx, Caddy and Traefik with no issues, Are you using a reverse proxy and what environment options do you have set (and what are the values)?

If you check the browser console do you see any error messages?

[2022-09-21 16:45] Joffcom commented on #4163
Hi @OlivierMary,

Thanks for reporting this one, I have just popped a message internally about it and we should have it fixed shortly.

[2022-09-21 16:47] matthijs166 commented on #4162
Hey @Joffcom,

I also have it running on a droplet with an NGINX proxy in front.
And got it working locally without proxy.
But I need to run it on the app platform. (it's going to be part of a serverless infrastructure)

![2022-09-21 18_44_19-king-prawn-app - DigitalOcean App Platform](https://user-images.githubusercontent.com/31346561/191563568-626fb9db-700a-414c-8c1c-d6ee1ec37e9a.png)

[2022-09-21 17:06] #4163 closed

[2022-09-21 17:32] Joffcom commented on #4162
Hey @matthijs166,

Perfect, the last few of these it was down to the nginx config. Can you share the config block for the proxy section.

[2022-09-21 17:51] luizeof opened #4165 "Error After Upgrade using MySQL"
**Describe the bug**

Migration Error after upgrade N8N.

Running [postgres](https://github.com/n8n-io/n8n/blob/master/packages/cli/src/databases/migrations/postgresdb/1660062385367-CreateCredentialsUserRole.ts#L17) `ON CONFLICT DO NOTHING` [on a mysql migration](https://github.com/n8n-io/n8n/blob/master/packages/cli/src/databases/migrations/mysqldb/1660062385367-CreateCredentialsUserRole.ts#L13).

[2022-09-21 18:00] luizeof commented on #4165
ping @Joffcom @janober

[2022-09-21 18:22] Joffcom commented on #4165
Hey @luizeof,

Created PR here: https://github.com/n8n-io/n8n/pull/4166

[2022-09-21 19:58] #4165 closed

[2022-09-22 00:41] #4117 closed

[2022-09-22 02:03] melakhvision opened #4167 "Wehbook URL switch to localhost when using PM2"
**Describe the bug**
When I run n8n with n8n the webhooks URL is set to the subdomain
But when I start n8n with PM2 it switched back the webhooks URL to local.

**To Reproduce**
[code]

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following informati

[2022-09-22 08:13] Joffcom commented on #4155
Hey @ampxtreme,

Thanks for the report, I have taken a quick look and I can see the issue and have fixed it locally. I will get a PR created shortly for internal review so we can get this one closed.

It looks like we were not checking the object types and were just ignoring them in the output.

[2022-09-22 10:24] Joffcom commented on #4167
Hey @melakhvision,

I have ran into a few issues in the past when using env variables with PM2, but on a clean install I am not able to reproduce this one. Did you run the pm2 command before maybe? It could be that it needs the `--update-env` option added as well.

It could be worth trying a pm2 config file.

[2022-09-24 09:11] Autoradiowecker commented on #4104
Thanks for the quick reply

[2022-09-26 09:01] christiaanwesterbeek opened #4188 "Retry execution menu appears in background behind modal window"
**Describe the bug**
When clicking on the execution retry button the menu appears in the background (most of the time).
![image](https://user-images.githubusercontent.com/465989/192236205-599d34e1-e9d8-4d8b-b38f-966147a75044.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Executions
2. Filter on some workflow with status=Error
3. Click on red retry button
4. The menu button now

[2022-09-26 10:35] Joffcom commented on #4188
Hey @christiaanwesterbeek,

Can you try upgrading to 0.191.0 (or later) this should fix the issue.

[2022-09-26 19:41] albertopasqualetto opened #4203 "Microsoft To Do Get Many Tasks, return all error"
**Describe the bug**
Microsoft To Do node with Task - Get Many - Return All gives back "ERROR: Bad request - please check your parameters"

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new MS To Do node
2. Select Task, Get Many and activate Return All

**Expected behavior**
No errors

**Environment (please complete the following information):**

- OS: 22.04.1 LTS
- n8n Version: 0

[2022-09-26 20:49] thisisthedave opened #4205 "JIRA cloud authentication fails with error "Basic authentication with passwords is deprecated.""
**Describe the bug**
Authenticating with JIRA cloud fails because Atlassian has removed support for username/password header authentication and wants a base64 encoded basic authorization header instead. Jira cloud requests always fail with a 401 HTTP code and error message "Basic authentication ... is deprecated"

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a workflow
2. A

[2022-09-26 21:13] Joffcom commented on #4205
Hey @thisisthedave,

That is interesting, from what I can see from a quick look is we are using the updated endpoint so as long as an API token is being used it should work.

When you generated the token did you follow the steps on this page?  Hopefully it is just our doc that needs to be updated.

https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/

[2022-09-26 21:47] thomazmachado opened #4206 "feat: WhatsApp Business node #3659"

[2022-09-26 22:37] thisisthedave commented on #4205
Huh. I could swear I followed those exact instructions. But I just made a new API token, and it's working without problems. Thank you for pushing me in the right direction!

[2022-09-26 22:37] #4205 closed

[2022-09-27 04:45] fandujar commented on #4167
@melakhvision Did you try WEBHOOK_URL env var? It's working for me along with PM2

[2022-09-27 06:43] kalwinskidawid commented on #2907
Hey, any progress on resolving the problem?

[2022-09-27 10:02] #4206 closed

[2022-09-27 11:20] matthijs166 commented on #4162
Hey @Joffcom

Sorry for the wait but here is my digital ocean spec file.
All the settings of the app. You can also use this for reproducing the issue.

[code]

[2022-09-27 12:38] Joffcom commented on #4162
Hey @matthijs166,

Ah I see the problem now, So this looks like the issue we see when n8n is used behind Cloudflare in proxy mode. Annoyingly Cloudflare attempts to cache everything so the response never fully makes it back to the browser. One way around this is to disable the cloudflare proxy option but in this case I can't see that as an option with a DO app.

I did find that when running the wo

[2022-09-27 13:30] moon86 opened #4213 "Pipedrive Resolve Properties not working anymore"
**Describe the bug**
I'm doing a "Get Many" research in the "Deals" with the "Resolve Properties" activated and the answer I received do not have the fields resolved, I have them with their IDs.
I just upgraded from 12 versions earlier, so the bug might be "old"

**To Reproduce**
Send a request to Pipedrive with Resolve Properties activated.

**Expected behavior**
We should get the list of fields

[2022-09-27 15:12] Joffcom commented on #4213
Have created N8N-4782 as our internal reference for this one.

[2022-09-27 15:16] matthijs166 commented on #4162
Hey @Joffcom,

There is no Cloudflare in this setup and in an other project where I have n8n on a VPS server it works fine with Cloudflare proxy mode.

Also if cache is the issue than this can be fixed by a simple Cache-Control header.

I have a more complex setup with persisted storage and a database so thats going to work fine in the final setup.

[2022-09-27 15:46] moon86 commented on #4213
Hello @Joffcom ,

Thank your for your help.
Yes the issue seems to be on IDs only.
If this can help, I had to revert back to version 0.193.0 where the bug is still present but in the version 0.192.0 this is working correctly.

[2022-09-27 15:52] Joffcom commented on #4162
Hey @matthijs166,

When I set up a test using the Digital Ocean App and I viewed the headers there was one called "server" with a value of "cloudflare", I suspect Digital Ocean run their app service through Cloudflare. It could be that it isn't just a cache thing and maybe something else that Digital Ocean have set up is getting in the way of the browsers response but without knowing more about wh

[2022-09-27 16:58] mark-monteiro opened #4217 "GitLab Trigger 404 Error"
**Describe the bug**
A previous workflow I had working using the GitLab trigger can no longer be activated due to a 404 error returned from the GitLab API when starting the workflow. The following error information is returned in the console output with the label `Request proxied to Axios failed` (I have formatted the error details to be more readable):

[code]

**To Reproduce**

1. Create a workf

[2022-09-27 17:10] Joffcom commented on #4217
Hey @mark-monteiro,

Just to check does the repo exist and the credential being used have access to it?

It could be worth trying an earlier version like 193 or 192 to see if the issue is there as well.

[2022-09-27 17:42] cromulus opened #4218 "Airtable Read fails with NOT FOUND"
**Describe the bug**
Version:
Using the Airtable node, a read request to a known records fails with  404 "not found".
Using the http node, with the airtable credentials, accessing the same record returns the record.

**To Reproduce**
Steps to reproduce the behavior:

1. create an Airtable node, that reads a specific record.
2. click on "execute node"
3. See error

**Expected behavior**
Expected th

[2022-09-27 17:51] Joffcom commented on #4218
Hey @cromulus,

I just tried to reproduce this on 195.5 and it was working as expected, I can't see anything in the .5 release that would fix this but it could be worth updating anyway. The 404 tends to mean something isn't found so it is a bit odd that the HTTP Request node can find the value using the same options. Could it be the Base and Table options in the node causing the issue? Are you usi

[2022-09-27 19:06] mark-monteiro commented on #4217
The repo does exist and I have access to it.

I may have also found a workaround for the issue. I took the broken trigger node and duplicated it. The copy of the node appears to work correctly. A new webhook id was generated for the copied node and I deleted the old webhook manually on GitLab's side. Testing the copied webhook works as expected and I am able to activate the workflow without errors

[2022-09-27 20:07] ampxtreme commented on #4155
Thank you very much! 😃

[2022-09-28 07:39] n1xx1 commented on #2907
Hi @kalwinskidawid, the thing I've done in my specific workflow is that I run this javascript function in the first step.

[code]

Note that it requires these quite unsafe env variables to be set:
`NODE_FUNCTION_ALLOW_BUILTIN=*` and `NODE_FUNCTION_ALLOW_EXTERNAL=*`. And it will only work if you are running in `EXECUTIONS_PROCESS=own` mode (default).

[2022-09-28 08:24] RCheesley opened #4221 "Typo in GitHub node options"
**Describe the bug**
There is a typo in the GitHub node option for Pull Request - it says Pull Pequest. Happy to contribute a fix but not sure where to do so.

![screenshot-mautic app n8n cloud-2022 09 27-18_50_19 (1)](https://user-images.githubusercontent.com/2930593/192728079-3a2e3474-86e7-47ec-9fb9-9ef5f80a433b.png)

**To Reproduce**
Select GitHub and choose the relevant option - notice the typ

[2022-09-28 08:41] Joffcom commented on #4221
Hey @RCheesley,

Thanks for reporting this one, I have just taken a quick look at the node and it looks like this has been fixed. On Cloud it looks like 0.195.5 has the correct spelling.

For now I am going to mark this one as closed.

[2022-09-28 08:41] #4221 closed

[2022-09-28 11:09] Harikarthyk commented on #1315
I am getting the same issue again. The n8n version used is 0.195.5.

I am using HubSpot OAuth for some HTTP requests. When I execute the workflow, everything is good. But when I make it active for 30 minutes, it is fine, but after the OAuth expires, the HubSpot node gets executed, but the HTTP request, which uses the same authentication, is not working.

[2022-09-28 11:29] Joffcom commented on #4203
Hey @albertopasqualetto,

I have just opened a PR that will fix this one, Thanks again for letting us know about this one.

[2022-09-28 11:56] Harikarthyk commented on #1695
I am getting the same issue again. The n8n version used is 0.195.5.

I am using HubSpot Outh for some HTTP requests. When I execute the workflow, everything is cool. But when I make it active for 30 minutes, it is fine, but after the aouth expires, the HubSpot node gets executed, but the HTTP request, which uses the same authentication, is not working.

[2022-09-28 12:18] #4203 closed

[2022-09-28 14:20] Joffcom commented on #4162
Hey @matthijs166,

That is a nice find, I have often wondered about the why but never found enough time to dig into it properly. In theory once this part is sorted we would be able to have a nice simple one click button to deploy as well.

What I will have to do from here is open a feature request internally to have this looked into and prioritised so we can schedule something for a future release

[2022-09-28 16:19] Vultik commented on #3295
Yeah it's still not fixed, i'm very disapointed of n8n about that ...

[2022-09-28 19:23] Joffcom commented on #2907
The good news here is I have been looking into this a bit more recently and I have some ideas I want to implement to see if they help.

[2022-09-28 19:31] Joffcom commented on #3295
I will have a check in the morning and see if I can find anything.

[2022-09-28 19:41] Joffcom commented on #3295
Looking at the release notes we added oauth support to 187 which can be used by the trigger node, does this not solve the issue?

[2022-09-29 07:31] Joffcom commented on #4217
Hey @mark-monteiro,

That is a nice bit of detective work there, I will get an internal ticket created so we can work on fixing that.

[2022-09-29 09:30] rvalle commented on #3824
@Joffcom I can surely try, it but I doubt it will work, because when I connect, in parallel MQTT Explorer with a similar QOS it gets only one copy.

But you never know, does not cost anything to try. Will setup one of the listeners with QOS 2 and see the impact.

On another note, I can confirm that it keeps happening after restarts, I was also thinking that I could try to enable remote debugging o

[2022-09-29 09:55] janober commented on #1988
Got fixed and will be released with the next version.

[2022-09-29 09:55] #1988 closed

[2022-09-29 09:58] jspizziri commented on #1988
@Ken-Michalak please review the referenced PR to verify it was properly fixed.

[2022-09-29 13:11] mark-monteiro commented on #4217
Great, thanks for looking into it! It might be worthwhile also keeping #2042 in mind while looking at this, it's possible they are closely related. The issue with #2042 is that the webhook on GitLab is duplicated every time the workflow is saved.

[2022-09-29 13:40] ulich opened #4235 "Not all SNS topics are listed"
**Describe the bug**
When trying to configure a SNS trigger node and when having hundrets of SNS topics in an AWS account, not every topic is displayed and therefore cannot be selected. This is because pagination of the list response is not implemented i assume.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an AWS SNS trigger node
2. Select or create AWS credentials to an AWS accou

[2022-09-29 14:53] Joffcom commented on #4235
Hey @ulich,

Thanks for reporting this one, I have created an internal dev ticket that will we be tracking as N8N-4828. I will let you know when we have pushed a fix.

[2022-09-29 14:54] Joffcom commented on #4217
Hey @mark-monteiro,

That is interesting I must have missed that one coming in, I will add a note to the dev ticket so we can go for both at the same time.

[2022-09-29 15:00] Joffcom commented on #2042
Hey There,

Looks like I missed this one, Thanks for bringing it up in the other issue @mark-monteiro 👍🏻

I have created an internal dev ticket to look into this issue and another issue that results in 404 errors when activating Gitlab triggers, We will be tracking this one as N8N-4829. I will be back as soon as we have pushed a fix.

[2022-09-29 21:28] matndev opened #4240 "HTTP Request rejected"
**Describe the bug**

The HTTP Request node failed with the url : [https://www.java.com/releases/](url)
I get an error :

ERROR: UNKNOWN ERROR - check the detailed error for more information
getaddrinfo ENOTFOUND www.java.com

Code  :
`
{
"status": "rejected",
"reason": {
"message": "getaddrinfo ENOTFOUND www.java.com",
"name": "Error",
"stack": "Error: getaddrinfo ENOTFOUND www.java.com at GetAdd

[2022-09-29 23:49] Joffcom commented on #4240
Hey @matndev,

Thanks for reporting this one, is it failing for other sites as well?

My initial thought on this one is this is not a bug with n8n and is likely to be a dns or configuration issue so may be better suited to our community support forum.

[2022-09-30 00:37] dwinurhadia opened #4241 "Webhook Mode not working"
**Bug**
I've running n8n with mode webhook, but when i try to access path `/webhook` it nothing happend

**Expected behavior**
The idea is make separate process webhook like this tutorial [Tutorial](https://www.youtube.com/watch?v=PnoE0xV8BX8)

**Environment**

- OS: Ubuntu Linux 20.04
- n8n Version 0.195.5
- Database system Postgres
- Operation mode Running docker with Webhook mode and command `n

[2022-09-30 05:04] Joffcom commented on #4241
Hey @dwinurhadia,

Thanks for the report this doesn't sound like a bug and is likely to be more of a configuration issue.

Can you open a thread on our community support forum (community.n8n.io) and include your setup configuration with anything sensitive removed and your load balancer configuration.

For now I am going to mark this one as closed and if it does turn out to be a bug we can open it

[2022-09-30 05:04] #4241 closed

[2022-09-30 07:46] matndev commented on #4240
Hello thanks @Joffcom , no I can scrap from another site but I think this one fails maybe because of javascript.
I would have advices about that so I posted and if you say it can be dns or configuration I will look into that.

[2022-09-30 08:14] Joffcom commented on #4240
Hey @matndev,

Javascript seems a bit unlikely with that message as it is saying it can't find the address. My thought very early this morning was maybe DNS or some kind of redirect issue.

I have just given it a test on my instance now and it is working as expected.

![image](https://user-images.githubusercontent.com/4688521/193224132-89cb6633-a9f8-4c64-89b1-79699e084dbc.png)

The downside here t

[2022-09-30 08:39] matndev commented on #4240
Ok so it's a connection problem I'll check that. For the next issue how could I enable javascript to get the real content with n8n ?

[2022-09-30 09:33] Joffcom commented on #4240
Hey @matndev,

Enabling javascript isn't an option we have with our http request node, It is a bit like using CURL so anything that is "interactive" won't really work.

There are some nodes made by the community to use things like Puppeteer to scrape pages which uses a chrome browser to get the content.

[2022-09-30 11:02] matndev commented on #4240
Ok thank you I will use community nodes for that then

[2022-09-30 11:02] #4240 closed

[2022-09-30 13:46] zblesk commented on #3170
The behavior I see is: I can get or list data, but updates fail _silently._  Even if I just make the simplest node and hard-code an ID and a single column to set, the component reports success, but no data is changed in NocoDB.

[2022-09-30 14:32] ulich commented on #4235
Thank you. I would be happy to create a PR as well if you like.

[2022-09-30 15:24] luizeof opened #4246 "Error starting N8N 0.196.0: EACCES: permission denied, mkdir"
**Describe the bug**

Using external libraries with this envs:

[code]

This will produce this error:

[code]

With external libraries removed:

[code]

**To Reproduce**

Upgrade N8N Docker to 0.196.0

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the fol

[2022-09-30 15:25] Joffcom commented on #4246
Hey @luizeof,

Already on it 👍🏻 New version should be out shortly

[2022-09-30 15:26] Joffcom commented on #4246
You will need to redownload the image as we will use the same 0.196.0 tag.

[2022-09-30 15:31] luizeof commented on #4246
thanks @Joffcom !!!

[2022-09-30 15:39] Joffcom commented on #3170
Hey @zblesk,

Could you pop open a new issue for that one and include your n8n version and nocodb version?

[2022-09-30 15:45] Ken-Michalak commented on #1988
@jspizziri From the pr, it looks like it might, but I haven't had a chance to verify it yet.

It wouldn't fix the issue that @lcx mentioned though. There needs to be a prefetch or at least a way to configure one to prevent that. Without it, the consumers try to get all of the messages in the queues at once when it reconnects. If the disconnect is on the n8n side, while rabbitmq is still getting me

[2022-09-30 16:04] janober commented on #1988
Fix got released with `n8n@0.196.0`

[2022-09-30 16:07] Joffcom commented on #4246
@luizeof you should be good to go now.

[2022-09-30 16:10] janober commented on #1988
The current node has already a setting for a while, to define how many messages should be processed at once. So also that problem got already fixed.

[2022-09-30 16:27] luizeof commented on #4246
fixed! Thanks a lot @Joffcom

[2022-09-30 16:27] #4246 closed

[2022-10-01 15:16] janober commented on #706
As we did not hear back for over 9 months and nobody ever else reported this issue will it now be closed (is over 2 years old anyway).

[2022-10-01 15:16] #706 closed

[2022-10-01 15:20] janober commented on #2685
As we did not get an answer for 8 months do I close this issue now.

[2022-10-01 15:20] #2685 closed

[2022-10-01 15:23] janober commented on #3036
As we did not get an answer for 6 months and there is a good chance this issue got resolved already do I close this ticket.

[2022-10-01 15:23] #3036 closed

[2022-10-02 09:22] Korayem commented on #2527
After importing in database, run a similar function depending on the table:

`SELECT setval('credentials_entity_id_seq', (SELECT MAX(id) from "credentials_entity"));`

Source: https://stackoverflow.com/a/9108929/80434

[2022-10-03 15:21] matthijs166 commented on #4162
@Joffcom Awesome keep me uptodate!

Im trying to make a docker container with nginx build in.
Its a long shot but worth trying.

[2022-10-03 17:43] Joffcom commented on #3353
Hey @technovangelist,

I have just taken a quick look at the PR and I think the quickest option would be to add a Custom field to the sources so you can select that and input the name then set the search by between ID, Email, Username and URL.

Would this sort of thing work for you?

![image](https://user-images.githubusercontent.com/4688521/193643184-1680a1cc-2d96-4fab-a521-dc924ade1dca.png)

We

[2022-10-04 04:33] Canon88 opened #4256 "TheHive node Alert UPDATE Invalid format for severity"
**Describe the bug**
When i use TheHive node UPDATE alert severity level, i see error: `{"type":"org.thp.scalligraph.InvalidFormatAttributeError","message":"Invalid format for  severity: FString( severity), expected attributeName ()"}`

**To Reproduce**
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/19372121/193733952-840529e5-abe9-4e08-b430-1b7d14898246.png">

**Expe

[2022-10-04 07:48] aschuma opened #4258 "Subworkflow execution timestamp mismatch"
**Describe the bug**

- WF executing some subworkflows
- Execution timestamps in subworkflow have a different timestamp (2h delta), see screenshot

ID 3099 was the main workflow. 3100, 3101, 3102, 3103 are called via workflow node in main workflow (workflow from DB)

 <img width="1934" alt="Screenshot 2022-10-04 at 09 33 48" src="https://user-images.githubusercontent.com/5055033/193763234-c3988715

[2022-10-04 07:55] Joffcom commented on #4258
Hey @aschuma,

This looks very similar to #3855, Are you running Postgres in a container?

[2022-10-04 08:06] Joffcom commented on #4256
Hey @Canon88,

Thanks for reporting this one, I have just put in a PR to fix this one which can be found here #4259

[2022-10-04 17:30] Canon88 commented on #4256
@Joffcom Thanks.
When i try to use thehive alert update tags, i see new err "ERROR: UNKNOWN ERROR - check the detailed error for more information".

n8n TheHive Node error HTTP PATCH

`PATCH /api/alert/~205013152 HTTP/1.1
Accept: application/json
Authorization: Bearer ynLw0AULSM+qFdLuSdfaLseutZKirf2G
Content-Type: application/json
User-Agent: axios/0.21.4
Content-Length: 14
Host: 192.168.199.35:90

[2022-10-04 17:56] hintva commented on #4217
Hi ! Had same issue than you @mark-monteiro, and found same workaround, but this worked for like a few days, before having the same issue again, so it seems it is repeating, but don't have an idea of the frequency yet or the reason... And since I have about 20 Gitlab triggers this is quite time-consuming...
Credentials are fine and repo are accessible to us.
Thank you for submitting this and worki

[2022-10-05 08:43] zblesk opened #4266 "NocoDB doesn't update"
The NocoDB connector's Get/List work, but Update doesn't. It doesn't report any error, either: it says 'succeeded' (and generates no output), but no data is changed in NocoDB.

**To Reproduce**

I have created a new, empty workflow, that only contains a NocoDB component with User Token auth.
To make sure the error isn't somewhere else, I have chosen a table and hardcoded a specific record's ID, an

[2022-10-05 08:47] Joffcom commented on #3170
Looks like we forgot to close this one, The changes for 0.90.0 were released in 0.189.0

[2022-10-05 08:47] #3170 closed

[2022-10-05 08:48] Joffcom commented on #4266
Thanks for opening this one @zblesk, I will update my local nocodb install to 0.97.0 and see if I can reproduce this one.

[2022-10-05 13:17] mark-monteiro opened #4272 "GMail Trigger occasionally misses emails"
**Describe the bug**
The new GMail trigger is not guaranteed to fire for all matching emails

**To Reproduce**
Steps to reproduce the behavior:

1. Set up the GMail trigger in a workflow
2. Receive multiple emails at the same time that match the trigger filters
3. Occasionally some of the emails received will not be included in the trigger

I'm not sure if there is actually a requirements for mult

[2022-10-05 14:54] Joffcom commented on #4256
Hey @Canon88,

When you added the tag did you use the tags option in the node or an expression?

[2022-10-06 10:01] adriendurepaire opened #4276 "CONSTAIN_TOKEN is sent to Hubspot rather than CONTAINS_TOKEN when searching a deal"
Just a typo issue: https://github.com/n8n-io/n8n/blob/3a9c7acb04866e71d10f126d188dd7e84d80a2fe/packages/nodes-base/nodes/Hubspot/DealDescription.ts#L620

[2022-10-06 10:08] Joffcom commented on #4276
Hey @adriendurepaire,

Thanks for reporting this one, I will get a PR put in shortly.

[2022-10-06 10:19] adriendurepaire commented on #4276
Thank you @Joffcom! I also noticed some operators are missing. Here are the operators accepted by Hubspot: IN, NOT_HAS_PROPERTY, LT, EQ, GT, NOT_IN, GTE, CONTAINS_TOKEN, HAS_PROPERTY, LTE, NOT_CONTAINS_TOKEN, BETWEEN, NEQ.

It would be great to be able to use IN, NOT_IN and BETWEEN with n8n

[2022-10-06 10:21] Joffcom commented on #4276
Hey @adriendurepaire,

Seems to make sense to sneak them in while fixing the typo, I will see what I can do 👍🏻

[2022-10-06 11:43] Joffcom commented on #4276
Hey @adriendurepaire,

Had a quick look and is a bit more to it so for now I have just fixed this issue and I will make a ticket to support the full list of operators when we next do a bigger refresh on the node.

[2022-10-06 11:52] adriendurepaire commented on #4276
Thanks a lot @Joffcom :)

[2022-10-06 16:10] geekhuashan opened #4280 "chown: /home/node/.n8n: Permission denied"
**Describe the bug**
When i use docker to install on my DO vps. The wrong message showed

**To Reproduce**
Steps to reproduce the behavior:

1.rebuild my vps
2.install docker
3. install n8n

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**

- OS: [e.g. centos 7 Linux ]
- n8n Version 0.196.0

The wron

[2022-10-06 16:16] Joffcom commented on #4280
Hey @geekhuashan,

Can you confirm which docker image you are using? Are you running the docker run command as a user that has permission to write to the volume (assuming there is one) as well?

[2022-10-07 00:41] geekhuashan commented on #4280
Hey @Joffcom The docker image version is 0.196.0. I'm a newbie and I don't know how to run command as a user or root. I just copy the code from the doc.

docker run -it --rm \
	--name n8n \
	-p 5678:5678 \
	-v ~/.n8n:/home/node/.n8n \
	n8nio/n8n

[2022-10-07 07:06] Joffcom commented on #4280
Hey @geekhuashan,

That is good to hear, I will get this one marked as closed.

[2022-10-07 07:06] #4280 closed

[2022-10-07 08:28] Lars147 opened #4281 "Upgrade for n8n:latest-debian fails - ACCES: permission denied, mkdir"
**Describe the bug**
After doing a `docker-compose pull` followed by `docker-compose down` & `docker-compose up -d`. The n8n instance cannot start anymore. The docker logs show the following error

[code]

I have the feeling that this could be related to https://github.com/n8n-io/n8n/issues/4246

**To Reproduce**
Steps to reproduce the behavior:

Pull newest image for n8n:latest-debian.

There cou

[2022-10-07 08:34] Joffcom commented on #4281
Hey @Lars147,

I believe this will be fixed by #4275, There is a community thread about this one which can be found here: https://community.n8n.io/t/eaccss-permission-denied-after-upgrade/18385

[2022-10-07 08:37] Lars147 commented on #4281
Hi @Joffcom,

thank you for the quick response. Is there a possibility to track the progress when the new version will be released on DockerHub?

[2022-10-07 09:03] Joffcom commented on #4281
Hey @Lars147,

If you want I can let you know when we do the release.

[2022-10-07 10:21] Lars147 commented on #4281
That would be awesome. Thank you!

[2022-10-07 13:45] Joffcom commented on #4272
Hi @mark-monteiro,

Thanks for reporting this one, Looking at the node we set the end date to the time the workflow starts then we pull the emails 🤔

I will have a play with this one and see if I can reproduce the issue and get a fix put in place for it. I have created an internal ticket for this one which we will be tracking as N8N-4919

[2022-10-07 14:02] mdbetancourt opened #4283 "ui poor performance with 100000 execution history"
**Describe the bug**
when i have a lot of execution history the ui feels laggy

**Expected behavior**
run the ui smoothly

[2022-10-07 14:12] Joffcom commented on #4283
Hey @mdbetancourt,

What do you mean? Like the entire application is slow or just loading the execution list?

[2022-10-07 15:16] kevinlitt commented on #3514
getting same error here.

[2022-10-07 17:21] mdbetancourt commented on #4283
@Joffcom just loading execution list i find out the problem is here
/executions-current returns too many records

Server.ts file
[code]

[2022-10-07 22:41] #3295 closed

[2022-10-08 21:03] imagina opened #4291 "[whatsapp-business-node] Locale parameter missing of Send Template"
We cannot configure the Locale parameter to send a template.

![image](https://user-images.githubusercontent.com/758247/194727711-4e985b61-0e1c-4e14-9160-84470fbd1503.png)

Documentation: https://developers.facebook.com/docs/whatsapp/cloud-api/guides/send-message-templates#:~:text=the%20whatsapp_business_messaging%20permission.-,Text%2DBased%20Message%20Templates,-To%20send%20a talk about a langua

[2022-10-08 23:32] crueber opened #4292 "G Suite Admin reporting "invalid Input: [testing]" for user update action."
I believe this line is probably where the issue is coming from:

https://github.com/n8n-io/n8n/blob/b2c674591ca73c6c481d7cadc50965fd0ee96447/packages/nodes-base/nodes/Google/GSuiteAdmin/GSuiteAdmin.node.ts#L411

I am not set up to do development on this, but I'm consistently getting the invalid input only as part of the update action for users.

[2022-10-09 03:40] Joffcom commented on #4291
Hey @imagina,

Can you share the template you have created in WhatsApp business manager and can you confirm it has been approved to use.

[2022-10-09 18:03] jjboardman opened #4293 "Box node producing 2 items on Folder creation"
**Describe the bug**
When the box node is used to create a new folder it outputs 2 items but the UI only displays 1, it seems that the second item is the actual out put and the first one is empty/ doesn't really exist

**To Reproduce**
Set version to 0.195.5 or 0.196.0 execute the Box node to create a new folder.

**Expected behavior**
1 item in output

**Environment (please complete the following

[2022-10-09 18:15] Joffcom commented on #4293
Hey @jjboardman,

Do you have a screenshot of the 2 items? Is it only when creating a new folder as well?

[2022-10-09 18:37] jjboardman commented on #4293
Hey @Joffcom
Here is the json output:
![image](https://user-images.githubusercontent.com/58300788/194773707-a5545a60-8d5d-4e8c-94d6-178b52f16aa7.png)
Here shows the array of items only has 1 item in it:
![image](https://user-images.githubusercontent.com/58300788/194773762-3debbff4-6259-48ce-bc1d-7091ad1af026.png)

I also tried Get folder and update folder both returned 1 item.

[2022-10-09 23:46] waveywaves opened #4296 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new n8n contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for n8n. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up a complete devel

[2022-10-10 05:12] zhzy0077 commented on #4266
+1 the error on my instance is:
[code]

Sounds like the URL in [API docs](https://apis.nocodb.com/#tag/DB-table-row/operation/db-table-row-bulk-create) is different from what I saw in the error message: `/nc/demo_0r5n/api/v1/notifications/bulk`

[2022-10-10 06:17] distante opened #4297 "Trying to build a custom node throws: Error: Cannot find module 'n8n-node-dev/src'"
**Describe the bug**
Trying to build a custom node throws Error: Cannot find module 'n8n-node-dev/src'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any empty folder
2. Run `n8n-node-dev new`
3. Run `n8n-node-dev build`

**Expected behavior**
The node example build

**Current behavior**
The build process fails
[code]

**Environment (please complete the following information):**

- O

[2022-10-10 06:25] Joffcom commented on #4297
Hey @distante,

Have your tried our starter template instead? You can find it here: https://github.com/n8n-io/n8n-nodes-starter

[2022-10-10 08:21] Joffcom commented on #4266
Hey @zhzy0077,

If you got to the node settings what version is selected?

![image](https://user-images.githubusercontent.com/4688521/194824658-fd7b6766-e5d5-48bf-9ff3-b9674b200fec.png)

[2022-10-10 08:39] Joffcom commented on #4283
Hey @mdbetancourt,

Ah ok yeah, on the execution list itself I am fairly sure we are aware of it having a hard time to load lots of data. Do you see the slow down instantly or after scrolling through the list a bit?

[2022-10-10 09:08] Joffcom commented on #4281
Hey @Lars147,

We have just kicked off the release process, Once the action links below has finished you will be good to upgrade... It normally takes about an hour.

https://github.com/n8n-io/n8n/actions/runs/3217954006

[2022-10-10 09:35] Joffcom commented on #4132
Hey @tomaszkiewicz,

You might be able to enable debug logging and see if it outputs anything extra, I have not had a chance to spend more time on this one yet as it seems to be service specific and not a bug with n8n.

[2022-10-10 09:44] Lars147 commented on #4281
Awesome, thank you very much. It is working now!

[2022-10-10 09:44] #4281 closed

[2022-10-10 09:50] Joffcom commented on #4217
Morning,

I have just fixed this locally and will get a commit in shortly, Just going to take a look at the other issue now and see if it is related.

[2022-10-10 12:43] distante commented on #4297
Hi, thanks the starter builds correctly.

Although the npm linking to the global n8n install does not work but I suppose that is another problem...

[2022-10-10 12:43] #4297 closed

[2022-10-10 14:34] imagina commented on #4291
Sure, this is it
![image](https://user-images.githubusercontent.com/758247/194890472-e884fe75-1608-46d5-90f1-69eba499fb27.png)

[2022-10-10 15:05] zblesk commented on #3476
Hello @Joffcom , any news on this one?

[2022-10-10 20:58] Joffcom commented on #3476
Hey @zblesk,

We released an update to the node that works with the newer API version, is that working for you? You can select the API version under the nodes settings.

I do have another case opened where update isn't working but I suspect it could be down to the node version.

[2022-10-10 21:00] Joffcom commented on #4291
Hey @imagina,

Has that been approved to be sent? The same error was reported on the community forum the other day and it was a template issue so I am wondering if this is the same thing.

[2022-10-11 07:18] zblesk commented on #3476
Hey @Joffcom, thanks for pinging me. I updated the docker container; N8n now reports version 0.197.1.

The behavior is the same - no error reported, no data changed in the DB.
I also ran a `docker-compose logs -f --tail 300`, but nothing shows up in the log when I invoke the action.

Just to double-check, since the documentation seems lacking: I prepared the update by entering the column's name as

[2022-10-11 07:49] #4256 closed

[2022-10-11 07:49] #4276 closed

[2022-10-11 07:50] #4217 closed

[2022-10-11 07:51] #4155 closed

[2022-10-11 09:37] Canon88 commented on #4256
when i select expression everything is ok, but i select Fixed write `exp` , i see error.

<img width="1418" alt="image" src="https://user-images.githubusercontent.com/19372121/195054615-987a8d82-59c2-468e-917d-69aca7dffed9.png">
<img width="1420" alt="image" src="https://user-images.githubusercontent.com/19372121/195054690-8484f0de-7cdc-4acd-9bc7-2099d18fe8ca.png">

[2022-10-11 10:12] Joffcom commented on #3870
@leisefuxX are you still having this issue?

[2022-10-11 10:59] Joffcom commented on #4293
Hey @jjboardman,

Thanks for the info, I managed to reproduce and have put a PR in that will fix this in a future release.

[2022-10-11 11:22] leisefuxX commented on #3870
yes @Joffcom i am still having this issue.

n8n and baserow are running in vanilla docker, no changes to environment or container. i can't use FQDN, IP:Port or (Docker-)DNS like http://basrow:80

[2022-10-11 13:30] #4293 closed

[2022-10-11 14:05] christiaanwesterbeek opened #4314 "For some workflows inspecting any executed node crashes the browser tab after a while"
**Describe the bug**
When I manually run a workflow or looking at a past execution, and I double click on a Node, there is no response. And after a while the browser tab either crashes (Chrome) or just freezes (Firefox+Safari). Instead I expected the node to open with the usuals: dialog with input data on the left, the node details in the middle and output on the right.

**To Reproduce**
See descr

[2022-10-11 14:09] Joffcom commented on #4314
Hey @christiaanwesterbeek,

Does that happen for any workflow or just that one?

[2022-10-11 14:18] christiaanwesterbeek commented on #4314
Not any workflow. Also this one https://nprc.app.n8n.cloud/workflow/1012 . But others are fine it seems

Also any of the executions of the problematic workflow can't bes inspected. If you click on a node that was executed. Same thing; tab crashes in Chrome, freezes in Firefox and Safari. This execution is one of them https://nprc.app.n8n.cloud/execution/27860

[2022-10-11 14:25] imagina commented on #4291
Yes, it is approved. if we send manually with the locale parameter it works
![image](https://user-images.githubusercontent.com/758247/195118188-189e6e4c-703e-4c4a-81af-734023957182.png)

[2022-10-11 16:04] Joffcom commented on #4292
Hey @crueber,

Thanks for reporting this one, I have just had a quick look and managed to reproduce the issue and have put in a PR to fix it. Once merged it will be available in the next release 👍🏻

[2022-10-11 20:19] Joffcom commented on #4291
Hey @imagina,

That is a bit strange, if you send that template from n8n what message do you get? Your original screenshot looks to be a different template.

[2022-10-11 20:21] Joffcom commented on #4314
Hey @christiaanwesterbeek,

As this is related to Cloud it might be better to email our support address so we can look into it there.

Anything I ask you to try and do here you likely won't be able to access.

[2022-10-12 04:01] zobayer1 commented on #2371
It might be more of a feature request, but it would be nice to be able to link the node packages without having to install both the nodes-library and n8n globally.

[2022-10-12 05:52] hckhanh commented on #3838
Hi @Joffcom,
Now everything run smoothly right now.

[2022-10-12 05:54] hckhanh commented on #3837
Hi @Joffcom, I think the issue is resolve for now. I shall close the issue

[2022-10-12 05:55] #3837 closed

[2022-10-12 07:36] aschuma commented on #4258
After using UTC for Postgres and for N8N, everything works fine for me so fare:

postgressql.conf
[code]

N8N Env:
[code]

@Joffcom Thank you for the hint

[2022-10-12 07:36] #4258 closed

[2022-10-12 08:38] kevinrademan commented on #3824
I am seeing exactly the same behavior with the redis trigger, so this might not be a MQTT only issue.

[2022-10-12 09:44] Joffcom commented on #3824
@kevinrademan That is interesting, So are you seeing the same message being pulled multiple times? I would be surprised if it is the same cause but you never know.

[2022-10-12 13:47] Joffcom commented on #3838
Hey @hckhanh,

That is good to hear, I will get this one marked as closed thanks for letting us know.

[2022-10-12 13:47] #3838 closed

[2022-10-12 14:02] #1226 closed

[2022-10-12 15:57] Joffcom commented on #4296
Hey @waveywaves,

I have asked the question internally to see if this is something we would be interested, Personally I don't see what I would gain from using a service like Uffizzi over just running a couple of npm commands locally to check out the changes.

I don't think we technically fall under the free tier either as we are not an Open Source project.

[2022-10-12 17:44] imagina commented on #4291
![image](https://user-images.githubusercontent.com/758247/195411452-0e3b598c-f53f-40b1-b5ae-4b6ea847ae3d.png)
the message with the same template it like the first screenshot... for the field of the templateName we got these message just like the senderId anyway for other message type (text, audios, images, documents...) works setting it manually

[2022-10-12 19:50] Joffcom commented on #4291
Hey @imagina,

So that is likely to be your problem, the template looks like it needs to be set from the drop-down.

If that isn't working try setting the value to `template_id|lang_Code` and see if that works.

[2022-10-12 22:54] imagina commented on #4291
Works joining the templateName with the locale! Thank you @Joffcom
![image](https://user-images.githubusercontent.com/758247/195462377-8fbbae5b-deaa-427e-9400-4ee4ba90f6c6.png)
just another thing, why don't the dropdowns load this data for us?

[2022-10-13 05:37] michael-radency commented on #1380
Hello @ixidion , I do not think this is a bug, here for example from browser's console when timezone isn't specified:
![image](https://user-images.githubusercontent.com/88898367/195509749-828c677a-0f13-4c36-b8be-0aeee382e710.png)
behavior is reproducible, but it's nothing specific to IF node:
date1: just string
date2: `{{DateTime.fromISO("2021-01-22T00:00:00.000Z").toMillis()}}`
date3:` {{new Date

[2022-10-13 06:51] zhzy0077 commented on #4266
@Joffcom it works after setting 'v0.90.0 onwards'. thank you!

[2022-10-13 11:06] kevinrademan commented on #3824
@Joffcom I would'nt call it pulled multiple times. Its almost like the redis trigger doesnt cleanup some kind of queue resulting in previously executions of the trigger running again. So over time the amount of jobs that gets executed gets more and more.

Heres my usecase. Im doing some local development on a shopify integration and required the webhooks to reach my machine. We have a self hosted

[2022-10-13 11:07] Joffcom commented on #4291
Hey @imagina,

I am not sure, What happens if you click on the dots and select refresh list?

[2022-10-13 11:08] Joffcom commented on #4266
@zblesk does this work for you as well?

[2022-10-13 11:38] kevinrademan commented on #3824
The public instance is hosted in a kubernetes cluster that is publically accessible. This instance has a webhook trigger and a redis node option in the workflow (i've attached a screenshot)
![image](https://user-images.githubusercontent.com/6704740/195586179-cd1b62ef-c493-4c44-a61c-2c072c7ea7ec.png)

The other instance is hosted in docker desktops kubernetes locally and uses a Redis Trigger and a

[2022-10-13 12:20] kevinrademan commented on #3824
@Joffcom  Here is some screenshots of the execution. I created this simple flow which allows me publish 1 message to redis
![image](https://user-images.githubusercontent.com/6704740/195592875-d0234442-5a51-4cc3-835e-d187375bb92c.png)

And here is an example of what happens locally when I run that workflow (this was after a restart of the pod, more information around that below)
![image](https://us

[2022-10-13 13:02] zblesk commented on #4266
@Joffcom I've added some info here: https://github.com/n8n-io/n8n/issues/3476#issuecomment-1274199626
re-tried today, the behavior is still the same.

[2022-10-13 13:12] kevinrademan commented on #3824
I enabled debug logging, but no useful information there. Noticed that the Loading conversation logs happen when the sub processes start up so its not a restart causing the leak. The only logs that happened was the health check and this one which doesn't seem related.

[code]

[2022-10-13 15:42] mdbetancourt commented on #4283
instantly for now i just limited the amount of returned records with

[code]

[2022-10-13 16:58] Joffcom commented on #3824
Hey @kevinrademan,

Looking at this I don't believe it is related to the MQTT trigger issue, I take it the public instance is not using a Redis trigger at all and is just posting the data so the local instance can pick it up?

How many n8n instances are running in the local instance? I am wondering if maybe there are multiple workers and they are picking up the same message.

[2022-10-13 21:57] np opened #4341 "Missing Trello API Credential Type for HTTP Request node"
**Describe the bug**

I am running the latest n8n desktop app.
I have one Trello auth setup.
I have one HTTP Request node in the canvas and in Credential Type drop down select, I see plenty of APIs but not Trello.

**To Reproduce**
Steps to reproduce the behavior:

1. New workfolw
2. Create HTTP Request
3. Select "Predefined Credential Type"
4. No Trello in the Credential Type drop down menu.

**E

[2022-10-13 22:04] kevinrademan commented on #3824
Hey @Joffcom

_Looking at this I don't believe it is related to the MQTT trigger issue_
Yes I agree. Should I create a new issue with the bug report?

_I take it the public instance is not using a Redis trigger at all and is just posting the data so the local instance can pick it up?_
Correct

_How many n8n instances are running in the local instance? I am wondering if maybe there are multiple wor

[2022-10-14 00:00] imagina commented on #4291
@Joffcom is it possible setting an entry expression for `components`?
![image](https://user-images.githubusercontent.com/758247/195733050-edaaa9c0-31d7-42cf-99bb-ba40e8895bb1.png)

[2022-10-14 06:25] janober commented on #4341
That would actually be more of a feature request than a bug. Can you please post about it here:
https://community.n8n.io/

Thanks a lot!

[2022-10-14 06:25] #4341 closed

[2022-10-14 07:22] Joffcom commented on #4314
Hey @christiaanwesterbeek,

I can see the ticket has been created and our team have been busy looking into it, For now I am going to the issue here 👍🏻

[2022-10-14 07:22] #4314 closed

[2022-10-14 07:23] Joffcom commented on #4291
Hey @imagina,

You would need to add the items first then change to an expression.

[2022-10-14 08:37] dewdeded opened #4344 ""if"-Node behaves strangely when different (multiple) input is passed"
We run the latest self-hosted n8n (in an Docker env).

We see an behaviour we didn't expect. If multiple line input with different values is passed into an "if"-n8n-Node,
the result is unexpected.

We had a decision if a value is 1 or 0, we passed two lines into the if-Node, one with value 1 and one with value 0.
The node passed line 1 in both direction (yes and no). Line 2 was ignored.

Any comme

[2022-10-14 08:41] janober commented on #4344
Can you post a simple example workflow that shows that behavior so that we can debug and have a look. Thanks!

[2022-10-14 20:24] Subtixx opened #4352 "Cannot run n8n locally nor in a docker container locally"
**Describe the bug**
I want to try to develop some nodes but am unable to install n8n locally nor in a docker container locally. Both return an empty white page with a javascript error in the console:

[code]

**To Reproduce**
Steps to reproduce the behavior:

No idea. Just tried the Tutorial on the Website to develop nodes. And then tried a local docker copy of the production server.

**Expected

[2022-10-14 20:49] Joffcom commented on #4352
Hey @Subtixx,

This sounds like an issue we fixed earlier today, can you confirm the n8n version you are trying to use?

[2022-10-14 21:07] Joffcom commented on #3824
Hey @kevinrademan,

Another issue may be needed or possibly a support post on our community forum as it will get more eyes on it. If it turns out to be a bug and not an odd configuration issue we can then open a dev ticket to fix it.

It may also be worth not using the helm option locally and just using a simple docker setup to see if that changes anything.

[2022-10-14 21:22] Subtixx commented on #4352
Yep. Works flawlessly with the .2

[2022-10-14 21:22] #4352 closed

[2022-10-15 05:30] memetican opened #4353 "Notion "Add Block" button is inaccessible off-screen"
**Describe the bug**
In the Notion node configurator, when a few **properties** have been added, the **Add block** button becomes inaccessible off-screen ( Chrome, Windows ). See screenshot. I was able to access it by adding margin-bottom: 100px; through chrome devtools.

The scrollbar ends well below the bottom of the configuration frame, by about 100px- so whatever is at the bottom of the config

[2022-10-15 06:24] Joffcom commented on #4353
Hey @memetican,

Can you try updating to the latest release (0.198.2)?

[2022-10-16 06:11] ixidion commented on #1380
@michael-radency Thank you for elaborating. So, it seems like it is a JavaScript/Browser Pitfall. I'm with you, doesn't look like a IF-Node bug.

[2022-10-16 21:15] macaron opened #4354 "Twitter Node image attachments are not working"
**Describe the bug**
Twitter Node image attachments are not working. (multiple image upload)
However, multiple attachments in the Send Email node work well.
<img width="320" alt="スクリーンショット 2022-10-17 6 13 41" src="https://user-images.githubusercontent.com/19354702/196058638-40908f76-a562-48b0-879e-1d33c947f5f4.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Get sample images. (binary

[2022-10-17 05:42] michael-radency commented on #1380
Hello @ixidion , thanks for replying, as we agree that this behavior is not a n8n bug and it's not related to IF node I'll close this issue

[2022-10-17 05:42] #1380 closed

[2022-10-17 05:58] Z0LDevs-varnion opened #4355 "Error `TypeError: Cannot read properties of undefined (reading 'model')` while starting n8n"
**Describe the bug**
Error `TypeError: Cannot read properties of undefined (reading 'model')`  while starting n8n process on terminal after fresh install
 `~ $ n8n start`
`Initializing n8n process`
`UserSettings were generated and saved to: /data/data/com.termux/files/home/.n8n/config`
`Migrations in progress, please do NOT stop the process.`
`Migrations finished.`
`query is slow: INSERT INTO "mig